[2009-07-18 05:36] skiz opened #1 "Conflicts with no-peeping-toms plugin"
I have come across some serious issues with using the no-peeping-toms plugin along with the state machine plugin.  If you have any state machine configured in any loaded file, then the no-peeping system breaks, and also the specs fail.  I am working on a solution to this but wanted to note it on both repositories. Perhaps someone else may come up with a fix first.

[2009-08-03 14:47] nicolasblanco opened #2 "Exception when changing state of an existing record with a nil state"
state_machine is a great plugin but I've found a problem.

When you add a state_machine to an existing ActiveRecord model and load an existing model, the state of the model is therefore nil, state_machine raises an exception when you call an event.

<pre>

=> #<User id: 7, login: "erf67", email: "erf67@erf67.com", ...>

=> nil

NoMethodError: You have a nil object when you didn't expect it!
The er

[2011-08-06 15:14] obrie opened #11 "Problem with parent-child relations in tests"
**Dennis Theisen** opened this issue
1. Ok, I have a Blog which has Articles which has Comments (all ActiveRecord).
2. The StateMachine is used in the comments (for moderation/trash/spam states).
3. When running the following BlogTest, I get a strange exception (at least for me it&rsquo;s strange):

   @@@ ruby
   assert Blog.create(:title => &rsquo;hey&rsquo;)
   @@@

This is the exception:

 @No

[2011-08-06 15:14] obrie commented on #11
**Dennis Theisen** commented

It is also not possible for me to use
 @@@ ruby
Article.create
 @@@

anymore, it throws the same kind of exception:

 @NoMethodError: undefined method `create&rsquo; for PluginAWeek::StateMachine::Event:Class@

I am really going crazy over this, I have no clue what I am doing wrong. But it seems, like it&rsquo;s only me, as I have found no one else having this kind of

[2011-08-06 15:14] obrie commented on #11
Hi soleone,

Thanks for reporting the problem.  It sounds like #create is getting called from within an event block like so:

 @@@ ruby
state_machine do
  event :do_something do
    create :id => 1 # or something like that
    ...
  end
end
 @@@

Is this a problem you&rsquo;re still running into or has it since been resolved?

[2011-08-06 15:14] obrie commented on #11
**Dennis Theisen** commented

Hey Aaron,

unfortunately I forgot to update this ticket, because the problem is resolved.

There was a namespace clash: in our system we also had an `Event` class with a `create()` method, which was listening for `Blogs` and `Comments` creation. But somehow because the StateMachine&rsquo;s Event-Class was used in one of the child classes, whenever a Blog got created,

[2011-08-06 15:14] obrie commented on #11
**Dennis Theisen** commented

</code>

Btw, it seems I screwed up the layout because there is an unclosed code-tag. I tried to close it with this post :)

[2011-08-06 15:14] obrie commented on #11
Thanks for the update.  It turns out this actually is a problem which could affect other plugins here as well.  I didn&rsquo;t think about the fact that including PluginAWeek::StateMachine in ActiveRecord would cause all model references to Event/Machine/Transition to point to those classes under the PluginAWeek::StateMachine namespace instead of the top-level namespace.  A very interesting proble

[2011-08-06 15:14] obrie commented on #11
(from [a3cbd3308f37deb083d277c1b253837e93e3407a]) Change how the base module is included to prevent namespacing conflicts [#1 state:resolved] http://github.com/pluginaweek/state_machine/commit/a3cbd3308f37deb083d277c1b253837e93e3407a

[2011-08-06 15:14] #11 closed, assigned to obrie

[2011-08-06 15:14] obrie opened #12 "Error in API Documentation"
**Jon** opened this issue

I noticed an error in the API that may confuse some people.

 @@@ ruby
state_machine :state, :initial => &rsquo;idling&rsquo; do
end
 @@@

Yet, the example shows the initial state to be &rsquo;parked&rsquo;.

 @@@ ruby
vehicle = Vehicle.create  # => #<Vehicle id: 1, seatbelt_on: false, state: "parked">
 @@@

Thanks for the plugin!

[original LH ticket](http://pluginaweek

[2011-08-06 15:14] obrie commented on #12
(from [c02e3dc02b1a6749a571652e0ba3ad9572658be8]) Fix state machine examples in README to match output. [#2 state:resolved]
http://github.com/pluginaweek/state_machine/commit/c02e3dc02b1a6749a571652e0ba3ad9572658be8

[2011-08-06 15:14] obrie commented on #12
Thanks for the heads up!

[2011-08-06 15:14] #12 closed, assigned to obrie

[2011-08-06 15:14] obrie opened #13 "transition without save?"
**Aaron Gibralter** opened this issue

I&rsquo;ve encountered a few cases where I might want to call a transition without immediately saving the record.

For instance, on line 166 of user.rb (http://gist.github.com/16815) in one of my before_save callbacks, I want to transition to an "unverified" email. I don&rsquo;t want to save _in_ my before_save callback though... Also on lines 105 and 106 of

[2011-08-06 15:14] obrie commented on #13
This ability has now been added using the same syntax you proposed (e.g. vehicle.park(false)).

(from [307ac8ebd5ba06d2e8dd47e7bbf6242b3747f56a]) Re-design to be library-agnostic (define state machines on any Ruby class, with integration support for ActiveRecord and DataMapper) http://github.com/pluginaweek/state_machine/commit/307ac8ebd5ba06d2e8dd47e7bbf6242b3747f56a

[2011-08-06 15:14] obrie commented on #13
**Aaron Gibralter** commented

Is the code after that commit stable? I merged back to the master branch but it breaks my code: seems that my initial states aren&rsquo;t being set anymore...

[2011-08-06 15:14] obrie commented on #13
It _should_ be stable, but that doesn&rsquo;t mean I haven&rsquo;t missed something.  Much of the library was rewritten since the last release, so it needs to go through the rounds a bit.  I&rsquo;ve got two libraries (has_messages and has_emails) written against the latest state_machine library and they seem to be passing all of their tests fine.

If you could open a new ticket describing the iss

[2011-08-06 15:14] #13 closed, assigned to obrie

[2011-08-06 15:14] obrie opened #14 ":initial state not being set"
**Aaron Gibralter** opened this issue

commit 6f25124e765e6b3475a5c3aa1a908659555c3451

http://gist.github.com/34240

When I do User.new my state_email is "" not "fresh"

Any thoughts?

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/4)

 This ticket has 0 attachment(s).

[2011-08-06 15:14] obrie commented on #14
I have a feeling that this was caused by the same issue that was preventing DataMapper resources from getting their attributes initialized.  When just using the ActiveRecord library, I don&rsquo;t experience the problem, but there may be other plugins/extensions in your application that may have introduced the same issue.

Can you tell me if http://github.com/pluginaweek/state_machine/commit/aabdc

[2011-08-06 15:14] obrie commented on #14
**Aaron Gibralter** commented

still doesn&rsquo;t fix it... but it seems I can track down the problem to this:
 @@@
def initialize_with_state_machine(_args, &block)
        initialize_without_state_machine(_args, &block)
        require &rsquo;ruby-debug&rsquo;
        debugger
        self.class.state_machines.each do |attribute, machine|
          # Set the initial value of the machine&rsquo;s

[2011-08-06 15:14] obrie commented on #14
**Aaron Gibralter** commented

I mean "if send(attribute).empty?" => that seems to solve the problem for me...

[2011-08-06 15:14] obrie commented on #14
Ah, great catch!  I forgot that when you have mysql configured with strict options turned off, it&rsquo;ll default string columns to an empty string.  I&rsquo;ll add in that fix.

[2011-08-06 15:14] obrie commented on #14
**Aaron Gibralter** commented

Ah... ruby-debug, I love you! :)

Thanks for the updates too -- great plugin btw!

[2011-08-06 15:14] obrie commented on #14
(from [bee135e27fb88695a5f03f81130fa8b30671a86d]) Fix initial states not getting set when the current value is an empty
string. [#4 state:resolved] http://github.com/pluginaweek/state_machine/commit/bee135e27fb88695a5f03f81130fa8b30671a86d

[2011-08-06 15:14] obrie commented on #14
**Jon** commented

This issue is still alive in master, best I can tell. The initial state is not being set.

Although I checked out the revision linked to in the comment above, and the `:initial` state worked.

[2011-08-06 15:14] obrie commented on #14
Jon,

Can you provide the state machine definition that you&rsquo;re using in which you&rsquo;re experiencing this?

Note that there&rsquo;s a major difference in how states get initialized between the commit referenced in this bug and master.  If you define an initialize method for your class (that has the state machine) and you don&rsquo;t call super somewhere within that method, then the states

[2011-08-06 15:14] #14 closed, assigned to obrie

[2011-08-06 15:14] obrie opened #15 "warning: undefining `initialize'"
**tsechingho** opened this issue

yesterday i check out the new version state machine for my previous project using old version state machine and rails 2.2.2. I encounter two situation which can be produced many times.

(1) **/opt/local/lib/ruby/gems/1.8/gems/activerecord-2.2.2/lib/active_record/base.rb:410: warning: undefining `initialize&rsquo; may cause serious problem**

I get this waring whet

[2011-08-06 15:14] obrie commented on #15
(from [c3d532f50b2cf0f9f8eddb1ac2c81e71a07eb1ce]) Fix ActiveRecord state machines trying to query the database on unmigrated models [#5]
http://github.com/pluginaweek/state_machine/commit/c3d532f50b2cf0f9f8eddb1ac2c81e71a07eb1ce

[2011-08-06 15:14] obrie commented on #15
(from [06e8e845b583fc229ee023dd63abc390e266472e]) Fix aliasing :initialize on ActiveRecord models causing warnings when the environment is reloaded [#5 state:resolved]
http://github.com/pluginaweek/state_machine/commit/06e8e845b583fc229ee023dd63abc390e266472e

[2011-08-06 15:14] obrie commented on #15
Thanks for the detailed report!  Helped uncover some great ActiveRecord edge cases.

[2011-08-06 15:14] obrie commented on #15
**tsechingho** commented

Thanks for fix, it does help a lot.

[2011-08-06 15:14] #15 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #16 "extensions.rb syntax error in ruby 1.8.6"
**tsechingho** opened this issue

I found the fix [06e8e845b583fc229ee023dd63abc390e266472e]:http://github.com/pluginaweek/state_machine/commit/06e8e845b583fc229ee023dd63abc390e266472e has a syntax error in ruby 1.8.6.

everything works fine in my development box: ruby 1.8.7 (2008-08-11 patchlevel 72) [powerpc-darwin8]

but I got an error in my production box: ruby 1.8.6 (2008-08-11 patchlevel 287

[2011-08-06 15:15] obrie commented on #16
(from [f056c176c230793e7ba81ac40e47138bc1651a99]) Revert to string evaluation when using blocks with define_method since it&rsquo;s not supported in Ruby 1.8.6. [#6 state:resolved]
http://github.com/pluginaweek/state_machine/commit/f056c176c230793e7ba81ac40e47138bc1651a99

[2011-08-06 15:15] obrie commented on #16
Thanks for the heads up :)

[2011-08-06 15:15] #16 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #17 "unpredictable results for "?" methods for multiple state_machines"
**Aaron Gibralter** opened this issue

Does state_machine define methods to test the current state? The github README examples seem to show that vehicle.parked? will say whether or not the vehicle is parked. I&rsquo;ve been getting kind of unpredictable behavior with my models with multiple state_machines. For some of them the "?" methods work and others don&rsquo;t:

 @@@
# class User ...

state_

[2011-08-06 15:15] obrie commented on #17
Is this using ActiveRecord?

With regard to the predicate naming, you make a good point.  I was a bit reluctant adding in predicate methods because of conflicting names between multiple state machines, but I hadn&rsquo;t even thought about namespacing them :)

I&rsquo;ll have to give more thought into how predicate methods are generated and whether/when to namespace them.

[2011-08-06 15:15] obrie commented on #17
Also, do you have a full example that replicates this behavior?  I&rsquo;m unable to in my environment.

[2011-08-06 15:15] obrie commented on #17
**Aaron Gibralter** commented

Here are my state_machines for user.rb and some console output:

 @@@
class User < ActiveRecord::Base

  # ...

  state_machine :state_email, :initial => &rsquo;fresh&rsquo; do

[code]

  end

  state_machine :state_password, :initial => &rsquo;known&rsquo; do

[code]

  end

  state_machine :state_news, :initial => &rsquo;pending&rsquo; do

[code]

  end

  state_ma

[2011-08-06 15:15] obrie commented on #17
Sorry for the dumb question, but just to verify the environments...  What versions of Ruby, Rails, and state_machine are you on?

[2011-08-06 15:15] obrie commented on #17
**Aaron Gibralter** commented

Oh sorry, no that&rsquo;s my bad (not a dumb question at all) -- I forgot to include those:

state_machine: bee135e27fb88695a5f03f81130fa8b30671a86d
rails 2.2.2

I just saw there are newer commits -- I&rsquo;ll update and see if that changes anything.

[2011-08-06 15:15] obrie commented on #17
From what I can tell, it looks like that implementation was added after that commit.

Also, FYI, I&rsquo;ll be adding a :namespace option on the state machine which will support doing something like so:

 @@@
state_machine :state_email, :initial => &rsquo;fresh&rsquo;, :namespace => &rsquo;email&rsquo; do
  event :unverify do
    transition :to => &rsquo;unverified&rsquo;, :from => %w(unverified v

[2011-08-06 15:15] obrie commented on #17
**Aaron Gibralter** commented

Ah, great call!

[2011-08-06 15:15] #17 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #18 "bug in namespaced bang! events"
**Aaron Gibralter** opened this issue

I committed a bug fix:

http://github.com/agibralter/state_machine/commit/461eae74f7818fd71452761723bd18a58b3a97c4

Basically you just missed changing one instance of "name" to "qualified_name."

-ajg-

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/8)

 This ticket has 0 attachment(s).

[2011-08-06 15:15] obrie commented on #18
(from [408ed514b34c996cd7d0851ea16b9954a1faeca6]) Fix the bang! version of a namespaced event not calling the namespaced version of the non-bang! event [#8 state:resolved]
http://github.com/pluginaweek/state_machine/commit/408ed514b34c996cd7d0851ea16b9954a1faeca6

[2011-08-06 15:15] obrie commented on #18
Nice call, thanks for the heads up.

[2011-08-06 15:15] #18 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #19 "bug in namespaced model callbacks"
**Aaron Gibralter** opened this issue

It seems like AR observer callbacks are broken with namespaces... I&rsquo;ve tracked the problem down to:

lib/state_machine/integrations/active_record.rb:177
 @@@
        def after_initialize
          # Observer callbacks never halt the chain; result is ignored
          callbacks[:before] << Callback.new {|object, transition| notify(:before, object, transi

[2011-08-06 15:15] obrie commented on #19
**Aaron Gibralter** commented

How&rsquo;s this?

 @@@
        def notify(type, object, transition)
          qualified_event = transition.machine.namespace ? "#{transition.event}_#{transition.machine.namespace}" : transition.event
          ["#{type}_#{qualified_event}", "#{type}_transition"].each do |method|
            object.class.class_eval do
              @observer_peers.dup.each do |observ

[2011-08-06 15:15] obrie commented on #19
**Aaron Gibralter** commented

http://github.com/agibralter/state_machine/commit/b35560d24fb757306487a63d7a0398174d66aff3

I don&rsquo;t know my way around the tests too well... or how DataMapper/Sequel work.

[2011-08-06 15:15] obrie commented on #19
(from [a2158b233290da82ccce5e9bb2d15fad0448cffe]) Fix ActiveRecord observers to work with namespaced transitions http://github.com/pluginaweek/state_machine/commit/a2158b233290da82ccce5e9bb2d15fad0448cffe

[2011-08-06 15:15] obrie commented on #19
Thanks again :)

[2011-08-06 15:15] #19 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #20 "problems with SM cols in migrations"
**Aaron Gibralter** opened this issue

Ok, so I can&rsquo;t really figure out what&rsquo;s going on here. For some reason it seems like the columns associated with state_machine in my migrations are always being set blank.

Here is a link to part of my migration and two of my models:

https://gist.github.com/d079cdfedb66dff9361f

After the migration, the every row in the contextualizations table h

[2011-08-06 15:15] obrie commented on #20
Interesting problem... thanks for the report.

The issue here is that the model is loaded before the state columns exist.  As a result, state_machine will define an attr_accessor for the state attribute.  This means that when you have the following:

 @@@ ruby
c.state_status_user = &rsquo;normal&rsquo;
 @@@

...this will _not_ store the value in ActiveRecord&rsquo;s internal hash, but rather an in

[2011-08-06 15:15] obrie commented on #20
(from [1475acf878aa697c1ed9dbab792e14d782a0fc2e]) Never automatically define machine attribute accessors when using an integration [#10 state:resolved]
http://github.com/pluginaweek/state_machine/commit/1475acf878aa697c1ed9dbab792e14d782a0fc2e

[2011-08-06 15:15] #20 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #21 "rake tasks don't show up in Rails"
**Pete Forde** opened this issue

I noticed that there&rsquo;s no tasks folder in state_machine. The way rake works (as I understand it) is that any rake tasks in files with a .rake extension in a tasks folder will show up in the available tasks for a project.

In my local checkout I:

mkdir tasks
cp Rakefile tasks/Rakefile.rake

And that works. I&rsquo;m sure there&rsquo;s a best practice I&rsquo

[2011-08-06 15:15] obrie commented on #21
(from [a75a28207e7cf33a48cc948cab1b5688408b660a]) Fix rake tasks not being registered in Rails/Merb applications [#11 state:resolved]
http://github.com/pluginaweek/state_machine/commit/a75a28207e7cf33a48cc948cab1b5688408b660a

[2011-08-06 15:15] obrie commented on #21
Thanks for the heads up!

[2011-08-06 15:15] #21 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #22 "problems running graphviz"
**Pete Forde** opened this issue

I&rsquo;ve installed the graphviz darwin package, and the graphviz-ruby gem.

I created a very simple class to test the state_machine:draw:rails functionality, and this is what I get:

<pre>
pete ~/quotesys (edge)$ rake state_machine:draw:rails CLASS=Booking
(in /Users/pete/quotesys)
  SQL (0.4ms)   SET SQL_AUTO_IS_NULL=0
  SQL (0.6ms)   SHOW TABLES
  SQL (0.2ms)

[2011-08-06 15:15] obrie commented on #22
Sounds like a problem with the Darwin package.  A quick Google search reveals the following: http://blog.grogmaster.com/2008/12/installing-graphziv-on-mac-os-x.html

Can you try following those instructions and seeing if it fixes the problem?  Unfortunately, I don&rsquo;t have access to a Mac.

[2011-08-06 15:15] obrie commented on #22
**Pete Forde** commented

Hey Aaron,

You nailed it. Sorry for troubling you with this; that said, between the darwin issue and the rake tasks not working, I suspect that I&rsquo;m the only one who&rsquo;s used this functionality.

At any rate, I got it going, and it generally works well.

[2011-08-06 15:15] obrie commented on #22
Admittedly I&rsquo;ve only generated graphs by running the rake task from the root library folder or by calling #draw directly on the state machine from the Rails console.

Thanks for the bug report, though... I&rsquo;m sure it&rsquo;ll help others who run into the same problem.

I&rsquo;ll have to see if I can improve the readability of some of those states.

[2011-08-06 15:15] obrie commented on #22
I&rsquo;ve tweaked the drawing algorithm a bit to accommodate states with long names: http://github.com/pluginaweek/state_machine/commit/d6fbdcc10127ab166c13628f12fd6c6e81ccf5cf

Hopefully this&rsquo;ll generate slightly more readable graphs in the future.  I&rsquo;ve attached the graph that&rsquo;s generated based on the Booking class provided in the ticket.

[2011-08-06 15:15] obrie commented on #22
**Pete Forde** commented

That&rsquo;s awesome, Aaron!

Huge improvement.

[2011-08-06 15:15] #22 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #23 "pluralize issue"
**Pete Forde** opened this issue

Hey Aaron,

I&rsquo;m sorry that what I&rsquo;m about to say isn&rsquo;t tested or particularly demonstrable, but in certain places in my app I seem to run into situations (under 2.2.2) where for some reason state_machine explodes and the whole mongrel instance needs to be restarted.

Here&rsquo;s an example:

<pre>
class User < ActiveRecord::Base
  state_machine

[2011-08-06 15:15] obrie commented on #23
You&rsquo;re absolutely right :)  When I made the transition to no longer stringify attributes when being stored in the machine, the pluralization code wasn&rsquo;t adjusted properly... and there were no tests to catch it!

With regard to why the symbol sometimes responds to #pluralize, my guess is that at some point during your app&rsquo;s lifetime, there&rsquo;s a library somewhere that mixes in

[2011-08-06 15:15] obrie commented on #23
(from [cd16cad297f5bf1fcaae385b08d2e2a4aa19ad87]) Fix scope name pluralization not being applied correctly [#13 state:resolved]
http://github.com/pluginaweek/state_machine/commit/cd16cad297f5bf1fcaae385b08d2e2a4aa19ad87

[2011-08-06 15:15] #23 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #24 "define_state_transitions"
**Aaron Gibralter** opened this issue

Ok so here&rsquo;s what I&rsquo;ve got working... I added this to the StateMachine::Machine class:
 @@@
    def define_state_transitions(*states)
      states_hash = {}
      if states.last.is_a?(Hash)
        states.last.each { |state, message| states_hash[state.to_sym] = message }
      else
        states.each { |state| states_hash[state.to_sym] = state.to

[2011-08-06 15:15] obrie commented on #24
Thanks for the suggestions.  However, I think it&rsquo;s too complicated and very use case-specific.  There&rsquo;s a lot of magic involved and I don&rsquo;t want to be creating events, transitions, etc. that the developer didn&rsquo;t define himself.

I don&rsquo;t follow how this is different than the state_transitions helper that I suggested on GitHub other than the fact that you&rsquo;ve allow

[2011-08-06 15:15] obrie commented on #24
**Aaron Gibralter** commented

Yeah good call -- that&rsquo;s exactly what I was getting at. I guess the last thing that I could think of is giving people a way to map to_names to more human-readable names.

state_alias :private, &rsquo;for your eyes only&rsquo; ?

Or is that too much?

The collection_select doesn&rsquo;t give much flexibility in terms of using a separate mapping function...

[2011-08-06 15:15] obrie commented on #24
Commits slowly, but surely, coming in to make this behavior easier: http://github.com/pluginaweek/state_machine/commit/5c2b36c42242a63ed3ba5bf123fc36e2124f86d6

I&rsquo;ve thought about the human-readable names and while it may be easy to throw something in state_machine like:

 @@@ ruby
state_machine do
  ...
  state :visible, :description => &rsquo;for your eyes only&rsquo;
end
 @@@

...it doesn

[2011-08-06 15:15] obrie commented on #24
**Aaron Gibralter** commented

Yeah very true -- I definitely agree about the human-readable names.

I was looking through the commit -- are you planning on adding a state_event= instance method with state_machine or is that something best done explicitly in the model?

Mine would probably look like this:
 @@@
define_method("#{state_name}_event=") do |event_name|
  if self.send("#{state_name}_even

[2011-08-06 15:15] obrie commented on #24
Hm interesting note on state_events and namespaces.  Not entirely sure yet what I want to do there :)

With regard to saving based on the attribute, what I&rsquo;m actually playing around with is the idea of overriding the save method like so:

 @@@ ruby
def save_with_state_machine
  events = self.class.state_machines.keys.collect {|name| instance_variable_get("@#{name}_event")}.compact
  fire_eve

[2011-08-06 15:15] obrie commented on #24
**Aaron Gibralter** commented

Ahh, again, really great stuff! Yeah my version for now runs the transition a pretty awkward time right now -- i.e. when the attribute is assigned, rather than when the model is saved. Are you thinking of alias_method chaining save_with_state_machine automatically when state_machine is applied to a AR/DM/Sequel model?

A few more considerations:
- So will :"#{state_a

[2011-08-06 15:15] obrie commented on #24
Rundown of your questions:
- {attribute}_event: Yep, these accessors would be generated
- validates_inclusion_of: It won&rsquo;t use an ORM-specific validation helpers, but I imagine this to be similar to how validation errors are added on failed events
- attr_accessible: This will be an application-specific behavior
- risks: I don&rsquo;t think so, since the values will be validated against (or a

[2011-08-06 15:15] obrie commented on #24
More commits that continue to chip away at a solution:
- http://github.com/pluginaweek/state_machine/commit/17b472ca2153e6c2be7406728e08c994d15170e9
- http://github.com/pluginaweek/state_machine/commit/6b35593fa71927f421a4d9d51c7e98a86c6bdc6b

[2011-08-06 15:15] obrie commented on #24
Implementation is almost there.  Expect to see something pushed late tonight or tomorrow morning.

[2011-08-06 15:15] obrie commented on #24
Quite a few issues encountered with regard to consistency across how events get fired (implicitly vs. explicitly).  Thinking more about how to resolve this... I don&rsquo;t expect to see the remaining part of this bug implemented until next weekend.

[2011-08-06 15:15] obrie commented on #24
**Aaron Gibralter** commented

Anything I could help with? Is your latest progress pushed to github?

[2011-08-06 15:15] obrie commented on #24
I&rsquo;ve attached the current patch based on the latest on github.  There&rsquo;s one last issue I&rsquo;m working through:

What happens to the state when a validation fails?  For example,

 @@@ ruby
class Vehicle < ActiveRecord::Base
  validates_presence_of :name

  state_machine :initial => :parked do
    event :ignite do
      transition :parked => :idling
    end
  end
end

vehicle = Vehicl

[2011-08-06 15:15] obrie commented on #24
After thinking about it more, I think that failed events should have always resulted in the state getting rolled back.  I&rsquo;ll push that change to github before pushing this patch.

[2011-08-06 15:15] obrie commented on #24
(from [2122d327aa835d47a71ff3bd750cfaa525e0cbb5]) Add #{attribute}_event for automatically firing events when the object&rsquo;s action is called [#14 state:resolved]
http://github.com/pluginaweek/state_machine/commit/2122d327aa835d47a71ff3bd750cfaa525e0cbb5

[2011-08-06 15:15] obrie commented on #24
**Aaron Gibralter** commented

Awesome stuff, Aaron! I&rsquo;ll update asap and put it to work in my use case -- let you know if anything comes up

thanks!

[2011-08-06 15:15] #24 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #25 "How do callbacks on initial states work?"
**Aaron Pfeifer** opened this issue

As commented on in the blog: event of creation of an object with :initial=>:newly_created state — is it a transition?

I tried:

 @@@
before_transition all => :newly_created , :do => :alarm
after_transition all => :newly_created , :do => :alarm
 @@@

None was triggered.

Does it mean that initial state has no callbacks? (Workaround would be calling :alarm in ob

[2011-08-06 15:15] obrie commented on #25
(from [5c000ed8a79be3e6e9acf2966c4363afb50798d5]) Clarify how callbacks work with an initial state [#15 state:resolved]
http://github.com/pluginaweek/state_machine/commit/5c000ed8a79be3e6e9acf2966c4363afb50798d5

[2011-08-06 15:15] #25 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #26 "Published version 0.6.3 of the gem does not include tasks"
**Piotr Usewicz** opened this issue

Therefore, it breaks eg rake -T in merb.

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/16)

 This ticket has 0 attachment(s).

[2011-08-06 15:15] obrie commented on #26
Thanks for the heads up.  This was fixed a few days ago in http://github.com/pluginaweek/state_machine/commit/38821ab9691e85e5dc29f1a16ac02c133adf7664.  Expect a new release to come out in the next week.

[2011-08-06 15:15] #26 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #27 ""normal" membership state generator"
**Aaron Gibralter** opened this issue

Have you ever thought of creating a standardized collection of state_machines that represents best practices for user-group membership related states?

I have a pretty complicated set of state_machines that represents a user being invited to a group (based roughly on, say, facebook&rsquo;s group invite system):

 @@@
state_machine :state_user, :initial => :pe

[2011-08-06 15:15] obrie commented on #27
I&rsquo;m absolutely all for shipping more examples in the library.  There are only a few in there right now and they&rsquo;re pretty basic.  However, I don&rsquo;t personally have any state machines that I would pitch as standard... perhaps "starter" kits (which I&rsquo;m dubbing "examples" in this case).  I definitely encourage submitting a patch for adding to the examples directory.

[2011-08-06 15:15] obrie commented on #27
Closing as resolved.  Feel free to re-open the ticket if you create other examples or simply send a pull request on github.  Thanks!

[2011-08-06 15:15] #27 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #28 "callbacks and validations"
**qoobaa** opened this issue

 @@@ ruby
state_machine :initial => :first do
event :boom
transition :first => :second
end

state :second
validate :something # validation fails
end

after_transition :boom, :do => lambda { puts "BOOM!!!" }
 @@@

result:

 @@@

I think it&rsquo;s not expected behavior, it causes a lot of problems in my app.

[original LH ticket](http://pluginaweek.lighthouseapp.com/pr

[2011-08-06 15:15] obrie commented on #28
To me, this is expected behavior.  By defining a validation for the :second state, you&rsquo;re indicating that any object in that state must pass that validation.  As a result, when you attempt to transition from :first to :second via :boom, the validations for :second will be run.

Can you expand on this bug?

[2011-08-06 15:15] obrie commented on #28
**qoobaa** commented

The problem was, that I had to check if the transition is valid or not in associated model validation. I tried to find a workaround, for instance to call a method in associated model after valid transition, but in this case it&rsquo;s impossible. I&rsquo;ve also tried to use after_update callback:
 @@@ Ruby
state :second do
  after_update { puts "BOOM!!!" }
end
 @@@
... but i

[2011-08-06 15:15] obrie commented on #28
**qoobaa** commented

Formatting problems, once again:

The problem was, that I had to check if the transition is valid or not in associated model validation. I tried to find a workaround, for instance to call a method in associated model after valid transition, but in this case it&rsquo;s impossible. I&rsquo;ve also tried to use after_update callback:

 @@@ ruby
state :second do
  after_update {

[2011-08-06 15:15] obrie commented on #28
If you need to do validation on the availability of an event, you can use something like:

 @@@ ruby
parent_model.can_boom?
 @@@

You can see all of the various instance methods that are generated for an Event in the docs.  They are currently:
- can_{name}?
- {name}_transition
- {name}(run_action = true)
- {name}!(run_action = true)

Also, the latest updates on github might help you, specifically

[2011-08-06 15:15] #28 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #29 "problem with transition guards?"
**Aaron Gibralter** opened this issue

(commit 883805e87620df41ccf07fb2de6f5931cfbd5d57)

I was going through and (finally) updating an old model to use the symbol form of states instead of string form and I noticed one issue. I&rsquo;m not sure if it&rsquo;s because I&rsquo;m declaring my events incorrectly, but here it is...

This is my User&rsquo;s password state_machine:
 @@@
  state_machine :

[2011-08-06 15:15] obrie commented on #29
**Aaron Gibralter** commented

ahh I guess :from/:to is the old way... is it fully deprecated though?

[2011-08-06 15:15] obrie commented on #29
:from/:to isn&rsquo;t fully deprecated... support is still there.  However, the state machine is mixing both string and symbol state names which I believe is why you&rsquo;re running into the problem.  There&rsquo;s still deprecated support for the really old definitions that use any value for states (numbers, strings, etc.) so it makes no assumptions about converting anything to symbols.  It&rsqu

[2011-08-06 15:15] obrie commented on #29
**Aaron Gibralter** commented

Ahh very true -- I guess it was a bit late at night when I submitted that... after a long week :)

I switched everything to the new style which I think is much nicer anyway:
 @@@
    event :forgets do
      transition all => :forgotten
    end

[code]

 @@@

Thanks again!

[2011-08-06 15:15] #29 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #30 "Callback after transaction end?"
**Brian Langenfeld** opened this issue

Excellent job on this, Aaron.

I&rsquo;m interested in logging transition results to a log table -- not just successes -- so after_transition isn&rsquo;t getting the job done.  As expected, the log entry gets wiped out upon rollback.  I could just turn off transactions for the entire transition, but I&rsquo;d rather not.

Any plans to include a callback to b

[2011-08-06 15:15] obrie commented on #30
Hey Brian,

That&rsquo;s an interesting use case you&rsquo;ve got!  I&rsquo;ve thought through the problem a bit and I&rsquo;m not sure there&rsquo;s an easy solution which covers all of the possible scenarios.  The scenario where (I believe) this breaks down is with nested transactions.  For example, suppose you had the following:

 @@@ ruby
User.transaction do
  user.register # Invoke :register

[2011-08-06 15:15] obrie commented on #30
**Brian Langenfeld** commented

Hmm, interesting scenario.

One way to ensure that an "after everything else" callback runs outside of any transactions would be to make transitions aware of the parent (if they have one).  Only at the end of parentless transitions would all of the transitions&rsquo; callbacks be invoked -- probably from the inside out, so the firing order makes sense.  (i.e. iterat

[2011-08-06 15:15] obrie commented on #30
**Brian Langenfeld** commented

Bah, sorry about the formatting.  I forgot where I was.

[2011-08-06 15:15] obrie commented on #30
**Brian Langenfeld** commented

Reformatting that mess.

 @@@
- begin grandparent
  -- begin parent
  --- begin child
  ---- child fails
  ---- no callback (child has parent)
  --- end child
  --- no callback (parent has parent)
  -- end parent
  -- begin grandparent callback (grandparent has no parent)
  --- begin parent callback
  ---- begin child callback
  ----- execute child callback
  ---- e

[2011-08-06 15:15] obrie commented on #30
It&rsquo;s a difficult problem to solve and I don&rsquo;t think it&rsquo;s going to be easy to hook into the ActiveRecord transaction model very easily to provide an after-callback.  If it were possible to do this, I&rsquo;m still not sure I&rsquo;m convinced that it would be a generic enough of a solution to build into the core library since it would also require support with Sequel and DataMappe

[2011-08-06 15:15] obrie commented on #30
Closing as invalid as this is not something that&rsquo;s planned to be supported.

[2011-08-06 15:15] #30 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #31 "require qualified name for state_event=?"
**Aaron Gibralter** opened this issue

So it seems like the following code:
 @@@
state_machine :state_news, :initial => :unsubscribed, :namespace => :news do
  event :toggle do
    transition :unsubscribed => :subscribed
    transition :subscribed => :unsubscribed
  end
end

state_machine :state_standing, :initial => :neutral, :namespace => :standing do
  event :toggle do
    transition :neutral =

[2011-08-06 15:15] obrie commented on #31
(from [9207069dfcc8c990d53888c69fd269133c48be01]) Don&rsquo;t use qualified name for event attributes [#21 state:resolved]
http://github.com/pluginaweek/state_machine/commit/9207069dfcc8c990d53888c69fd269133c48be01

[2011-08-06 15:15] obrie commented on #31
Nice catch :)  Thanks!

[2011-08-06 15:15] #31 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #32 "(before|after)_transition doesn't work when using state_event"
**qoobaa** opened this issue

I&rsquo;ve got following user model:

 @@@ ruby
class User < ActiveRecord::Base
  state_machine do
    event :event_one do
      transition nil => :state_one
    end

[code]

  end

  def something
    throw :something
  end
end
 @@@

When I create model with state_event, it doesn&rsquo;t call "something" method. When I use transaction method (user.event_one) everythi

[2011-08-06 15:15] obrie commented on #32
Hey Jakub,

Thanks for the report.  I&rsquo;m unable to reproduce this against state_machine 0.7.3 with Rails 2.3.2.  What versions are you running?  The following are my results:

 @@@ ruby
user = User.new
user.event_one

# NameError: uncaught throw `something&rsquo;

user = User.new(:state_event => &rsquo;event_one&rsquo;)
user.save

# NameError: uncaught throw `something&rsquo;

user.state_one?

[2011-08-06 15:15] obrie commented on #32
**qoobaa** commented

I&rsquo;m sorry - it works also in my environment. The problem appears when I use create instead of new and save:

 @@@ ruby
user = User.create(:state_event => "event_one")

# => true

user.state_one?

# => true

 @@@

[2011-08-06 15:15] obrie commented on #32
I can&rsquo;t replicate it with create either:

 @@@ ruby
user = User.create(:state_event => &rsquo;event_one&rsquo;)

# => NameError: uncaught throw `something&rsquo;

user.state_one?

# => true

user.new_record?

# => false

 @@@

I can attach my sandboxed environment to this ticket, but it&rsquo;s essentially just the state_machine library with a User model consisting of a single state field.

[2011-08-06 15:15] obrie commented on #32
**qoobaa** commented

 @@@
kuba@ibm:~/myapp$ ./script/about
About your application&rsquo;s environment
Ruby version              1.9.1 (x86_64-linux)
RubyGems version          1.3.3
Rack version              1.0
Rails version             2.3.2
Active Record version     2.3.2
Action Pack version       2.3.2
Active Resource version   2.3.2
Action Mailer version     2.3.2
Active Support version    2.

[2011-08-06 15:15] obrie commented on #32
**qoobaa** commented

I&rsquo;ve just run tests and two of them fail:

 @@@
test_should_run_after_callbacks_outside_the_context_of_the_record(ActiveRecordTest::MachineWithCallbacksTest)
test_should_run_before_callbacks_outside_the_context_of_the_record(ActiveRecordTest::MachineWithCallbacksTest)
 @@@

both from /test/unit/integrations/active_record_test.rb

[2011-08-06 15:15] obrie commented on #32
(from [b48bfc968c651dcadec5458fdf80942dfbab1344]) Fix #save! not firing event attributes properly in ActiveRecord integrations [#22 state:resolved]
http://github.com/pluginaweek/state_machine/commit/b48bfc968c651dcadec5458fdf80942dfbab1344

[2011-08-06 15:15] obrie commented on #32
It turns out that the use of the bang (i.e. create! / save!) made all the difference here.  The ActiveRecord integration was only hooking into create / save, so only 1/2 of the transition was being made.  You were absolutely right that, in this case, the after transitions were not being invoked as a result.

Thanks for the report and glad we were able to figure out the steps to reproduce!

[2011-08-06 15:15] obrie commented on #32
**qoobaa** commented

Thank you for finding the problem and solving the issue. Now it works perfectly in all cases. You&rsquo;re doing great job! :-)

[2011-08-06 15:15] #32 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #33 "can_event? does not check validations ..."
**rbialek (at gmail)** opened this issue

The can_event? method returns true even though validations are failing! See the example:

class Att < ActiveRecord::Base
  state_machine :status do
    state :one do
      validate :validation1
    end
    state :two do
    end

[code]

  end
  def validation1
    errors.add_to_base "validation 1 failing"
  end
end

a=Att.new :status => "zero"
a.can_goto0?

[2011-08-06 15:15] obrie commented on #33
Hi Robert,

Thanks for the detailed report.  As you note, it is in fact the case that the can_{event}? methods do _not_ check validations.  However, this is intended behavior and by design.  The problem is that the only way to verify that the event will most likely occur would be to:
1. Run before transitions
2. Set the state that the event will transition the record to
3. Run validations (and cal

[2011-08-06 15:15] obrie commented on #33
(from [eeab12def91f2c3c172be5a4a57bce12c1763ea3]) Clarify that can_{event}? methods do not check validations in ORM integrations [#23 state:resolved]
http://github.com/pluginaweek/state_machine/commit/eeab12def91f2c3c172be5a4a57bce12c1763ea3

[2011-08-06 15:15] #33 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #34 "Enhancement: Option to validate when leaving a state, rather than when entering"
**Patrick Klingemann** opened this issue

Aaron,

Thanks for your great work on this plugin/gem, it is quite useful to me.  I am building a workflow form with state machine in which the form that is displayed is based on the state of a state machine.  The issue I&rsquo;m having is that I need to validate certain fields based on the state that the state machine is in currently, and state_machine&rs

[2011-08-06 15:15] obrie commented on #34
Hi Patrick,

Unfortunately we can&rsquo;t target specific validations to run prior to transition or specific ones to run after transition.  However, what I&rsquo;ve seen in the past is something like so:

 @@@ ruby
class Vehicle < ActiveRecord::Base
  state_machine do
    before_transition any => :idling do |vehicle|
      unless vehicle.allowed_to_continue?
        vehicle.errors.add :base, &rsqu

[2011-08-06 15:15] #34 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #35 "Exception when changing state of an existing record with a nil state"
**Nicolas Blanco** opened this issue

state_machine is a great plugin but I&rsquo;ve found a problem.

When you add a state_machine to an existing ActiveRecord model and load an existing model, the state of the model is therefore nil, state_machine raises an exception when you call an event.

 @@@

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/25)

 This ticket h

[2011-08-06 15:15] obrie commented on #35
(from [27361129a8607b5922995e656701428ed617ed18]) Fix events not failing with useful errors when an object&rsquo;s state is invalid [#25 state:resolved]
http://github.com/pluginaweek/state_machine/commit/27361129a8607b5922995e656701428ed617ed18

[2011-08-06 15:15] obrie commented on #35
Thanks for the report.  As you might notice from the above change, this problem occurs because the state of the record (nil in your case) is unknown to the state machine.  In order for the state machine to work on an existing record, you have to make sure that the existing records are all in valid states.  If nil is valid state in this case, then you can define it like so:

[code]

This will defin

[2011-08-06 15:15] #35 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #36 "before callbacks run twice during save"
**Aaron Pfeifer** opened this issue

When using event attributes (i.e. the RESTful means of running events), the before callbacks get run twice:
1. Immediately before validation
2. Immediately before save

before callbacks should always be called only once during the process.

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/26)

 This ticket has 0 attachment(s).

[2011-08-06 15:15] obrie commented on #36
(from [1f7ebc5440399644646f86dc0d4adae65e69723d]) Fix before_transition callbacks getting run twice when using event attributes in ORM integrations [#26 state:resolved] http://github.com/pluginaweek/state_machine/commit/1f7ebc5440399644646f86dc0d4adae65e69723d

[2011-08-06 15:15] #36 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #37 "State-driven instance behavior for setters is bugged"
**Kane** opened this issue

when defineing a method like

 @@@ ruby
 state_machine :state, :initial => :applicating do
   state :applicating do
      def fame_buy_in=(value)
        write_attribute(:fame_buy_in, value)
      end
    end
  end
 @@@

an ArgumentError is thrown while trying to create a new object with .new(:fame_buy_in=>12)

ArgumentError: nil is not a known state value
E:/DEV/ruby/l

[2011-08-06 15:15] obrie commented on #37
Thanks for the report! I&rsquo;ve got a solution which will be pushed shortly.

[2011-08-06 15:15] obrie commented on #37
(from [ecfc0cfd59369866abd094bce5f69dc28469771f]) Allow static initial states to be set earlier in the initialization of an object [#27 state:resolved]
Fix initial states being set when loading records from the database in Sequel integration
http://github.com/pluginaweek/state_machine/commit/ecfc0cfd59369866abd094bce5f69dc28469771f

[2011-08-06 15:15] #37 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #38 "Loopback transitions don't appear to update Rails' record"
**onitony** opened this issue

It seems that if a State Machine instance performs a transition that loops back into it&rsquo;s previous state, the record is not saved (because no fields have been modified?). The desired behaviour though, is for updated_at to update, to note the time the transition took place (same as it happens in non-loopback transitions).

[original LH ticket](http://pluginaweek

[2011-08-06 15:15] obrie commented on #38
Thanks for the report and nice catch.  This would definitely be a problem if the ORM only saves a record when the field has been really been changed.  I&rsquo;ll work on getting a fix applied over the next day.

[2011-08-06 15:15] obrie commented on #38
(from [bcaafa8eb3308c78c64a404e9c3ca0ccf2c4bb5f]) Fix loopbacks not causing records to save in ORM integrations if no other fields were changed [#28 state:resolved]
http://github.com/pluginaweek/state_machine/commit/bcaafa8eb3308c78c64a404e9c3ca0ccf2c4bb5f

[2011-08-06 15:15] obrie commented on #38
**Kenneth Kalmer** commented

Aaron

The patch also creates another issue with ActiveRecord. I&rsquo;ve attached a fix to this ticket. Unfortunately I didn&rsquo;t have the time to dissect your test cases and update the tests for ActiveRecord, but I did write a test file that you can drop into the root of the state_machine project and run.

The test file is gisted here: http://gist.github.com/2042

[2011-08-06 15:15] obrie commented on #38
Kenneth,

This has now been fixed: http://github.com/pluginaweek/state_machine/commit/2929f0edc2b3167c0f14d498e04c41eba0b86be2

My apologies for taking so long to get this fix into the main line.

[2011-08-06 15:15] #38 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #39 "state_event and record marshaling"
**qoobaa** opened this issue

There&rsquo;s a problem with using state_event and record serialization:

 @@@ ruby
class User < ActiveRecord::Base
  state_machine do
    event :verify do
      transition nil => :verified
    end

[code]

  end
end

User.create(:state_event => "verify")
# TypeError: can&rsquo;t dump anonymous class Class

 @@@

It&rsquo;s caused because to_yaml is serializing @state

[2011-08-06 15:15] obrie commented on #39
Thanks for the report!  This is definitely verified as an issue and I&rsquo;ll work on putting a patch together over the next few days.

[2011-08-06 15:15] obrie commented on #39
(from [2ddd583ac283c063e8e532337c6790ed117d7329]) Fix event transitions being kept around while running actions/callbacks, sometimes preventing object marshalling [#29 state:resolved]
http://github.com/pluginaweek/state_machine/commit/2ddd583ac283c063e8e532337c6790ed117d7329

[2011-08-06 15:15] #39 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #40 "State events don't call event methods"
**Aaron Pfeifer** opened this issue

When you use a state event and you&rsquo;ve overridden the event method, the method won&rsquo;t get called. For example,

[code]

This transitions the object, but never calls #ignite which is unexpected.

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/30)

 This ticket has 1 attachment(s).

[2011-08-06 15:15] obrie commented on #40
This is basically not going to get fixed until there&rsquo;s a decent, clean solution which I don&rsquo;t have right now.

[2011-08-06 15:15] obrie commented on #40
Fixed with implementing the example using around_transitions:

 @@@ ruby
class Vehicle < ActiveRecord::Base
  state_machine :initial => :parked do
    around_transition :on => :ignite do |vehicle, transition, block|
      raise ArgumentError
    end

[code]

  end
end

v = Vehicle.new(:state_event => &rsquo;ignite&rsquo;)
v.save # => ArgumentError: ArgumentError
 @@@

[2011-08-06 15:15] obrie commented on #40
**Gareth Adams** commented

Is there any case where before_transition etc. _shouldn&rsquo;t_ be used?

Given the error displayed in this ticket, it seems like overriding the event method is never a better idea than using a *_transition callback.

With that in mind I&rsquo;ve had a go at improving the documentation to warn where this problem might occur. It&rsquo;s attached as a patch and also sent

[2011-08-06 15:15] obrie commented on #40
While I think there are recommended implementation paths, I don&rsquo;t think these are absolutes.  Off the top of my head, the biggest potential win with overriding event methods comes when you start dealing with inheritance.

There is also a slight difference in the order of execution.  When you&rsquo;re in an around_transition, the transition has already been deemed valid.  On the other hand, i

[2011-08-06 15:15] #40 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #41 "Double arrows when drawing a state machine."
**Nicolas Blanco** opened this issue

Hello,

when drawing the following state_machine for a User class, I obtain many &rsquo;double&rsquo; arrows.
See the drawing included in this ticket.

 @@@
  state_machine :state, :initial => :pending do
    event :subscribe do
      transition :pending => :subscribing
    end

[code]

  end
 @@@

[original LH ticket](http://pluginaweek.lighthouseapp.com/proj

[2011-08-06 15:15] obrie commented on #41
Hey Nicolas,

Thanks for the report.  My sincerest apologies for taking so long to address this ticket.  I&rsquo;m sure you&rsquo;ve already discovered the problem.  In case you haven&rsquo;t, I suspect what&rsquo;s happening is that the file containing your state_machine definition is getting loaded twice.  As a result, it ends up having transitions duplicated for each event.  Running the followi

[2011-08-06 15:15] #41 closed, assigned to obrie

[2011-08-06 15:15] obrie opened #42 "ActiveRecord 2.3.2 Test Failures"
**Patrick Klingemann** opened this issue

I am having trouble getting my state machine to set the initial state, it was always coming up nil in my staging environment.  It works fine in production and development.  So I decided to run the tests on state_machine and I&rsquo;m receiving failures.  Is this a configuration issue on my server?  Below are the failures:

  1) Failure:
test_should_allow_c

[2011-08-06 15:16] obrie commented on #42
**Patrick Klingemann** commented

I&rsquo;m pretty sure this was because I was using Ruby 1.8.5.  The issue has been resolved by switching to 1.8.7 (REE).  You may close if necessary.

[2011-08-06 15:16] obrie commented on #42
Patrick,

Thanks for the heads up.  I apologize for having taken so long to address this ticket.  I haven&rsquo;t tested this on Ruby 1.8.5 so I actually have no idea how it runs on that version.  However, what I&rsquo;ve done is added notes to the README on versions of Ruby are officially supported.  See the following commit: http://github.com/pluginaweek/state_machine/commit/791507c856e892129eab

[2011-08-06 15:16] #42 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #43 "Missing i18n/internationalization and/or documentation"
**Paul Strong** opened this issue

The state_machine README says that state_machine supports internationalization, but I cannot find any further explanation of how this works. After going through the API I cannot find anyway of doing internationalization of state names short of creating a i18n module from scratch.

Has this feature been implemented yet? I&rsquo;m sorry if I just overlooked somethi

[2011-08-06 15:16] obrie commented on #43
Paul,

I deeply apologize for not getting back to you earlier on this issue.  You&rsquo;ve pointed out a blatantly missing part of the ActiveRecord documentation :)  I&rsquo;ve since added better support for i18n and properly documented its usage: http://github.com/pluginaweek/state_machine/commit/e25a3207a629f11ee34c9bcbdd663751cd47e805

I realize you have probably found other ways to work around

[2011-08-06 15:16] #43 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #44 "state_machine only works for new records"
**Tom** opened this issue

I can&rsquo;t seem to get the `state_machine` gem to work on existing records (it works correctly on new records).

Here&rsquo;s my model:

[code]

and here&rsquo;s an IRB session that demonstrates the issue (I did `ActiveRecord::Base.logger = Logger.new(STDOUT)` to make it easier to read):

[code]

I.e., everything works fine when I `publish` an unsaved comment, but whe

[2011-08-06 15:16] obrie commented on #44
**Tom** commented

More weirdness:

[code]

Compare to:

[code]

[2011-08-06 15:16] obrie commented on #44
**Tom** commented

# **<span style="color:maroon">Another Edit: Perhaps the root of the problem?</span>**

[code]

I.e., even though the state has actually changed, `state_changed?` is returning false and therefore Rails won&rsquo;t update the corresponding database row when I call `save`.

[2011-08-06 15:16] obrie commented on #44
**Jonas Nicklas** commented

A guy name Joe has apparently fixed this issue on his fork on GitHub: http://github.com/joelind/state_machine

He was also kind enough to release the fork as a gem called joelind-state_machine.

The fix seems to be well tested as well, so maybe this can be pulled in and make our lives a bit easier?

[2011-08-06 15:16] obrie commented on #44
Hey guys,

I sincerely apologize for taking so long to address this ticket.  I&rsquo;ve pulled in the changes from Joe Lind&rsquo;s branch as well as made other updates.  The examples above seem to working now.  These changes will be part of a release made today.  If you have any further issues, I should be more available nowadays.

Thanks for helping debugging this issue!

[2011-08-06 15:16] #44 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #45 "StateMachine::InvalidTransition raised with valid event for current state"
**David North** opened this issue

I have a Page model record with state &rsquo;published&rsquo;,

 @page.state_events => [:draft, :unpublish]

But when I call draft! or unpublish! StateMachine::InvalidTransition is raised. (@page.draft returns false)

"Cannot transition state via :draft from :published"

/event.rb:248:in `add_actions&rsquo;
/machine.rb:512:in`call&rsquo;
/machine.rb:512:in `draft

[2011-08-06 15:16] obrie commented on #45
**schof** commented

 @David: I was just about to report the same ticket but I see you beat me to it.  I think we should distinguish between state machine logic preventing you from transitioning vs. a general exception or validation error preventing you form transitioning.

[2011-08-06 15:16] obrie commented on #45
Hey guys,

This is an interesting issue.  I think the way I would look at it is that invoking events directly will result in exceptions only relating to that event.  That is, if you try to invoke an event, then if it&rsquo;s not able to transition for _any_ reason, the exception that gets raised is for the event.  It doesn&rsquo;t actually care why it was unable to transition.

The other important

[2011-08-06 15:16] #45 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #46 "rake tasks not seen in Rails (if using as gem)"
**Matt Scilipoti** opened this issue

I think ticket #11 corrected this issue if you are using it as a plugin, but not as a gem.

As far as I know, when using it as a gem, we must add entries to our application&rsquo;s Rakefile.  This also required some changes to file organization in state_machine.

I have moved the files and updated the README in http://github.com/mattscilipoti/state_machine/com

[2011-08-06 15:16] obrie commented on #46
**Matt Scilipoti** commented

I also created a pull request.

[2011-08-06 15:16] obrie commented on #46
Hey Matt,

Thanks for pointing this out and sorry to take so long to address this ticket.  Since the proper way of doing this is still under debate in the Rails community ( https://rails.lighthouseapp.com/projects/8994/tickets/59 ), I&rsquo;ve added a note to the README to load state_machine tasks like so:

 @@@ ruby
load("#{Gem.searcher.find(&rsquo;state_machine&rsquo;).full_gem_path}/tasks/state

[2011-08-06 15:16] #46 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #47 "before_filters now invoked on event"
**Karim Helal** opened this issue

Hi all,

I have a model that relies on state_machine to manage its different states. One particular event requires a before_transition as it needs to build a join table fore doing the transition. Unfortunately it doesn&rsquo;t work.

[code]

Now when I do DocumentSet.submit, it actually never goes into the populate_join_table as it evaluates the can_submit? as fa

[2011-08-06 15:16] obrie commented on #47
Hey Karim,

Thanks for reporting this.  I apologize that I was unable to address this earlier.  This example seems to be working for me with the latest changes to state_machine.  It may be that one of the recent fixes resolved this issue.  If you haven&rsquo;t already found a workaround for it, please try this on the 0.8.1 release coming out today.

Thanks!

[2011-08-06 15:16] #47 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #48 "Broken with DataMapper edge"
**Daniel Neighman** opened this issue

Hi,

I updated datamapper to the edge version today for an unrelated reason, and it turns out this breaks state_machine.

I get an exception raised when trying to create a new record, because the state machine is trying to set a property when datamapper has not yet initialized.  DataMapper is moving to a state machine to track the dirtiness of an object and t

[2011-08-06 15:16] obrie commented on #48
Daniel,

Thanks for the heads up and catching this so quickly.  This is a common problem that I can probably work around in the same manner as state_machine does in ActiveRecord.  There doesn&rsquo;t always seem to be a particularly elegant solution for this type of problem (the problem being that users need the state_machine initial values set before any other attributes get set from the initiali

[2011-08-06 15:16] obrie commented on #48
A few other problems have cropped up over the past few days with the latest changes to datamapper, but this particular issue is no longer valid as the behavior has since changed in dm-core.

[2011-08-06 15:16] #48 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #49 "railite_name is depracated"
**Wojciech Wnętrzak** opened this issue

On the rails master branch railtie_name is deprecated. When environment is loaded I get:
DEPRECATION WARNING: railtie_name is deprecated and has no effect. (called from class:Railtie at ~/.rvm/gems/ruby-1.9.1-p378/gems/state_machine-0.9.0/lib/state_machine/initializers/rails.rb:2)

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tic

[2011-08-06 15:16] obrie commented on #49
Thanks for reporting this.  It&rsquo;s now been fixed via http://github.com/pluginaweek/state_machine/commit/1777f402bbe4212c46fb33384142291354174474

[2011-08-06 15:16] #49 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #50 "railite_name is depracated"
**Wojciech Wnętrzak** opened this issue

On the rails master branch railtie_name is deprecated. When environment is loaded I get:
DEPRECATION WARNING: railtie_name is deprecated and has no effect. (called from class:Railtie at ~/.rvm/gems/ruby-1.9.1-p378/gems/state_machine-0.9.0/lib/state_machine/initializers/rails.rb:2)

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tic

[2011-08-06 15:16] obrie commented on #50
**Wojciech Wnętrzak** commented

Sorry for duplication - there was problem with lighthouse

[2011-08-06 15:16] #50 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #51 "ActiveRecord::VERSION"
**germaninthetown** opened this issue

Before all, thank you Aaron for this great gem. It&rsquo;s amazing.

However I got an error while using it in my rails 2.1 application (yes, I know, it&rsquo;s old).

$ rails -v
Rails 2.1.0

$ ruby -v
ruby 1.8.6 (2008-08-08 patchlevel 286) [i686-linux]

I have a model Cart

class Cart < ActiveRecord::Base

  ...

  state_machine :fullfilment_status, :initial

[2011-08-06 15:16] obrie commented on #51
Hey Dmitrii,

Thanks for reporting this!  It turns out the tests that run ActiveRecord load active_record/version, causing this failure to be missed when testing against 2.1.0.

Will have a fix available soon.

[2011-08-06 15:16] obrie commented on #51
(from [e9f8f0e4a22c9adae86e57734cad4574f6487bb6]) Fix ActiveRecord 2.0.0 - 2.2.3 integrations failing if version info isn&rsquo;t already loaded [#41 state:resolved]
http://github.com/pluginaweek/state_machine/commit/e9f8f0e4a22c9adae86e57734cad4574f6487bb6

[2011-08-06 15:16] #51 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #52 "Transition to different states depending on success of an action"
**Philippe Creux** opened this issue

Hey,

I&rsquo;m looking for a good practice to transition to two different states depending on the success or failure of an event?

For example, I want the following:

[code]

So far, I&rsquo;ve done that using a method &rsquo;perform_transfer&rsquo;:

[code]

It looks like re-inventing the wheel and it&rsquo;s quite ugly. Am I missing a feature built it state

[2011-08-06 15:16] obrie commented on #52
Hey Philippe,

Perhaps using the conditionals for transitions might suffice?  Like so:

 @@@ ruby
event :transfer do
  transition all => :complete, :if = > :perform_transfer
  transition all => :error
end
 @@@

[2011-08-06 15:16] obrie commented on #52
**Philippe Creux** commented

As long as the first transition is the only one to occur if perform_transfer succeeds then that might suffice. I&rsquo;ll give it a try tomorrow. Thanks!

[2011-08-06 15:16] obrie commented on #52
**Philippe Creux** commented

That works great! You might add this to the README as it&rsquo;s not that obvious that the transitions are evaluated one after the other.

Cheers!

[2011-08-06 15:16] obrie commented on #52
That syntax was actually already called out in the README, #event and #transition docs.  I tweaked the README a bit to be a little more explicit in the example that&rsquo;s in there.  Thanks for the feedback :)

[2011-08-06 15:16] #52 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #53 "State machine overriding internalisation settings"
**Colin Gemmell** opened this issue

Hi there

I was using state machine and was trying to modify the error messages to be more useful to our users. As per the documentation I added this to the en.yml file

en:
  activerecord:
    errors:
      messages:
        invalid: "you request is invalid"
        invalid_event: "please choose an option below"
        invalid_transition: "that option is not

[2011-08-06 15:16] obrie commented on #53
(from [2adabdd8e8f8c1fd575892ba3a14bd9c10105a32]) Fix default error message translations overriding existing locales in ActiveModel / ActiveRecord [#43 state:resolved]
http://github.com/pluginaweek/state_machine/commit/2adabdd8e8f8c1fd575892ba3a14bd9c10105a32

[2011-08-06 15:16] obrie commented on #53
Nice catch and thanks for reporting this!

[2011-08-06 15:16] #53 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #54 "state_events and namespace ?"
**Thomas Darde** opened this issue

I think the state_events helper is not generated when using multiple state_machines and the namespace feature. (only the main namespace is available)

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/44)

 This ticket has 0 attachment(s).

[2011-08-06 15:16] obrie commented on #54
The :namespace option is only used for states and events (i.e. car_parked? for a "parked" state or can_park? for a "park" event).  Methods like "state_events" are already namespaced by the name of the state machine.  The prefix used here ("state") is based on the name of the machine.  You can change the name of the machine to anything you want, but you&rsquo;ll just need to explicitly set the attr

[2011-08-06 15:16] #54 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #55 "Adding StateMachine to a rails3 project makes 'rails generate' unhappy"
**Sven Riedel** opened this issue

Environment: Rails3 beta3, Ruby 1.9.2

Added "gem &rsquo;statemachine&rsquo;" to my Gemfile, ran "bundle install --relock". Running "rails generate" will then result in:

[code]

Tracing the instance_exec calls shows two, with the error generated on the second call:
    Sending __instance_exec_82285100_85565950 with #MyApp::Application:0xa396f0c
    Sending __ins

[2011-08-06 15:16] obrie commented on #55
You appear to be using the wrong library.  My library is state_machine (http://github.com/pluginaweek/state_machine ).  You&rsquo;re using statemachine (http://github.com/slagyr/statemachine ).  Sorry for the confusion.

[2011-08-06 15:16] #55 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #56 "Confusing InvalidTransition error - this should work"
**Jonas Grimfelt** opened this issue

My ActiveRecord model with migrations OK, and payment_state-value &rsquo;unconfirmed&rsquo; and handling_state-value &rsquo;unconfirmed&rsquo; in DB:

 @@@ ruby
class Order < ActiveRecord::Base

  state_machine :handling_state, :initial => :unconfirmed, :namespace => :handling do
    state :unconfirmed
    state :new
    state :open
    state :shipped
    stat

[2011-08-06 15:16] obrie commented on #56
**Jonas Grimfelt** commented

Note: I&rsquo;m on Rails 2.3.8, Ruby 1.8.7

[2011-08-06 15:16] obrie commented on #56
Jonas,

I can&rsquo;t reproduce this issue with the scenario above.  I suspect what&rsquo;s happening is that the record is failing to save (perhaps some before/after callback or a validation is failing).

Try calling @order.confirm_payment (no bang) and inspect the record to see if there are any validation errors (or anything that might indicate why the save is failing).

Hope this helps.

[2011-08-06 15:16] #56 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #57 "The interpolation key format might depend on I18n not ActiveRecord's version number"
**Jérémy Lecour** opened this issue

Hi,

I&rsquo;ve cloned state_machine and launched the test suite for ActiveRecord.
I have a Rails 2.3.x setup but the latest I18n gem.

The test suite gives me some warning about the interpolation key format, saying it&rsquo;s deprecated.

I&rsquo;ve looked in the source and it appears that you check the major version number for ActiveRecord to see if it&rsquo;

[2011-08-06 15:16] obrie commented on #57
(from [f8cb487ce5d6aea4b2e974bfbd9cf176cd7235b1]) Determine what interpolation syntax to use from the version of i18n instead of ActiveRecord [#47 state:resolved]
http://github.com/pluginaweek/state_machine/commit/f8cb487ce5d6aea4b2e974bfbd9cf176cd7235b1

[2011-08-06 15:16] obrie commented on #57
Keep in mind that while this fixes any incorrect interpolation syntax state_machine might have been using, this won&rsquo;t fix ActiveRecord itself using the old interpolation syntax (meaning you&rsquo;ll still see warnings in the tests).

Thanks for the report.

[2011-08-06 15:16] obrie commented on #57
**Jérémy Lecour** commented

Thanks

[2011-08-06 15:16] #57 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #58 "Rails 3"
**dan morris** opened this issue

Any idea why i&rsquo;m getting this error?

undefined method `state_machine&rsquo;

I&rsquo;ve installed the 0.9.2 gem in a Rails beta 3 app.

I&rsquo;ve tried a few things and got a different problem before where transitioning wouldn&rsquo;t work at all.

Many thanks!

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/48)

 This tic

[2011-08-06 15:16] obrie commented on #58
I&rsquo;ve verified that state_machine works in Rails 3.0.0.beta4.  I would double-check that you&rsquo;ve defined your gems properly in your Gemfile.  For example, mine is:

 @@@ ruby
source &rsquo;http://gemcutter.org&rsquo;

gem "rails", "3.0.0.beta4"
gem &rsquo;ruby-graphviz&rsquo;, :require => &rsquo;graphviz&rsquo;
gem &rsquo;state_machine&rsquo;, &rsquo;0.9.2&rsquo;
gem "sqlite3-ruby", :req

[2011-08-06 15:16] obrie commented on #58
**dan morris** commented

Thanks for the reply!

My gemfile looks correct, i&rsquo;m using edge rails and 0.9.2 of state_machine.

Do you have a rails 3 beta3/4 sample app I could checkout? It might help to diagnose.

Many thanks!
Dan

[2011-08-06 15:16] #58 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #59 "[Feature Request] ActiveRecord integration: State-driven behaviour of attr_accessible, attr_protected and attr_readonly"
**petRUShka** opened this issue

I would be great, if one can write something like this:

 @@@
    state :new do
      validates :date, :presence => true, :close => true, :on => :create
      attr_accessor :city, :address
    end

[code]

 @@@

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/49)

 This ticket has 0 attachment(s).

[2011-08-06 15:16] obrie commented on #59
Unfortunately, there&rsquo;s nothing I can do to make that possible.  You need to work with the Rails folks to add the ability to specify :if / :unless conditions on those methods.  state_machine will _just work_ on any method that accepts a hash as the last argument with those possible options.

Good idea, though.

[2011-08-06 15:16] obrie commented on #59
**petRUShka** commented

I posted a feature request: https://rails.lighthouseapp.com/projects/8994-ruby-on-rails/tickets/4865-feature-request-add-if-unless-conditions-for-attr_accessible-attr_protected-and-attr_readonly

[2011-08-06 15:16] #59 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #60 "[Feature Request] add methods to change state without touching the database"
**petRUShka** opened this issue

It would be very useful if some methods was added like in [state machine extracted form ActiveModel](http://github.com/qoobaa/transitions): there are two methods _event_ (without touching database) and _event!_ (with database touch).

Useful case for this method, for example, reducing database requests, if I want to change not only state, but some attributes too.

[2011-08-06 15:16] obrie commented on #60
You can already do this in several ways...

1) You can set the attributes and then run the transition (which will invoke save) like so:

 @@@ ruby
 @user.attributes = params[:user]
 @user.confirm!
 @@@

2) You can run the transition without causing a save, allowing you to invoke the save manually:

 @@@ ruby
 @user.confirm!(false)
 @user.attributes = params[:user]
 @user.save
 @@@

3) You can use

[2011-08-06 15:16] obrie commented on #60
**petRUShka** commented

Wow! Thank you for full answer!

[2011-08-06 15:16] #60 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #61 "Stack level too deep error on ruby 1.9.2"
**Jake Paul** opened this issue

I&rsquo;m running into a stack level too deep error using state_machine 0.9.2 on rails 3.0.0.beta4 on ruby 1.9.2dev (2010-05-25 revision 27998) [x86_64-darwin10].

 @@@ ruby
class Invoice
  state_machine :state, :initial => :draft do
    event :send do; &rsquo;&rsquo;; end
  end
end
 @@@

With that event line in there, it throws an error whenever I try to initializ

[2011-08-06 15:16] obrie commented on #61
**Jake Paul** commented

[2011-08-06 15:16] obrie commented on #61
**Jake Paul** commented

Of course, the error was because I named the event send. I should have realized that before posting a bug, sorry! You can just mark this as invalid.

[2011-08-06 15:16] obrie commented on #61
That would do it :)  Glad you were you able to figure it out!

[2011-08-06 15:16] #61 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #62 "Error in transition_collection.rb"
**Thibaud Guillaume-Gentil** opened this issue

I randomly got this error when I run all my specs (rails 3 beta4, state_machine git/master, ree 1.8.7):

 @@@
    You have a nil object when you didn&rsquo;t expect it!
    You might have expected an instance of Array.
    The error occurred while evaluating nil.include?
    # /Users/Thibaud/.rvm/gems/ree-1.8.7-2010.02/bundler/gems/state_machine-0f97

[2011-08-06 15:16] obrie commented on #62
This will be really difficult to debug without reproducing it in an environment that&rsquo;s not affected by other code / plugins in your application.  However, my guess is that something either in your application code or in a plugin/gem being used is overriding the TransitionCollection#reset method.

If you look at the logic, it should theoretically be impossible for this error to occur.

I woul

[2011-08-06 15:16] obrie commented on #62
**Thibaud Guillaume-Gentil** commented

Ok thanks, I&rsquo;ll verify if a gem/plugin overwrite this #reset.

[2011-08-06 15:16] obrie commented on #62
**Thibaud Guillaume-Gentil** commented

"sadly" none of my gem/plugin do nasty stuff with TransitionCollection.reset. Others ideas? :-/

[2011-08-06 15:16] obrie commented on #62
**Rémy Coutable** commented

Hi Aaron, I&rsquo;m a co-worker of Thibaud and I just got an other error, mentioning the #reset method this time, see below:

[code]

I have no more clue for the moment, though... Hope it can helps.

[2011-08-06 15:16] obrie commented on #62
Thibaud and Rémy -

Is there any chance you guys are doing any sort of object marshaling?  These errors are pretty baffling.  That particular reset error is coming out of the Rails internals and not state_machine.

As I mentioned, without more context around the actual model implementation / state machine definition, ideally within a sandboxed application, there&rsquo;s not much more help I can pr

[2011-08-06 15:16] obrie commented on #62
**Rémy Coutable** commented

Hi Aaron,

we&rsquo;re actually heavily using VCR that stores webmock responses in YAML files. The problem is that we can&rsquo;t reproduce these errors in a predictable way, it really seems to be "random". Moreover, we don&rsquo;t think it&rsquo;s a state-machine related bug, because it occurs also when state-machine is not involved at all.

We have also posted an iss

[2011-08-06 15:16] obrie commented on #62
I have a suspicion that it&rsquo;s very likely related to VCR and whatever object marshaling it does.  I&rsquo;m going to close this ticket for now... if you end up finding something in state_machine that is adding to the problem, feel free to reopen.

[2011-08-06 15:16] obrie commented on #62
**Thibaud Guillaume-Gentil** commented

Ok fine, we&rsquo;re investigate the VCR & Yaml bug. Thanks Aaron.

[2011-08-06 15:16] #62 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #63 "Using state_machine breaks ActiveRecord::Base.new constructor"
**Gareth Adams** opened this issue

Now, I don&rsquo;t really think this is a bug in state_machine because it seems pretty elementary, but using any kind of state_machine in my AR models seem to stop attributes being assigned when set through the class constructor.

The only thing I&rsquo;m adding is the state_machine line - and I get the same result if I add states/events too:

 @@@ ruby
    ## B

[2011-08-06 15:16] obrie commented on #63
**Gareth Adams** commented

Sorry, to be clear:

 @@@ ruby

[2011-08-06 15:16] obrie commented on #63
Hey Gareth -

You&rsquo;re right, this is pretty elementary and it&rsquo;s unclear what&rsquo;s going on.  Can you try this is a basic Rails app with no other plugins installed and tell me if you see the same problem?  Without a better understanding of what other app environment variables are in play, it&rsquo;ll be difficult to debug the issue.

For what it&rsquo;s worth, I can&rsquo;t reproduce

[2011-08-06 15:16] obrie commented on #63
**Gareth Adams** commented

Hey,

Sorry, I just realised this is a machine with Ruby 1.8.5 on it. I&rsquo;ve now taken the opportunity to upgrade to 1.8.7 (which should have happened a long time ago) and everything works fine.

If you&rsquo;re still interested in looking at it despite it being an ancient version of Ruby, The problem appeared with the first model I created in a brand new Rails proj

[2011-08-06 15:16] obrie commented on #63
Ah, that would explain it.  I&rsquo;m only supporting 1.8.6 and up.  Thanks for the info, though!

[2011-08-06 15:16] #63 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #64 "Documentation describes conflicting behaviour for .event(*args)"
**Gareth Adams** opened this issue

The documentation describes two things you can do with events:

1)

2)

In the second behaviour, it seems like the first argument (defined as `kind` in the override) is passed through as the `run_action` argument to the first behaviour.

Is this a problem, is there a way to have both of these behaviours work at the same time without getting in each others&rsquo;

[2011-08-06 15:16] obrie commented on #64
(from [30847006e93aefd2cd37cb0dad2647d3410ffed8]) Clarify docs around passing additional arguments to event methods [#54 state:resolved]
http://github.com/pluginaweek/state_machine/commit/30847006e93aefd2cd37cb0dad2647d3410ffed8

[2011-08-06 15:16] obrie commented on #64
Thanks for pointing out this confusion.  Hopefully the doc changes make this more clear.

[2011-08-06 15:16] obrie commented on #64
**Gareth Adams** commented

This does clarify the existing behaviour, thanks

However that still leads to some confusing situations:

[code]

If I then do

[code]

is state machine smart enough to realise that the `false` isn&rsquo;t supposed to be run_action=false?

If not, would it be better if `:run_action => true/false` was required?

[2011-08-06 15:16] obrie commented on #64
You make a great point.  state_machine simply detects the last boolean value in the args and uses that as the run_action value.  The main reason I neglected to explain this was because I felt that it was such a rare edge case.  I could be wrong about that, in which case it&rsquo;s perhaps worth it to call it out.

Given the current implementation, I would probably suggest that you do one the follo

[2011-08-06 15:16] obrie commented on #64
**Gareth Adams** commented

Reading through your updated documentation, I think I&rsquo;d have been more confused reading that than reading what was there originally.

I&rsquo;ve sent you a Github pull request for [my attempt](http://github.com/gareth/state_machine/commit/2255682dadc014a57a08660050ac4176207340cf) at writing something I personally would have preferred to read :)

[2011-08-06 15:16] obrie commented on #64
I&rsquo;ve further clarified the docs.  Thanks for the update.

[2011-08-06 15:16] #64 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #65 "Broken with ActiveRecord edge"
**Akira Matsuda** opened this issue

I found the AR integrations doesn&rsquo;t work with current Edge AR due to the internal API change introduced by this commit: http://github.com/rails/rails/commit/7c86e8e21ba6a1f88226ddd0cf012a563f234d06

Attached a workaround patch.

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/55)

 This ticket has 1 attachment(s).

[2011-08-06 15:16] obrie commented on #65
**Josh Delsman** commented

I have forked, and implemented this patch.

http://github.com/voxxit/state_machine/commit/49c8f02f3edbf98e66b983f1b952bb92f38fdbaa

Not sure who I send the pull request to?

[2011-08-06 15:16] obrie commented on #65
**Akira Matsuda** commented

I think we cannot send a pull request to organization accounts.
Hope someone behind the account to take a look at the patch...

[2011-08-06 15:16] obrie commented on #65
**Josh Delsman** commented

I sent a pull request to obrie, who was the last committer.

[2011-08-06 15:16] obrie commented on #65
**Akira Matsuda** commented

Thank you for that. :)
But, could you just git am the patch on your fork in order to leave the original commit&rsquo;s attributes?
I don&rsquo;t actually mind for this particular case, but, you know, that&rsquo;s just the manner.

[2011-08-06 15:16] obrie commented on #65
**Josh Delsman** commented

You&rsquo;re going to have to email me to walk me through that. Never done it before :)

http://voxxit.github.com/

[2011-08-06 15:16] obrie commented on #65
**Akira Matsuda** commented

Are you talking about _git am_ command?
 @@@
% git am < the_patch_file_you_downloaded_from_lighthouse
 @@@
is the command then.

[2011-08-06 15:16] obrie commented on #65
(from [1e5e04bb67be0b504a5fe9ca10a490286825d452]) Fix mass-assignment sanitization breaking in ActiveRecord 3.0.0 beta5+ [#55 state:resolved]
http://github.com/pluginaweek/state_machine/commit/1e5e04bb67be0b504a5fe9ca10a490286825d452

[2011-08-06 15:16] obrie commented on #65
Thanks for working on this guys!

[2011-08-06 15:16] #65 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #66 "incompatibility with head of rails master"
**thomas limp** opened this issue

hi,

the lib/state_machine/integrations/active_record.rb#421 is a call to ActiveRecord::Base#remove_attributes_protected_from_mass_assignment

in the current head of rails this method no longer available. it was renamed to ActiveRecord::Base#sanitize_for_mass_assignment (and moved from ActiveRecord::Base to ActiveModel::MassAssignmentSecurity, which is included b

[2011-08-06 15:16] obrie commented on #66
**thomas limp** commented

sorry, i did&rsquo;t see you were already aware of this. so it&rsquo;s aduplicate of #55

best regards thomas

[2011-08-06 15:16] obrie commented on #66
Overreporting is better than underreporting :)

[2011-08-06 15:16] #66 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #67 "before_create callbacks with state_machine transitions get called twice"
**Cory Forsyth** opened this issue

When there is an before_create callback on a model that calls a state_machine transition, that before_create callback gets triggered twice.

Here is an example gist, showing the problem occurring when using ActiveRecord and MongoMapper:
http://gist.github.com/501073

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/57)

 This tick

[2011-08-06 15:16] obrie commented on #67
**Cory Forsyth** commented

gem versions:
state_machine 0.9.3
active_record 2.3.5
mongo_mapper 0.8.2

[2011-08-06 15:16] obrie commented on #67
**Cory Forsyth** commented

here&rsquo;s a patch w/ a failing test for the ActiveRecord integration tests:

http://gist.github.com/501172

[2011-08-06 15:16] obrie commented on #67
Hi Cory,

What you&rsquo;re seeing is actually just the behavior of those ORMs.  See the example below:

 @@@ ruby

class TestActiveRecord < ActiveRecord::Base
  before_create :do_a

  def do_a
    puts &rsquo;do_a: begin&rsquo;
    do_b
    puts &rsquo;do_a: end&rsquo;
  end

  def do_b
    if !state
      puts &rsquo;do_b: begin&rsquo;
      self.state = &rsquo;foo&rsquo;
      save
      puts &

[2011-08-06 15:16] #67 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #68 "Events called by an event attribute don't trigger overidden event methods"
**Gareth Adams** opened this issue

Hopefully the title and attached test should explain the problem, otherwise I&rsquo;m happy to elaborate.

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/58)

 This ticket has 1 attachment(s).

[2011-08-06 15:16] obrie commented on #68
**Gareth Adams** commented

Actually, after thinking about it, the test override method might be better off defined as

 @@@ ruby
Vehicle.class_eval do
 @@@

rather than

 @@@ ruby
 @vehicle.instance_eval do
 @@@

[2011-08-06 15:16] obrie commented on #68
This is a dupe of #30.  Instead of re-defining the method, you should use around_transitions.

[2011-08-06 15:16] obrie commented on #68
**Gareth Adams** commented

I completely missed the documentation for :on #rtfm-fail

Thanks :)

[2011-08-06 15:16] #68 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #69 "State new messes up relations in DataMapper"
**bterkuile** opened this issue

I don&rsquo;t know what the problem is, but having statemachine with initial => &rsquo;new&rsquo; for DataMapper gives problems in associations.
Info:
- Rails version: 3.0.0.rc
- dm-rails 1.0.3
- rest of dm stuff 1.0.0
- state_machine (git of today: e625d2645a71fb5bc50c (0.9.4) )
- Ruby version 1.9.2

[original LH ticket](http://pluginaweek.lighthouseapp.com/projec

[2011-08-06 15:16] obrie commented on #69
**Matt** commented

Same experience here (I finally checked here to see if anyone had reported the bug.  Changing the initial state to something other than :new fixed the problem for me).  Using ruby 1.9.2 p0, state_machine gem (0.9.4), datamapper 1.0.2.  Not using Rails or dm-rails.

[2011-08-06 15:16] obrie commented on #69
Hey guys -

Thanks for reporting this issue.  I believe the only way to fix this is to change your state machine to either use a different state name or namespace the machine.  However, state_machine should throw an exception indicating that the state name cannot be used since it conflicts with methods already defined on the class.  I&rsquo;ll look into making those situations a little louder.

[2011-08-06 15:16] obrie commented on #69
(from [d695c8e68a2179ca3dbf9dd3f06cb8368ad4a83d]) Allow fallback to generic state predicates when individual predicates are already defined in the owner class [#59 state:resolved]
Generate warnings when conflicting state / event names are detected
https://github.com/pluginaweek/state_machine/commit/d695c8e68a2179ca3dbf9dd3f06cb8368ad4a83d

[2011-08-06 15:16] obrie commented on #69
Good news: I added a fallback mechanism such that you can now use states like :new even when the associated state predicate (new?) already exists in the class.  This will no longer break your DataMapper state machines.

[2011-08-06 15:16] #69 closed, assigned to obrie

[2011-08-06 15:16] obrie opened #70 "after_transition callbacks don't get called when used with paranoid gem"
**Mateo Murphy** opened this issue

I&rsquo;m trying to use the state_machine gem along with the paranoid gem, and for some reason after_transition callbacks are not getting called, even though the transition are succeeding; removing the "paranoid" macro from the model fixes the problem. From what I can tell by poking around with the code, it seems that the Transition objects are getting created w

[2011-08-06 15:16] obrie commented on #70
Hi Mateo -

The paranoid gem still utilizes the old alias_method_chain technique for overriding methods in ActiveRecord (in particular, it overrides #create_or_update).  Rails 3 has moved away from this practice in favor of using Ruby&rsquo;s module inheritance chain (see the note in http://piotrsarnacki.com/2010/06/18/rails-internals-railties/).  This is the technique that state_machine uses.  Th

[2011-08-06 15:16] obrie commented on #70
If you&rsquo;re using Rails 3, state_machine should now work with the paranoid gem since it&rsquo;s now using a different technique to hook into ActiveRecord.  As such, marking as resolved.

[2011-08-06 15:16] #70 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #71 "undefined method `call' for nil:NilClass"
**Brent** opened this issue

I&rsquo;m trying to use state_machine (0.9.4) with MongoMapper and having an issue when saving documents. I&rsquo;ve used SM a few times now with ActiveRecord and it has worked perfectly, but this is my first attempt with MM.

I tried clearing out my entire model as well as state machine to cut anything out, and the error only exists when I include state_machine in my

[2011-08-06 15:17] obrie commented on #71
**Michael Schmidt** commented

It seems like this is an incompatibility with the rails3 branch of mongo_mapper. The integration tests for mongo run fine against https://github.com/jnunemaker/mongomapper/tree/v0.8.6 but fail for https://github.com/jnunemaker/mongomapper/tree/rails3.

There&rsquo;s basically only two problems which make the tests fail:

NoMethodError: undefined method `call&rsquo; f

[2011-08-06 15:17] obrie commented on #71
Michael -

Thanks for letting me know about the latest incompatibility.  I&rsquo;m working on some changes to the integrations so that it&rsquo;ll be easier to keep up-to-date with the latest changes in each integration.  I&rsquo;ll make sure this gets fixed after that work is done.

[2011-08-06 15:17] obrie commented on #71
(from [7a935e8770e16eaff3f590b4e3b30e0868f633c7]) Update support for MongoMapper integration based on rails3 branch (MongoMapper version must be bumped to 0.9.0 or greater)
https://github.com/pluginaweek/state_machine/commit/7a935e8770e16eaff3f590b4e3b30e0868f633c7

[2011-08-06 15:17] #71 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #72 "after_transition callbacks with :include_failures don't work"
**Chad** opened this issue

I&rsquo;m trying to get an `after_transition` callback to work even when the transition fails by specifying the `include_failures` option per the documentation, but it&rsquo;s not being called.  You can see from a simple irb session:

<code>
ruby-1.8.7-p174 > class Simple
ruby-1.8.7-p174 ?>  state_machine :state, :initial => :off do
ruby-1.8.7-p174 >       after_transit

[2011-08-06 15:17] obrie commented on #72
**Chad** commented

After looking into this some more, I think it has something to do with [this](http://github.com/pluginaweek/state_machine/blob/master/lib/state_machine/transition_collection.rb#L53) line.  If `valid?` returns false, the callbacks never get called.  Shouldn&rsquo;t they, though, if `include_failures` is specified?

[2011-08-06 15:17] obrie commented on #72
Hi Chad,

Thanks for the test case.  I&rsquo;ve thought a little bit about this one and this has me thinking that :include_failures was basically a hack when I changed how transitions got run a long time ago.  I&rsquo;m working on a new API to specifically define callbacks that get run under all failure scenarios.  I&rsquo;ll update this bug when those changes make their way to github.

[2011-08-06 15:17] obrie commented on #72
(from [eb77529404b211f9d6a5564f9175771dea0ee1ed]) Replace :include_failures after_transition option with new after_failure callback [#62 state:resolved]
https://github.com/pluginaweek/state_machine/commit/eb77529404b211f9d6a5564f9175771dea0ee1ed

[2011-08-06 15:17] #72 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #73 "Documentation no longer available?"
**Tyler Rick** opened this issue

Just 3 days ago, I could find the documentation at http://rdoc.info/github/pluginaweek/state_machine/master/frames, but now it says:

Sorry, but we couldn&rsquo;t find the page /github/pluginaweek/state_machine in the pluginaweek/state_machine Github repository. Are you sure that class, method, or file exists?

What happened?

https://github.com/pluginaweek/state_

[2011-08-06 15:17] obrie commented on #73
**Lars Haugseth** commented

Still unavailable.

[2011-08-06 15:17] obrie commented on #73
**Jose Cortinas** commented

It&rsquo;s fixed. Suggest that this be closed.

[2011-08-06 15:17] obrie commented on #73
(from [bb7e52e450a393bacc6498d531e63f1a204d920d]) Fix docs not getting referenced properly [#63 state:resolved]
https://github.com/pluginaweek/state_machine/commit/bb7e52e450a393bacc6498d531e63f1a204d920d

[2011-08-06 15:17] obrie commented on #73
rdoc.info fixed the issue, but they changed how the docs get generated and what the default url is.  I&rsquo;ve updated the project to reflect this -- thanks for the heads up!

[2011-08-06 15:17] #73 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #74 "More info from InvalidTransition"
**AlekSi** opened this issue

I would be cool to allow access to record object and validation errors from InvalidTransition. Something like InvalidTransition#object.

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/64)

 This ticket has 0 attachment(s).

[2011-08-06 15:17] obrie commented on #74
(from [b600752b722f13a05777064267efd81cbda0cde6]) Provide access to transition context when raising InvalidEvent / InvalidTransition exceptions [#64 state:resolved]
https://github.com/pluginaweek/state_machine/commit/b600752b722f13a05777064267efd81cbda0cde6

[2011-08-06 15:17] obrie commented on #74
Great idea -- thanks!

[2011-08-06 15:17] #74 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #75 "undefined method `arity' for nil:NilClass"
**RailsCanuck** opened this issue

I have several classes that I am using state_machine for my rails app and I am getting the following error while using state_machine in only one of these classes, the rest work fine which is confusing. The class name is Shipment and it has several classes that inherit from Shipment including DropShipment and OutgoingShipment.

 @@@
NoMethodError: undefined method

[2011-08-06 15:17] obrie commented on #75
Hey RailsCanuck -

I&rsquo;m unable to reproduce this scenario.  If you could provide a test case with full code that demonstrates this behavior, that would be great.  The error only occurs when state_machine is unable to find the method referenced in the callback.  This would indicate to me that something strange was going on with the objects you were interacting with.

Feel free to reopen if you

[2011-08-06 15:17] #75 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #76 "Validations are not being run as per the documentation"
**Greg Bolshaw** opened this issue
### Environment

I am using state_machine 0.9.4 with Ruby 1.9.2 and Rails 3.0.3.
### Problem

Validations are being run for the wrong state

This is my model:
    class Foo < ActiveRecord::Base
      state_machine :initial => :step1 do
        event :next do
          transition :step1 => :step2
          transition :step2 => :step3
        end
        event :pre

[2011-08-06 15:17] obrie commented on #76
When a transition is made, the state is _first_ changed on the record and then #save is called.  As a result, state behaviors like "validates_presence_of" would run on the state being transitioned to.

In your case, I&rsquo;d expect the state to represent the last step you&rsquo;ve completed.  In order to achieve what you&rsquo;re looking for, you should define your state machine like so:

 @@@ ru

[2011-08-06 15:17] #76 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #77 "State event translation missing"
**Morgan Christiansson** opened this issue

I get the following validation error:
    ActiveRecord::RecordInvalid: Validation failed: State event translation missing: en, activerecord, errors, models, my_model, attributes, state_event, invalid_event

So the default message isn&rsquo;t loading..

This is what I was expecting:
    StateMachine::InvalidTransition: Cannot transition state via :acknowl

[2011-08-06 15:17] obrie commented on #77
**Morgan Christiansson** commented

It&rsquo;s strange though. I thought adding the following in test/unit/integrations/active_record_test.rb

[code]

would reproduce it. But it does not.

Running Rails 2.3.10

[2011-08-06 15:17] obrie commented on #77
Hey Morgan -

My only possible explanation there is that perhaps there is another library you&rsquo;re using that is modifying I18n.load_path in an unexpected manner.  Even when I18n.reload! is called, all of the necessary files for state_machine should be in the load_path and get used.  I&rsquo;ve been unable to reproduce this locally.

If you can provide a reproducible test case in state_machine

[2011-08-06 15:17] obrie commented on #77
Re-opening as I was able to reproduce this in the test environment.

[2011-08-06 15:17] obrie commented on #77
(from [105c9039f8be713dfbf52c62df3f839f4d439ee6]) Fix translations not being available under certain environments in Rails applications [#67 state:resolved]
https://github.com/pluginaweek/state_machine/commit/105c9039f8be713dfbf52c62df3f839f4d439ee6

[2011-08-06 15:17] obrie commented on #77
**Morgan Christiansson** commented

Hi Aaron, using your advice on I18n I added I18n.reload! to our test and spec_helpers and the validation messages started working.

If you managed to fix it so it works without it that&rsquo;s great!

Thanks,
Morgan

[2011-08-06 15:17] #77 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #78 "Is it really necessary to include the state machine into all classes?"
**Ivan Ukhov** opened this issue

Hi,

The question is in the title. I&rsquo;m just trying to figure out how it affects the performance. I always know where I want to use the state machine, so it&rsquo;s not a problem to include the module directly to some particular classes. What do you think?

Thanks.

Best regards,
Ivan

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/t

[2011-08-06 15:17] obrie commented on #78
Ivan -

It&rsquo;s a great question and something I&rsquo;ve asked myself before.  The short answer is that it&rsquo;s not necessary, but it also doesn&rsquo;t have any performance impact.  All the library does is introduce an additional method ("state_machine").  It&rsquo;s actually very similar to the way that you find "yaml" or other libraries that add a simple method to all objects just by loa

[2011-08-06 15:17] obrie opened #79 "update_attributes doesn't trigger transitions on nested has_many :machines"
**Morgan Christiansson** opened this issue

Like stated above.

Will try to write a testcase for it. But basically it seems .state_event_changed? doesn&rsquo;t exist and .changed? doesn&rsquo;t return true so update_attributes doesn&rsquo;t try to save the nested models.

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/69)

 This ticket has 0 attachment(s).

[2011-08-06 15:17] obrie commented on #79
**Morgan Christiansson** commented

I committed a test here:
https://github.com/morganchristiansson/state_machine/commit/268bf65651a054cd0206c9ee36acd7c45a2b9bb6

Also I&rsquo;m surprise that calling @table.children.map(&:id) before update_attributes decides whether :state_event is set after update_attributes.

Let me know if you want more details or a cleaner test. Previous tests I&rsquo;ve submi

[2011-08-06 15:17] obrie commented on #79
Morgan -

Thanks for the heads up!  I believe this may very well be an integration issue with ActiveRecord whereby a change to that attribute doesn&rsquo;t mark the record as dirty and, as a result, doesn&rsquo;t case the children to get saved.  I&rsquo;ll have to take a look at that one in the coming weeks.

[2011-08-06 15:17] obrie commented on #79
**Morgan Christiansson** commented

Thanks for your reply.

With an upgrade to rails 2.3.11 my coworker experienced even more test failures with the state machines updated through update_attributes. I&rsquo;ll post an update when I have a chance to look at it.

Thanks,
Morgan

[2011-08-06 15:17] obrie commented on #79
(from [31d8143969a7225926a9db034823991af38c2b2e]) Fix objects not getting marked as dirty in all integrations when #{attribute}_event is set [#69 state:resolved]
https://github.com/pluginaweek/state_machine/commit/31d8143969a7225926a9db034823991af38c2b2e

[2011-08-06 15:17] #79 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #80 "Changed behavior after update to 0.10.0"
**Tomek Wałkuski** opened this issue

Hi,

I have Customer model which has two state machines: :status and :archived (boolean).

For :status machine initial status is set to :enabled, but on 0.9.X I could create customer (through form, REST API and so on) without providing status param: customer had initial status set, but now it is different. I have to explicitly set params[:status] or I get Acti

[2011-08-06 15:17] obrie commented on #80
**Jens-Christian Fischer** commented

same here for more a model with multiple state machines. I got around this by creating a before_validation callback:

[code]

[2011-08-06 15:17] obrie commented on #80
(from [a6cb505298b2a6c8914b22331cc908eb2f8692b6]) Fix classes with multiple state machines failing to initialize in ActiveRecord / Mongoid / Sequel integrations [#70 state:resolved]
https://github.com/pluginaweek/state_machine/commit/a6cb505298b2a6c8914b22331cc908eb2f8692b6

[2011-08-06 15:17] obrie commented on #80
Hey guys -

Thanks for the heads up!  This was a big miss on my part... I apologize for that.  I&rsquo;ve released 0.10.1 to fix this issue.

[2011-08-06 15:17] obrie commented on #80
**qoobaa** commented

Thanks for solving the issue! It works perfectly now.

[2011-08-06 15:17] #80 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #81 "Initial state broken in namespaced state machines"
**qoobaa** opened this issue

It seems that initial state doesn&rsquo;t work after upgrade to 0.10.

 @@@ ruby
class MyModel < ActiveRecord::Base
  state_machine :show_state, :initial => :unshown, :namespace => "answer" do
    event :show do
      transition any => :shown
    end
  end
end

MyModel.new
# => #<MyModel id: nil, show_state: nil>

 @@@

[original LH ticket](http://pluginaweek.lighthou

[2011-08-06 15:17] obrie commented on #81
Thanks for the report.  This is a dupe of #70.  Please follow that ticket.

[2011-08-06 15:17] #81 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #82 "Weird message when state_machine is defined in included module"
**Tomek Wałkuski** opened this issue

Hi,

this behavior changed in 0.10.0

I have one state machine :archived defined in external module and it is included in Customer model. After upgrade to 0.10.0 and 0.10.1 from 0.9.X I am getting always:

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/72)

 This ticket has 0 attachment(s).

[2011-08-06 15:17] obrie commented on #82
Hi Tomek,

Thanks for the report.  This message is a warning.  When you define a state machine, several instance method helpers get defined.  First, an instance method is defined for the name of the machine.  It allows you to run methods like so:

 @@@ ruby
    customer.archived?(:some_state)
    customer.archived?(:some_other_state)
 @@@

In addition, every state that gets defined in your state m

[2011-08-06 15:17] #82 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #83 "Persisting States"
**Joshua** opened this issue

Can states be persisted so that if app restarts, it can resume the states?

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/73)

 This ticket has 0 attachment(s).

[2011-08-06 15:17] obrie commented on #83
Hi Joshua,

I would suggest asking questions like these on the Google Group (http://groups.google.com/group/pluginaweek-talk) rather than via the bug system.

To answer your question, the persistence of a state is entirely defined by you.  If you&rsquo;re using an ORM like ActiveRecord, DataMapper, MongoMapper, etc. then states will always be persisted.  On the other hand, if you&rsquo;re defining

[2011-08-06 15:17] #83 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #84 ""no acceptor" error when running on thin webserver"
**Matthew Windwer** opened this issue

We have an interesting situation where initialization of a state_machine model in Rails fails only on the thin webserver. The error we are getting is "#<RuntimeError: no acceptor>". I am not sure exactly why, but the problem seems to occur in #define_state_initializer and therefore only occurs when @initialize_state is set to true in machine.rb. There does no

[2011-08-06 15:17] obrie commented on #84
**Matthew Windwer** commented

I hope this backtrace will be easier to read:

#<RuntimeError: no acceptor>
/gems/eventmachine-0.12.10/lib/eventmachine.rb:572:in `start_tcp_server&rsquo;
/gems/eventmachine-0.12.10/lib/eventmachine.rb:572:in`start_server&rsquo;
/gems/thin-1.2.11/lib/thin/backends/tcp_server.rb:16:in `connect&rsquo;
/gems/thin-1.2.11/lib/thin/backends/base.rb:53:in`start&rsquo;
/gems

[2011-08-06 15:17] obrie commented on #84
**Matthew Windwer** commented

LOL I&rsquo;ll just attach that a file

[2011-08-06 15:17] obrie commented on #84
See http://mrjaba.posterous.com/starttcpserver-no-acceptor-runtimeerror

Although state_machine is in the stack trace, it isn&rsquo;t actually causing the error.

[2011-08-06 15:17] obrie commented on #84
**Joe Martinez** commented

I think it is state_machine causing the error. I had the same problem after upgrading state_machine from 0.9.4 to 0.10.1. Rolled back to 0.9.4 and the problem is gone.

Thanks for this state_machine implementation by the way, by far my favorite.

[2011-08-06 15:17] obrie commented on #84
Hm that&rsquo;s interesting.  I can definitely reproduce it locally.  Let me look into this a little bit more and I&rsquo;ll let you know what I find.

[2011-08-06 15:17] obrie commented on #84
FYI I believe I have a fix, but it&rsquo;ll take a few days to make its way up to github and some of the code involved is a little in flux right now.  I&rsquo;ll update the ticket when the fix is in.  I suspect a release with it will be made available in about a week and a half.

Thanks to both of you for reporting this and following up.

[2011-08-06 15:17] obrie commented on #84
(from [ff050bdf451a0597756dcf7cf3dae08d37248598]) Simplify helpers by allowing the use of string evaluation
- Fixes helpers failing when used with certain libraries (such as Thin) [#74 state:resolved]
  https://github.com/pluginaweek/state_machine/commit/ff050bdf451a0597756dcf7cf3dae08d37248598

[2011-08-06 15:17] obrie commented on #84
Turns out I had a fix more quickly than I thought.  There still won&rsquo;t be a release until next week with this fix, but at least you can use state_machine with Thin based on the latest in master.

[2011-08-06 15:17] obrie commented on #84
**Joe Martinez** commented

That&rsquo;s awesome. Thanks Aaron!

[2011-08-06 15:17] obrie commented on #84
**Matthew Windwer** commented

Ok thanks!

[2011-08-06 15:17] #84 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #85 "validation error for initial state on 0.10.2"
**Cyrille** opened this issue

Maybe it&rsquo;s a normal change but it&rsquo;s not documented

0.10.2

 @@@

ruby-1.9.2-p180> e=Event.create(:title => "poum")
 => #<Event id: nil, title: "poum", subtitle: nil, description: nil, excerpt: nil, start_date: nil, end_date: nil, fees: nil, category_id: nil, delta: true, state: ["active"], free: true, professional_only: false, seo_title: nil, cached_slug

[2011-08-06 15:17] obrie commented on #85
Hi,

How states are initialized did indeed change in 0.10.2, but I can&rsquo;t reproduce the behavior you&rsquo;re seeing where the state is an array.  I&rsquo;ve tested this against Rails 3.0.5 on Ruby 1.9.2-p180 to no avail.  My only thought is that perhaps there is a plugin conflicting with state_machine.  Is there any chance you can try reproducing this in a basic Rails3 environment without an

[2011-08-06 15:17] obrie commented on #85
**Cyrille** commented

Thanks for your support !

Just run rake spec on https://github.com/cyrille/state_machine_0_10_2_bug

You can change in Gemfile version to 0.10.1 and see it&rsquo;s working

[2011-08-06 15:17] obrie commented on #85
**Cyrille** commented

BTW app is working also with rails 3.0.5

[2011-08-06 15:17] obrie commented on #85
(from [45eef38b1644ab1c2b896954017f2a877c51125d]) Fix state initialization failing in ActiveRecord 3.0.2+ when using with_state scopes for the default scope [#75 state:resolved]
https://github.com/pluginaweek/state_machine/commit/45eef38b1644ab1c2b896954017f2a877c51125d

[2011-08-06 15:17] obrie commented on #85
That was quite the interesting issue!  Thanks for bringing it to my attention!  I&rsquo;ll release a new version with this fix soon.

[2011-08-06 15:17] obrie commented on #85
**Cyrille** commented

Glad I found a challenging bug ;)

Thanks for the fix

[2011-08-06 15:17] #85 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #86 "State translation missing...."
**Ben Johnson** opened this issue

I have no idea how or why I&rsquo;m getting this error. I don&rsquo;t have any language files in my application, and I don&rsquo;t use any internationalization feature. But in my test suite I&rsquo;m getting this error:

["State translation missing: en.activerecord.errors.models.ticket_request.attributes.state.invalid_transition"]

Wish I could provide more detai

[2011-08-06 15:17] obrie commented on #86
Hi Ben,

What version of Ruby and Rails are you using?

[2011-08-06 15:17] obrie commented on #86
**Ben Johnson** commented

ruby 1.9.2
rails 2.3.11

I have some tests that transition just fine. Other tests that are failing with that error. I wish there was a pattern. But I do know the same tests fail each time. Just seems strange. Shouldn&rsquo;t it fall back to a default if the key doesn&rsquo;t exist?

[2011-08-06 15:17] obrie commented on #86
It should.  I&rsquo;ll start to look into it.  It would be really helpful if you had a basic project that reproduced this behavior that I could run locally.  If that&rsquo;s possible, that would be great.

[2011-08-06 15:17] obrie commented on #86
This is actually a dupe of #67.  See that ticket for more info.

[2011-08-06 15:17] #86 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #87 "State machine check transition conditions when it is not necessary"
**petRUShka** opened this issue

I have Ratification model with state machine included:

[code]

When I try to create it with wrong params hash I get an error in `is_declarant_or_user_owner?` with such backtrace below. It is very strange because of call of `is_declarant_or_user_owner?`. I have no transition and so I expected to not call `is_declarant_or_user_owner?`.

Backtrace:

[code]

Rails 2.3

[2011-08-06 15:17] obrie commented on #87
Hi,

Thanks for the report.  From the stack trace is looks like the status_event attribute on the object is getting set.  Can you provide more details around what attributes are getting passed in and what the value of status_event is in your instance when is_declarant_or_user_owner? gets called?

Without that information and a complete example that I can reproduce locally, it&rsquo;ll be difficult

[2011-08-06 15:17] obrie commented on #87
**petRUShka** commented

I&rsquo;m very sorry, I frogot about `.status_event` = &rsquo;approve&rsquo; in controller :(

[2011-08-06 15:17] obrie commented on #87
Glad you were able to figure it out.

[2011-08-06 15:17] #87 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #88 "Validations aren't being run when a state is defined with multiple values"
**Brendon** opened this issue

Hi there, I&rsquo;ve posted about this in the general forums but didn&rsquo;t get any reply so I thought I&rsquo;d file it as a bug as what I&rsquo;m seeing seems to contradict the documentation:

I have a state definition like so:

[code]

and the validate method is just defined like normal:

  def product_usages_exist
    unless product_usages.exists?
      errors.

[2011-08-06 15:17] obrie commented on #88
**Brendon** commented

I&rsquo;ve noticed that it may be particular to the &rsquo;validate&rsquo; method as defining multiple states works when using a attribute based validator like &rsquo;validates_presence_of&rsquo;. Perhaps the validate method doesn&rsquo;t parse :if conditions the same way?

[2011-08-06 15:17] obrie commented on #88
Hey Brendon -

I&rsquo;ve had a few people report this issue to me previously.  The problem you describe is actually an issue with the way that ActiveSupport tracks callbacks.  It does not all you to define a callback twice (in this case :product_usages_exist for each state) even if the conditions on those callbacks are different.  I believe this is a bug in Rails and should get fixed in their lib

[2011-08-06 15:17] obrie commented on #88
**Brendon** commented

Hi Aaron, thanks for that :) Your workaround certainly makes sense! And you&rsquo;re right, probably something to be fixed in the core but for now this does the trick :)

Have a great day!

[2011-08-06 15:17] #88 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #89 "Validation failed when using state_machine on Mongoid"
**Andrey Ognevsky** opened this issue

Hi, Aaron.

I&rsquo;ve used the search, but haven&rsquo;t found something similar to my problem.

When I delete `state_machine` code from my model, all works perfectly. But if I enable `state_machine`, validations failed.

This is part of my Gemfile:

[code]

This is part of my model:
    include Mongoid::Document

[code]

So, I try to create new Event (this

[2011-08-06 15:17] obrie commented on #89
Hey Andrey -

Thanks for the report! I can reproduce this behavior locally exactly as you&rsquo;ve described.  I&rsquo;ll take a look at the problem and let you know what I find.

[2011-08-06 15:17] obrie commented on #89
**Andrey Ognevsky** commented

Thanks a lot, Aaron.
I&rsquo;d better change `Mongoid` to `ActiveRecord` than `State Machine` to any other gem.

[2011-08-06 15:17] obrie commented on #89
Andrey -

It looks like "process" is a method that&rsquo;s defined in Mongoid, so you won&rsquo;t be able to use it as an event name unless you namespace the state machine.  I&rsquo;m going to look into making some changes to output warnings when this happens, but the workaround right now is to change the name of the event or use state machine namespaces.

Hope this helps!

[2011-08-06 15:17] obrie commented on #89
**Andrey Ognevsky** commented

Aaron -
Thanks, it works for me now!

[2011-08-06 15:17] obrie commented on #89
(from [a58f5ee1cf21be469ced9c07bb231b0d1db8f64c]) Generate warnings for any helper, not just state helpers, that has a conflicting method defined in the class [#79 state:resolved]
https://github.com/pluginaweek/state_machine/commit/a58f5ee1cf21be469ced9c07bb231b0d1db8f64c

[2011-08-06 15:17] #89 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #90 "using active_support delegate confuses state_machine into passing arguments to 0-arity callbacks"
**meixel** opened this issue

Hi, just a heads-up for the following behaviour:

In a rails context for example, if I have the following active_record classes
 @@@
class Address

 def verify

  ...

 end

end
 @@@

and a

 @@@
class Packet

 belongs_to :address

 delegate :verify, :to => :address

 state_machine do
  before_transition :draft => :confirmed, :do => :verify
 end

end
 @@@

and use _ve

[2011-08-06 15:17] obrie commented on #90
Hey Michael -

Thanks for letting me know about this!  I really only have 2 recommendations that might make this a _little_ more elegant...

Solution 1 involves changing the callback so that you&rsquo;ll explicitly define the arity:

 @@@ ruby
class Packet
 ...
  state_machine do
    before_transition :draft => :confirmed, :do => lambda {|p| p.verify}
  end
end
 @@@

Solution 2 involves the workar

[2011-08-06 15:17] obrie commented on #90
**meixel** commented

Hi Aaron,

thanks for your quick reply and please excuse my belated one.
Thanks for the solutions. I think I will go with the first one, since it seems prettier to me (this seems to be the only criterion I can find, because the whole issue is not really a bug in state_machine. It&rsquo;s more about delegate destroying information about the function ...)

Best regards,
Michael

[2011-08-06 15:17] #90 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #91 "update to 1.0.1 from 1.0.0 causes AR 2.3.11 loading problems"
**Aaron Gibralter** opened this issue

I upgraded to 1.0.1 from 1.0.0 and whenever I try to load my app environment I get this typoe of error:

Expected /.../myapp/app/models/user/extras.rb to define User::Extras

where user.rb has `include User::Extras` in it and my environment.rb has:

[code]

Any thoughts on why this may be happening now?

[original LH ticket](http://pluginaweek.lighthouseapp.c

[2011-08-06 15:17] obrie commented on #91
Hmm, that&rsquo;s interesting.  Sorry to have caused the regression!  I&rsquo;m not entirely sure what could have caused it off the top of my head.  There were a few changes made to scopes and defining helper methods that could potentially be related.  In addition, I did also make a change to how the locale paths got defined in Rails 2.x integrations.

I&rsquo;ll definitely be sure to take a look

[2011-08-06 15:17] obrie commented on #91
**Aaron Gibralter** commented

Here is a trace, though it contains no mention of state_machine... I just know that when I downgrade to 1.0.0, it works.

$ rake spec --trace
rake/rdoctask is deprecated.  Use rdoc/task instead (in RDoc 2.4.2+)
*\* Invoke spec (first_time)
*\* Invoke db:test:load (first_time)
*\* Invoke db:test:purge (first_time)
*\* Invoke environment (first_time)
*\* Execute enviro

[2011-08-06 15:17] obrie commented on #91
**Aaron Gibralter** commented

Dammit, that got mangled...

[code]

[2011-08-06 15:17] obrie commented on #91
Hey Aaron -

I have a suspicion regarding what the issue is, but I can&rsquo;t say for certain without a little more understanding of how User and User::Extras interact with each other.  Let&rsquo;s start with my guess: there seems to be a circular reference between User and User::Extras which causes the error.  You could simulate it with the following files:

user.rb
 @@@ ruby
class User
  includ

[2011-08-06 15:17] obrie commented on #91
Hm it actually appears as though my example may have been a bit invalid since user/extras.rb wouldn&rsquo;t actually end up defining User::Extras.  Either way, I feel like the changeset I referenced is somehow causing this issue.

[2011-08-06 15:17] obrie commented on #91
**Aaron Gibralter** commented

Where can I find you on IRC?

[2011-08-06 15:17] obrie commented on #91
**Aaron Gibralter** commented

I have:

app/models/user.rb:

[code]

app/models/user/extras.rb:

[code]

Kind of like a soft-core https://github.com/jakehow/concerned_with...

[2011-08-06 15:17] obrie opened #92 "Passing args to events doesn't work"
**cremes** opened this issue

The rdoc for StateMachine::Machine#event shows how to pass an argument to the :park event. However, the example doesn&rsquo;t work.

Run the attached file which is a copy of the Vehicle example from the Readme along with a function #park defined after the event. When it calls v.park (which is defined with a default arg list) it should print out "taking a deep breath"

[2011-08-06 15:17] obrie commented on #92
**cremes** commented

If I add a before transition and examine transition.args, I see that they are passed.

[code]

Running:
v.park(:parallel)

will print out:

in before transition
[:parallel]

It still isn&rsquo;t finding or executing the #park method defined inside of the state_machine block, so something funky is going on.

[2011-08-06 15:17] obrie commented on #92
**cremes** commented

Oops, never mind. I misread the example. The definition of the #park method needs to happen _outside_ of the statemachine block.

Sorry for the noise, please close.

[2011-08-06 15:17] obrie commented on #92
**cremes** commented

One last thing... I would suggest modifying the docs for SateMachine::Machine#event to note that the call to #super in the example will execute the before_transition _and_ after_transition hooks. So, the placement of #super within the method is quite important. The #park method then can either be a pre-before_transition hook, a post-after_transition hook, or a combination of

[2011-08-06 15:17] obrie commented on #92
(from [c20a9257a3b7babf9cbeb7c1d0a2f6fd980f870b]) Expand documentation for overriding event methods and providing arguments to events [#82 state:resolved]
https://github.com/pluginaweek/state_machine/commit/c20a9257a3b7babf9cbeb7c1d0a2f6fd980f870b

[2011-08-06 15:17] obrie commented on #92
cremes -

Thanks for reporting this!  You made some really good points about the documentation being a little light here.  I&rsquo;ve tried to clarify some of these points so hopefully it&rsquo;ll prevent confusion for others in the future.

Hope this helps!

[2011-08-06 15:17] #92 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #93 "Upgrading from 1.0.0 to 1.0.1 now gives warning and failed test."
**Ylan Segal** opened this issue

First: Thanks for making state_machine available. It rock.

Second: I just upgraded from 1.0.0 to 1.0.1 and found a warning when running my tests:

This also causes a failure in my test:

I believe the problem stems from me defining a event named "fail" in my sate machine:

 @@@ ruby
    event :fail do
      transition :authorized => :failed
    end
 @@@

Is this

[2011-08-06 15:17] obrie commented on #93
Hi Ylan,

Thanks for the report!  I apologize for taking so long to address this ticket.  This change is by design.  Prior to 1.0.1, state_machine would only generate warnings for helper methods generated for states (like "pending?").  Over the past year, I&rsquo;ve found several people who have bitten by issues where they accidentally defined events that overrode core parts of the base ActiveReco

[2011-08-06 15:17] #93 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #94 "Version 1.0.1 wont install on Ruby 1.8.6"
**Paul Sturgess** opened this issue

When I run gem install I get an &rsquo;abort trap&rsquo; on Ruby 1.8.6

The exception is:

Exception `Errno::EEXIST&rsquo; at /Users/paul/.rvm/rubies/ruby-1.8.6-p399/lib/ruby/1.8/fileutils.rb:243 - File exists - /Users/paul/.gem/specs/gems.github.com%80

When I gem install version 1.0.0 everything is fine.

[original LH ticket](http://pluginaweek.lighthouseapp.

[2011-08-06 15:17] obrie commented on #94
I&rsquo;m actually getting buffer overflow errors just installing the gem on my machine for Ruby 1.8.6-p420.  I&rsquo;ve verified that this gets fixed if I generate the gem using Ruby 1.9.1 instead of 1.9.2  This should get fixed in the next release.

[2011-08-06 15:17] obrie opened #95 "Rails 3.1.rc4 Cant transition"
**magpieuk** opened this issue

I have tried adding the gem to a project I am working on and could not get it to work.

adding the following to a basic class works

[code]

However when it is added into a model the transitions fail

v.disable_alarm
StateMachine::InvalidTransition: Cannot transition status via :disable from :active

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects

[2011-08-06 15:17] obrie commented on #95
**magpieuk** commented

I think further investigation by me is required. The tests all run without problem against activerecord and activemodel 3.1.rc.4

[2011-08-06 15:17] obrie commented on #95
**magpieuk** commented

Think I have got to the bottom of this, when the object is initialized the initial state is not being set with Activerecord. This was then not allowing the action changes to occur as the record was invalid. The error messages are also not being pulled through so it is being reported as:

ActiveRecord::RecordInvalid: Validation failed: Status translation missing: en.activere

[2011-08-06 15:17] obrie commented on #95
Thanks for taking the time to report this issue and look into it!

In the first example (the "status" state machine), do you also have the same issue where when you initialize the record, the "status" is set to nil?  If that&rsquo;s the case, is there any chance you could try to reproduce the same setup on a vanilla Rails project?  What I&rsquo;d like to see is whether there&rsquo;s another librar

[2011-08-06 15:17] obrie commented on #95
**magpieuk** commented

Hi Aaron, back from holiday, will see what I can find out for you.

[2011-08-06 15:17] obrie commented on #95
**Alex Tan** commented

magpieuk, have you checked to see if you have any before_save or other callbacks that are returning a nil or false value? I found your ticket because I was having the same issue, and having my before_saves return true solved the issue.

[2011-08-06 15:17] obrie commented on #95
**Alex Tan** commented

[2011-08-06 15:17] obrie commented on #95
Any further update here?  For now, I&rsquo;m going to mark this as resolved.  However, please feel welcome to re-open if you are able to find additional information about why the state isn&rsquo;t getting initialized.

[2011-08-06 15:17] #95 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #96 "after_transition, before_transition callback never called with Rails 3"
**MMore** opened this issue

I am using state_machine 1.0.1 with Rails 3.0.9 and ActiveRecord.

Nearly everything works but callbacks like after_transition or before_transition. They are never called. Bizzarely it works with rails console, not with the rails app started with "rails server".

Can you reproduce it?

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/86)

[2011-08-06 15:17] obrie commented on #96
Hi MMore,

Thanks for the report!  Unfortunately I&rsquo;ve been unable to reproduce this issue.  If you can provide a project that I can access demonstrating the issue, I&rsquo;d love to take a look at it.  Feel free to re-open if you&rsquo;re able to provide a reproducible test case.

Hope we can resolve the issue if you haven&rsquo;t been able to already!

[2011-08-06 15:17] #96 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #97 "active_{record,model} custom validations ignored"
**Travis Vachon** opened this issue

Using custom validators as described here:

http://guides.rubyonrails.org/active_record_validations_callbacks.html#creating-custom-validation-methods

doesn&rsquo;t seem to work - the method doesn&rsquo;t appear to get called at all. I&rsquo;ve added two tests demonstrating this behavior to this fork:

https://github.com/utahstreetlabs/state_machine

travis:~/d

[2011-08-06 15:17] obrie commented on #97
Hi Travis,

I apologize for taking so long to get back to you!  I took a look at your fork and the reason those tests fail is because the custom validation method is being defined in the event block and not the actual class.  As a result, Rails is never able to find that method.  To resolve this, you should define your class / state machine like so:

 @@@ ruby
class Vehicle
  state_machine do

[2011-08-06 15:17] #97 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #98 "Unable to make :do work"
**Nicholas Wieland** opened this issue

Hi *, state_machine apparently doesn&rsquo;t call :do on transition:

[code]

I don&rsquo;t see anything in my logs... Am I doing something wrong?
The app is fully updated, so state_machine 1.0.1 and rails 3.0.9

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/88)

 This ticket has 0 attachment(s).

[2011-08-06 15:17] obrie commented on #98
Nicholas -

You&rsquo;re creating an after_transition callback with :on set to :published.  However, :published is a state and not an event.  If you want to run the callback when the "publish" event is run, then you should change it to:

 @@@ ruby
...
after_transition :on => :publish, :do => :schedule_screenshot
...
 @@@

If you want to run the callback when you transition to "published", then you

[2011-08-06 15:17] #98 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #99 "Integration overrides for #owner_class_ancestor_has_method? are wrong"
**Aaron Pfeifer** opened this issue

The integration overrides for #owner_class_ancestor_has_method? are implemented incorrectly as they sometimes return true instead of the ancestors that has the conflict.  As a result, you end up getting the following error:

[code]

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/89)

 This ticket has 0 attachment(s).

[2011-08-06 15:17] obrie commented on #99
(from [8fb2846257eb43d6d237c1cd41174de6215846e7]) Fix error when defining states with the same name as the state&rsquo;s machine in ActiveRecord, MongoMapper, and Mongoid integrations [#89 state:resolved]
https://github.com/pluginaweek/state_machine/commit/8fb2846257eb43d6d237c1cd41174de6215846e7

[2011-08-06 15:17] #99 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #100 "Consider not throwing warnings when defining a state that's the same name as the machine"
**Aaron Pfeifer** opened this issue

When you define a state that&rsquo;s the same name as the machine, a warning is generated.  Should consider if there&rsquo;s a way to avoid this.

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/90)

 This ticket has 0 attachment(s).

[2011-08-06 15:17] obrie commented on #100
**leondu (at gmail)** commented

./gems/state_machine-1.0.1/lib/state_machine/machine.rb:630
warn "#{scope == :class ? &rsquo;Class&rsquo; : &rsquo;Instance&rsquo;} method \"#{method}\" is already defined in #{ancestor_name}, use generic helper instead."
(rdb:1) p ancestor_name
"Object"
(rdb:1) p method
:open
(rdb:1) p Object.method_defined?(:open)
false
(rdb:1) p Object.private_method_defined?(:o

[2011-08-06 15:17] obrie commented on #100
When defining a state that&rsquo;s the same name as the machine, this should still generate a warning since it&rsquo;s going to result in a helper method not getting generated.  As a result, I&rsquo;m going to close this as invalid.

leondu -

This is actually a different issue, but the issue you&rsquo;re encountering is actually as designed.  I&rsquo;m planning on adding some more information abo

[2011-08-06 15:17] #100 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #101 "before_save not executing, apparently as result of using it in more than one states"
**Alex Tan** opened this issue

I&rsquo;m using Rails 3.1.0rc4, although this problem may exist prior to this version.

I have a model in my App called Ballot. Here are my 3 states (I&rsquo;ve taken other callbacks and validations out):

 @@@ ruby

state_machine :submission_state, initial: :unsubmitted do

[code]

end

 @@@

The issue I&rsquo;m having is that having the before_save in the third st

[2011-08-06 15:17] obrie commented on #101
**Alex Tan** commented

I think I found the issue, I was returning false from a prior before_save callback, preventing it from ever executing. This ticket can be closed. :)

[2011-08-06 15:17] obrie commented on #101
Alex,

Thanks for reporting the issue!  I&rsquo;m glad you were able to find a solution :)  There have also been instances where Rails does not allow a particular callback or validation to be defined multiple times in a model even though they may have different :if / :unless conditionals.

Happy state machining!

[2011-08-06 15:17] #101 closed, assigned to obrie

[2011-08-06 15:17] obrie opened #102 "2nd state_machine with targeted attribute doesn't pass validation"
**Alex Tan** opened this issue

In a vanilla Rails 3.1.0rc4 application, the following code does not pass validation.

 @@@ ruby
class Alarm < ActiveRecord::Base

[code]

end
 @@@

This is the result:

 @@@ ruby
  alarm = Alarm.new
  alarm.save
  alarm.errors #<ActiveModel::Errors:0x00000104331148 @base=#<Alarm id: nil, state: "off">, @messages={:state=>["is invalid"]}>
 @@@

I think I&rsquo;m fol

[2011-08-06 15:17] obrie commented on #102
Hey Alex -

Nice find!  It looks like this is an oversight on my part.  The validations that are in place don&rsquo;t take into account the fact that multiple state machines can point to the same attribute but still have states that they don&rsquo;t both know about.  In this case, your "public_state" machine doesn&rsquo;t know about the "off" state since it wasn&rsquo;t referenced anywhere in its

[2011-08-06 15:17] obrie commented on #102
(from [4297235f09a8af604a7612f979fd94787319b10b]) Fix multiple machines not being able to target the same attribute if all possible states aren&rsquo;t defined in each [#92 state:resolved]
https://github.com/pluginaweek/state_machine/commit/4297235f09a8af604a7612f979fd94787319b10b

[2011-08-06 15:18] #102 closed, assigned to obrie

[2011-08-06 15:18] obrie opened #103 "validations only execute in last state of multi-state declaration"
**Alex Tan** opened this issue

Given the following code:

 @@@ ruby
class Alarm < ActiveRecord::Base

[code]

end
 @@@

The validation will only execute when moving to the last state declared. That is, when moving to off, #arbitrary_validation never gets called. This was confirmed in a vanilla Rails 3.1.0rc4 using RSpec and Mocha.

[original LH ticket](http://pluginaweek.lighthouseapp.com/project

[2011-08-06 15:18] obrie commented on #103
Hey Alex -

Thanks for the report!  This problem has actually been reported by several others in the past.  Unfortunately, this is an issue with Rails (or, specifically, ActiveSupport).  The problem is that it doesn&rsquo;t allow the same method to be referenced in a validation multiple times.  You could reproduce this with the following test case:

 @@@ ruby
class Alarm < ActiveRecord::Base
    v

[2011-08-06 15:18] obrie commented on #103
(from [561b2c5a8b4faff255d55bb67e4a92400ed4f4aa]) Add caveat explaining the use of state-driven custom validations in ActiveModel, ActiveRecord, MongoMapper, and Mongoid [#93 state:resolved]
https://github.com/pluginaweek/state_machine/commit/561b2c5a8b4faff255d55bb67e4a92400ed4f4aa

[2011-08-06 15:18] obrie commented on #103
**Alex Tan** commented

Interesting, I&rsquo;ll check if there are any tickets out on the Rails side.

[2011-08-06 15:18] #103 closed, assigned to obrie

[2011-08-06 15:18] obrie opened #104 "Clarify how to avoid transactions in AR / Sequel"
**Aaron Pfeifer** opened this issue

Right now the docs indicate that state_machine will still get executed within a transaction if you explicitly turn off transactions but use :save as the action (which is the default).  The docs should clarify how you can get around this by changing the action.

[original LH ticket](http://pluginaweek.lighthouseapp.com/projects/13288/tickets/94)

 This ticket ha

[2011-08-06 15:18] obrie commented on #104
(from [f4428eac06bd2889a2cdff176a696dd66124d02d]) Clarify docs on how to completely avoid running before/after transition hooks in transactions for ActiveRecord, DataMapper, and Sequel integrations [#94 state:resolved]
https://github.com/pluginaweek/state_machine/commit/f4428eac06bd2889a2cdff176a696dd66124d02d

[2011-08-06 15:18] #104 closed, assigned to obrie

[2011-08-06 15:21] #2 closed, assigned to obrie

[2011-08-06 15:24] obrie commented on #1
Figured I'd comment on this since I don't think this issue was ever filed on lighthouse.  This should be fixed in the latest version of no-peeping-toms (2.0+).  The problem was that no-peeping-toms was overriding Observer hooks in a way that was incompatible with how state_machine was using those hooks.

[2011-08-06 15:24] #1 closed, assigned to obrie

[2011-08-06 16:05] grimen opened #105 "Add Travis CI"
Highly recommended to keep track of comaptability among different setups. Takes < 5 min with basic setup, and with custom Gemfiles can be tested with multiple Rails versions smoothly. See: http://about.travis-ci.org/docs/user/build-configuration/

[2011-08-06 16:31] skiz commented on #1
Excellent, thanks for the update.

[2011-08-06 16:34] obrie commented on #105
Definitely on my TODO list for this weekend :)

[2011-08-07 22:21] #105 closed, assigned to obrie

[2011-08-07 22:22] obrie commented on #105
With the inclusion of the appraisal gem and integrating travis-ci, all of the different integrations should be automatically tested.  Thanks for filing this issue!

[2011-08-10 01:59] obrie commented on #91
@agibralter Can you try running against the latest changes in master and seeing if this makes a difference with the issue you were seeing?  I haven't heard from anyone else experiencing this and I'm hoping some of the AR-related issues that have been fixed since 1.0.1 resolve the problem.

[2011-08-10 02:28] obrie commented on #94
This is fixed in the latest release, 1.0.2.

[2011-08-10 02:28] #94 closed, assigned to obrie

[2011-08-10 02:37] obrie commented on #91
The other suggestion I might have is to try the following:

[code]

This will prevent state_machine from walking the ancestor hierarchy in order to detect method conflicts.

[2011-08-10 20:53] agibralter commented on #91
@obrie -- Awesome! The master branch of state_machine works now. I tried 1.0.1 again just to make sure that it still does not work with my code base, and, as expected, 1.0.1 did not work.

Thank you! Is 1.0.2 close to release?

[2011-08-10 23:55] obrie commented on #91
That's great!  1.0.2 was actually released last night, so you're all set on that front :)

[2011-08-10 23:55] #91 closed, assigned to obrie

[2011-08-11 01:46] agibralter commented on #91
thanks! :)

[2011-08-12 12:43] salzig opened #107 "State-Scopes in ActiveRecord 3"
Sadly State-Scopes seem to be limited to ActiveRecord 2
https://github.com/pluginaweek/state_machine/blob/master/lib/state_machine/integrations/active_record/versions.rb

would be nice if someone could take some time to implement them for version 3

[2011-08-12 18:55] obrie commented on #107
State scopes are supported in ActiveRecord 3 -- see https://github.com/pluginaweek/state_machine/blob/master/lib/state_machine/integrations/active_record.rb#L428.

[2011-08-12 18:55] #107 closed, assigned to obrie

[2011-08-12 22:15] ychaker opened #109 "StateMachine::InvalidTransition: Cannot transition attendance via :mark_as_not_played from :na"
here's the code that i have:

[code]

obviously there is more to the code than what's above, but that's the relevant part.
the idea is to update the attendance state automatically if appropriate after the find.

im running locally:
Rails 3.0.7
ruby 1.9.2
gem 1.8.1
state_machine (1.0.1)
mysql

and locally it works just fine. on heroku on the other hand, i get the error:

StateMachine::InvalidTransi

[2011-08-12 22:47] ychaker commented on #109
i think it's also worth mentioning that the problem occurs with objects that existed before adding the attendance column which defaults to 'na'.
but it's still a heroku issue only, locally old rsvps don't raise an exception.

[2011-08-14 18:22] obrie commented on #109
Hey there -

Thanks for reporting this.  There's no reason the behavior should be different on one system vs. another.  What I'd recommend is that you change your `after_find` hook to log information as to why the error occurred.  The StateMachine::InvalidTransition exception can get raised for multiple reasons:
- The transition may not exist for the current state
- Validations may be failing on t

[2011-08-15 08:13] ychaker commented on #109
Hi,
thanks for your reply, i've put that code in and will keep it. but i can no longer reproduce the error. which is a good thing, but i won't find out what the original problem was. i had to manually delete all the old RSVPs to be able to continue working and so that the rest of my team can test the features and stuff... so now i won't be able to have a similar situation again.

Thanks anyway for

[2011-08-15 08:13] #109 closed, assigned to obrie

[2011-08-18 13:34] tsemana opened #110 "Getting ActionView::Template::Error: undefined method `state' for #<Listing:0x0000010aa8f880>"
I'm getting the above error on my views when I call <#= @model.human_state_name %>  but in my unit tests work, and this assertion @model.state.should be == "good state" in my integration test works.  The test where this the assertion works also calls the view where I'm trying to get the name and that's where it fails on the view..  the view can get all other attribute of @model as is expected

usi

[2011-08-18 16:29] tsemana commented on #110
I got that working by adding attr_accessor :state.  Now having an issue with FactoryGirl and that it doesn't seem to set the initial state properly.  I've found this answer, but I have not gotten it to work http://stackoverflow.com/questions/5728584/testing-dynamic-initial-states-with-factorygirl-and-statemachine.

currently, I'm setting up the model now without an initial state, but the before_va

[2011-08-19 12:16] obrie commented on #110
Hi tsemana,

Thanks for reporting this.  Unfortunately, it'll be very difficult to debug your issues without a little more context.  Specifically, I'd like to see:
- Your model's state_machine definition
- Your model's database schema
- The test you're running (and any before / setup hooks)

Ideally, I'd like to be able to run the test on my machine so that I can investigate the error.  The only t

[2011-08-19 12:40] tsemana commented on #110
Thanks for the reply.  I had since moved to another state_machine implementation just so I could deliver something today, but I branched that version of the code so that I could go back to it.  I'll work through your suggestions hopefully this weekend and get back to you.

regards,
Tony

On 2011-08-19, at 8:16 AM, obrie wrote:

[2011-08-23 11:46] #110 closed, assigned to obrie

[2011-08-23 11:46] obrie commented on #110
Sounds good, Tony!  I'm going to close this issue for now, but please re-open it if you find an issue in state_machine.

[2011-08-26 15:56] rafamvc opened #111 "Nested models with nested state machines"
I have a couple models that are nested (Simplified code):

[code]

[code]

I hook those two models and state machines together by using the delegate, but when I call `campaign.done`, it will trigger all the validations on both models, but on campaign it will validate with the validations from `state :ready` while in the creative it will validate with `:draft`. Of course after the commit happens, i

[2011-09-01 15:34] bradrobertson opened #112 "[feature request] can_#{event} method should run validations"
On active_record objects, the state machine doesn't run validations when determining if an object can transition to a state.  This provides unexpected behaviour, as I would assume that `can_do_foo?` would return false if the validations fail.

Here's a simple example:

[code]

[2011-09-01 20:20] NeutralAngel opened #113 "Confusing example in README"
There are two things about the Vehicle example in the README that confused me.

1) There is no speed method defined for state :third_gear, so calling vehicle.speed when the vehicle object is in the :third_gear state causes a "NoMethodError: super: no superclass method 'speed'" to be thrown.

2) The auto_shop_busy? method always returns false, so I would assume that I could always repair my vehicle

[2011-09-02 14:35] iwiznia opened #114 "I18n documentation is missing"
I don't see how to congifure the I18n, digging in the code, I saw that for the activerecord integration it looks for activerecord.state_machines.[model_name].[state_machine_name].states and .events
Although there are some things that I can't get translated correctly, precisly the InvalidTransition message, no matter how I configure it, it doesn't translate the "value" param.
Am I missing something

[2011-09-04 15:00] jaylevitt opened #115 "RDoc framed formatting is all screwed up"
Code is mixed in with the text, lines of code are showing up as section headers, etc..

http://rdoc.info/github/pluginaweek/state_machine/master/frames

[2011-09-05 03:12] jaylevitt opened #116 "multi-state validations workaround idea"
Why not override `validate` in the ActiveModel integration, as something like

[code]

[2011-09-05 12:06] jaylevitt opened #117 "Initial-state callback docs, use case could be improved"
The docs for callbacks on the initial state suggest that you (a) use a before_save hook or (b) call the starting event yourself.  The logical choice is to do both, e.g.:

[code]

However, this results in an infinite recursion.

Easy fix: say "Don't do that."

Better fix: It'd be really nice if you could, somehow, do that; even a special `after_initialize` hook would be better than having to call t

[2011-09-05 12:09] jaylevitt opened #118 "Can't declare transition from nil"
I want to make sure I can't start an already-started survey, so I wrote:

[code]

But although `:initial => nil` is the recommended idiom (since I need callbacks), I can't declare `transition nil => :started`. Yet if i say `transition all => :started`, I'm not guarding against calling `start` twice, or restarting a survey in some other state.

[2011-09-06 01:30] pzupan opened #119 "observer - wrong number of arguments (2 for 1)"
I'm getting this exception and have traced it to lib/state_machine/integrations/active_model/observer.rb.

In the update_with_multiple_args, it throws an exception when I state_machine attempts to run one of the after callbacks.  It seems to work on all but one, though I can't figure out why it won't work on the last as all the variables passed into the function seem to be complete.  Anyway, I've

[2011-09-07 13:39] jaylevitt opened #120 "Declaring states w/matchers works inconsistently"
The documentation for `state` doesn't say if it supports only an explicit state name, or any matcher.  The following does work:

[code]

But the following gives a `NoMethodError` when calling `next_action` in the `completed` state:

[code]

[2011-09-07 13:44] jaylevitt opened #121 "[Feature] detailed error handling"
When an event can't fire, there's no way to find out why not; I have to manually debug the code by commenting out parts of the state machine until it starts working again.

It'd be nice if state_machine could provide some sort of `.errors` method that would detail whether the state transition failed because:
- No such transition is defined, period
- The transition has a `before_transition` callbac

[2011-09-07 21:15] jcoppedge opened #122 "after_failure callback data changes rolled back on transition failure"
Consider this state machine on Rails ActiveRecord object:

[code]

:dispatch accesses an external web service and is certainly possible to fail, and it does return false if a failure occurred.  In the :dispatch chain  I also attempt to save the communication with the web service in a separate logging data table - however those entries are rolled back even though they are saved to the database in :

[2011-09-08 18:28] BellandWhistle commented on #95
I had this problem, but that was because i use set an event called `validate`

[2011-09-14 16:56] ccastillop opened #123 "[BUG] object allocation during garbage collection phase"
I am stuck in strange error.
Ror 3.09 ruby 1.9.2 p290

Trying to POST or PUT some changes to newly created TransactionRequest object...

My ActiveRecord class:

[code]

Error stack:

/home/cristian/.rvm/gems/ruby-1.9.2-p290@senddinero/gems/activesupport-3.0.9/lib/active_support/whiny_nil.rb:48: [BUG] object allocation during garbage collection phase
ruby 1.9.2p290 (2011-07-09 revision 32553) [i686

[2011-09-16 20:30] ccastillop commented on #123
I found out the solution: I was setting some state value before_validation, so Ruby enter in an infinite bucle...

[2011-09-16 20:30] #123 closed, assigned to obrie

[2011-09-26 17:02] dpmccabe opened #124 ""Cannot draw the machine. `gem install ruby-graphviz` >= v0.9.0 and try again.""
I'm using:
state_machine (1.0.2 01ea7de)
graphviz 2.28.0 from http://www.graphviz.org/Download_macos.php
ruby-graphviz 1.0.0

When I run "rake state_machine:draw FILE=account.rb CLASS=Account" I get the error "Cannot draw the machine. `gem install ruby-graphviz` >= v0.9.0 and try again."

[2011-09-29 18:06] chabgood commented on #96
I am seeing the same thing here, I have a Rails.logger.info Statement in the after_transition block but it never gets there.  I also cannot seem to get the observer to work either.

[2011-09-29 18:15] chabgood opened #126 "after_transition callback never called with Rails 3, Mongoid"
I am not seeing anything happen within the after_transition block.  I also am not seeing the mongoid observer being executed.

[2011-10-04 10:13] nofxx opened #127 "Mongoid 2.3.0 :initial fails"
It's time for @durran `s:

https://github.com/durran/state_machine/commit/3f3829b79ce29183d1a64a21c10c08021a3f3958

Thanks all.

[2011-10-04 14:18] cheef opened #128 "State not changes with Mongoid > 2.1.9"
When I try to change state via event nothing happens.

[code]

Version 2.1.9 is the latest when state machine is working, but 2.1, 2.2 and 2.3 don't

[2011-10-12 12:56] jamesbebbington opened #129 "Specify RDoc link in gemspec"
I noticed that the [RDoc link](http://api.pluginaweek.org/state_machine) at the [Ruby Toolbox](https://www.ruby-toolbox.com/projects/state_machine) is broken. [According to the author](http://twitter.com/#!/TheDeadSerious/status/124096454393466880) you can specify the RDoc link in the gemspec and Ruby Toolbox will pick it up.

[2011-10-12 15:23] colszowka commented on #129
Actually, I think the link is stated wrongly on the web interface of rubygems.org. That's where it should be fixed.

[2011-10-15 01:04] ngw commented on #126
Same problem here.

[2011-10-15 12:49] obrie commented on #111
Hi Rafael,

Thanks for the report!  I'll take a look at this in more detail and get back to you on it.

[2011-10-15 14:20] obrie commented on #112
HI Brad,

Thanks for commenting on this.  The truth is that there are several things that could prevent an event from transitioning, including:
- validation failures
- before callback halts (before_transition, before_save, etc.)
- rollbacks in any before / after callback

You'll truly never know if a transition will succeed until you actually attempt it.  If we were to make this helper a little mo

[2011-10-15 14:48] #113 closed, assigned to obrie

[2011-10-15 14:49] obrie commented on #113
Thank you for bringing this confusion to my attention!

[2011-10-17 12:05] obrie commented on #114
Thanks for taking the time to report this issue.  There aren't any known issues with regard to using i18n currently.  To fully understand where you're seeing the issue, I'll need to know:
- What version of Ruby are you running?
- What ORM are you using (ActiveRecord, Mongoid, etc.)?
- What web framework are you running (Rails, Sinatra, etc.)?
- What does your i18n configuration look like?

I can t

[2011-10-17 12:08] obrie commented on #115
Thanks for pointing this one out.  I'll look into whether there's a way to provide different formatting to both GitHub and rdoc.info.

[2011-10-17 12:27] #115 closed, assigned to obrie

[2011-10-17 12:31] obrie commented on #115
Looks like the yard folks _just_ added support for this, so it should get updated on the rdoc.info servers fairly soon.

[2011-10-17 13:45] iwiznia commented on #114
- Ruby version: 1.8.7
- ORM: ActiveRecord.
- Framework: Rails 2.3.10
  My I18n looks like this:

[code]

The thing is that when the invalid_transition validation is fired, the value and event aren't translated using the translations given in "state" and "events" configs.

[2011-10-17 17:06] bradrobertson commented on #112
ya that's a fair response.  I was just thrown off a bit because my assumption was that it would check these things.  I've already used a similar workaround above so there's no problems per se.

I would make a specific mention in the docs that `can_#{event}` _only_ checks if the transition from one state to another is allowed and doesn't consider things like validations.

[2011-10-18 12:03] #112 closed, assigned to obrie

[2011-10-18 12:03] obrie commented on #112
Thanks for the feedback!

[2011-10-18 14:29] JohnGoodman commented on #121
+1

[2011-10-18 17:28] jmazzi opened #130 "Weird issue with method missing"
If you setup a model to use a column other than 'state' and use the following code it raises an error. I came across the issue while playing with the state_machine API:

[code]

[code]

I put a test project up at https://github.com/jmazzi/state_machine_bug if you wanna try it out. Probably not a real issue but certainly an odd one.

[2011-10-19 12:28] #114 closed, assigned to obrie

[2011-10-19 12:33] obrie commented on #114
Thanks for following up.  There were a few issues at play here.  First, your locale definition wasn't structured quite right.  The translations for each individual state should be under a "states" key, not "state".  In addition, the "states" and "events" keys need to be under a "state" key (representing the name of your machine).  The second problem is that "%{value}" always represents the actual

[2011-10-19 12:45] obrie commented on #130
Hey Justin -

You've actually encountered a subtle way with how state machines get generated.  The state_machine method on the class is a macro for generating your state machine definition.  In your model, there's DSL support for generating the machine definition, but in reality what you're doing is the following:

[code]

If you think about it that way, then the first line in your example starts

[2011-10-19 12:46] #130 closed, assigned to obrie

[2011-10-19 12:55] jmazzi commented on #130
Ah, yes! Thanks that clears things up :)

[2011-10-19 15:55] iwiznia commented on #114
Great! Thank you very much! The state interpolation is key, because without that you couldn't show the rails validation error to end users.

[2011-10-19 16:23] obrie commented on #129
Thanks for the heads up, guys!  @colszowka - I should have read your comment before filing a support ticket on ruby-toolbox :)

This is all set on rubygems.org... just waiting for the changes to propagate.

[2011-10-19 16:23] #129 closed, assigned to obrie

[2011-10-19 17:01] colszowka commented on #129
@obrie The updates happen every 3 hours normally. I ran a manual update just to check if things work as they should, and voila :)

[2011-10-19 17:06] obrie commented on #129
Sweet, thanks!

[2011-10-20 11:35] obrie commented on #124
Thanks for taking the time to report this issue.  I've updated the latest on master to give you some more information as to why ruby-graphviz can't be loaded.  Can you try this and let me know if the error provides you better insight?

If you're still having troubles, can you provide some more info about how you're testing this?  Are you running this as a Rails rake task, or standalone in the stat

[2011-10-20 16:49] obrie commented on #116
Jay -

Thanks for the idea!  I'm actually making a few moves to get away from implementing unsupported workarounds / overrides that make it difficult to remain compatible with future versions of ORMs.  While something like this would likely solve the problem, it introduces a fairly brittle override that could come back to bite us in case the API changes or if there are any other libraries that exp

[2011-10-20 16:49] #116 closed, assigned to obrie

[2011-10-20 19:58] dpmccabe commented on #124
I fixed it. I added "ruby-graphviz" to my Gemfile and ran "bundle install" and it worked.

[2011-10-20 19:58] #124 closed, assigned to obrie

[2011-10-20 20:10] dpmccabe opened #131 "Generated graphs have duplicate events"
I have two state machines in my Account model:

[code]

When I try to generate the graphs (`rake state_machine:draw FILE=account.rb CLASS=Account`), the events are all duplicated. You can see the generated images here: http://imgur.com/a/MEzML

This is with state_machine (1.0.2) and ruby-graphiz 1.0.0.

[2011-10-21 02:05] obrie commented on #119
Thanks for the heads up!  I actually just changed the Observer integration so that it no longer method chains #update.  This will fix any possible issues where observed methods were being called incorrectly.  Take a look at the change at https://github.com/pluginaweek/state_machine/commit/fe2b9beae938d8c400f53f7ed38bab26a6cc54d0.  This will be available in the next release.

The one thing to note

[2011-10-21 02:05] #119 closed, assigned to obrie

[2011-10-21 12:45] obrie commented on #118
Hey Jay -

I can't seem to reproduce the issue you're seeing.  I did find one issue related to observer callbacks when using nil states which has since been fixed.  However, I haven't found any issues with running transitions.  I ran the following example on Ruby 1.8.7 / ActiveRecord 3.0:

[code]

Can you tell me exactly what error you're seeing?  If you can reproduce this, I'd love to see a test

[2011-10-21 15:13] azizmb opened #132 "Persist state in dynamic transition definition"
State is not persisted when loaded dynamically (from a database). In case this can be done, documentation for the same would be very helpful.

Thanks!

[2011-10-22 15:48] #132 closed, assigned to obrie

[2011-10-22 15:48] obrie commented on #132
Great suggestion!  I've updated the example to demonstrate this.

[2011-10-22 17:19] #131 closed, assigned to obrie

[2011-10-22 17:19] obrie commented on #131
Thanks for reporting this!  You actually shouldn't be specifying the FILE option when using the rake task in Rails.  I've updated state_machine to protect against this in the future.

[2011-10-22 17:43] #117 closed, assigned to obrie

[2011-10-22 17:50] obrie commented on #117
Thanks for the feedback!  I've updated the docs to provide all of the various techniques that can be used and corresponding examples.  I think one of these 3 solutions should be sufficient for hooking into the initial state change.  I would prefer to be consistent in how transition callbacks get defined (whether that's for the initial transition or not) than introduce a new callback that's specifi

[2011-10-22 18:28] obrie commented on #118
Feel free to re-open if you're still seeing this.

[2011-10-22 18:28] #118 closed, assigned to obrie

[2011-10-23 04:57] azizmb commented on #132
Thanks a lot! Appreciate it.

[2011-10-24 15:36] azizmb commented on #132
Hey

Could you tell me how we could manage multiple workflows on a model? Is there a method that generates the state_name depending on the namespace?

[2011-10-26 12:53] obrie commented on #111
Rafael -

This is certainly possible, though I can't say to what extent it will solve all of the things you want to do in both models going forward.  There are a variety of ways you could get this work and I'd recommend that you follow up on the mailing list if you're like to discuss alternatives.  One of the solutions you could go with is shown below:

[code]

[code]

[code]

Hope this helps!

[2011-10-26 12:53] #111 closed, assigned to obrie

[2011-10-26 12:56] obrie commented on #132
I'm happy to help, but let's move that discussion to the mailing list :)

[2011-10-26 21:06] ajsharp opened #134 "Model should not be valid if a state transition fails"
Is there a built-in way to add a validation to a model so that when model validations run, it checks if the state property / object is in a valid state?

[2011-10-27 02:32] MirkoCindric commented on #126
having the same issue but with active record

[2011-10-27 02:52] MirkoCindric opened #135 "Observer not firing for model with state_machine"
Hi have a user model that fire the observer correctly but when l try it for another model that also implements state_machine not luck cant get any of the methods like after_transition or even after_create to fire in the observer just wont run it at all and yes l have it in the application.rb file

I am using rails 3.0.10 + mysql2 + state_machine and delayed_job

[2011-10-27 12:56] obrie commented on #135
Hi there -

Thanks for taking the time to report this.  A few questions....
- Does your User model have a state_machine and fire observer callbacks correctly?
- If you remove state_machine from your other model, does it fire after_create callbacks correctly?
- Can you try using the latest version of state_machine on master?  There was a change I made to how observer callbacks get called which I ha

[2011-10-27 13:01] obrie commented on #134
Hey @ajsharp -

Yep, this is already built into all ORM integrations.  See below:

[code]

[2011-10-27 13:01] #134 closed, assigned to obrie

[2011-10-28 16:15] cosenmarco opened #136 "Behaviors not working when defined with (any - :a_state)"
Declaring a behaviour like this:

[code]

doesn't work.
After some debugging it seems that the StateCollection is filled with BlacklistMatchers and this is not handled correctly.

A simple test:

[code]

[2011-10-28 17:04] obrie commented on #136
Hi,

Thanks for the report!  This is actually a dupe of #120.  Feel free to track updates there.

[2011-10-28 17:04] #136 closed, assigned to obrie

[2011-10-29 20:51] aaronchi opened #137 "Are transition callbacks supposed to fire when state changes on a regular save?"
I have a model set up like this:

[code]

Right now, the transition only fires if I call `listing.verify!` but not if I update the state directly. Is this the intended behavior or should the model be recording state changes when done through a regular update?

[2011-10-30 16:29] abhishiv commented on #127
Can this be pulled in please?

[2011-10-30 16:41] obrie commented on #127
Hey guys -

This is a dupe of #125.  I mentioned in that pull request that it's on my radar.  I'm sorry it's taking me so long.  Trust me, it'll be pulled in soon.

[2011-10-30 16:41] #127 closed, assigned to obrie

[2011-10-30 18:26] abhishiv commented on #127
Thanks.

And thanks for your effort guys. This is absolutely the best state_machine implementation I have seen for ruby :)

[2011-10-30 23:31] MirkoCindric commented on #135
Hi obrie,

Finally got it working was and issue with the version of state_machine was using the 2nd latest version, tried the latest and was working but still very strange as to why as no real indication as to what the issue was

[2011-10-30 23:31] #135 closed, assigned to obrie

[2011-10-31 02:22] #120 closed, assigned to obrie

[2011-10-31 11:41] obrie commented on #137
Hey @aaronchi -

Setting the state directly bypasses state_machine altogether, so it will not fire any callbacks when this is done.  You could consider using the attribute-based event transitions which allow you to fire off an event when the machine's action ("save" in this case) is called.  For example:

[code]

In that example, the "park" event will be run when the Vehicle record is saved.  This

[2011-10-31 11:41] #137 closed, assigned to obrie

[2011-10-31 12:14] obrie commented on #121
Hey guys -

Thanks for taking the time to make this suggestion!  state_machine actually already integrates with ActiveRecord for reporting errors when transitions can't occur.  See below:

[code]

In this example you'll notice a few things.  First, if a transition isn't allowed, it is always reported in the errors hash.  Second, if a validation fails, only those attributes that failed will have an

[2011-10-31 12:14] #121 closed, assigned to obrie

[2011-11-01 02:35] #122 closed, assigned to obrie

[2011-11-01 02:37] obrie commented on #122
Hey @jcoppedge -

Thanks for the great question!  I added some documentation to explain how to do exactly what you're asking.  This basically comes down to ensuring that the model you're saving in the `save_dispatch_logs` callback is using a separate database connection.  This allows the transactional behavior of the machine's model from affecting the dispatch logs.

Hope this helps!

[2011-11-01 06:27] azizmb commented on #132
Sure, sorry for polluting the tracker, thanks for the help :)

[2011-11-01 17:23] obrie commented on #96
Hey @chabgood -

I had one other report that observers weren't working, but I believe this got fixed by the latest unreleased version.  Can you try out the latest and see if this solves any of your issues?  As far as the `after_transition` block, I can't say that I've seen this myself -- is there any way you can providing a reproducible example (posted on github or otherwise) that I can use to fig

[2011-11-01 17:49] austinthecoder opened #138 "ActiveRecord::RecordInvalid being raised as StateMachine::InvalidTransition"
Consider the following code:

[code]

When I run the following, I would expect `ActiveRecord::RecordInvalid` to be raised. Instead, `StateMachine::InvalidTransition` is raised:

[code]

The record being invalid is the original reason why the state machine error is raised. Hiding this error can be confusing, especially when the error message is "Cannot transition state via :wake from nil". This mes

[2011-11-02 11:51] obrie commented on #138
Hey @soccer022483 -

Thanks for your feedback.  I think there's perhaps a little misunderstanding of what's happening under the hood when you call `wake` or `wake!`.  When using the default ActiveRecord configuration in state_machine, calling an event like `wake` results in the `save` method being called on your record once the state has transitioned.  As I'm sure you know, `save` will return true

[2011-11-05 10:31] lexer opened #139 "Initial state doesn't work with mongoid"
State machine description:

[code]

Helper call

[code]

Fails with "nil is not a known status value"

Than means that mongoid doesn't initialize initial state for new objects.

[2011-11-05 10:58] lexer commented on #139
Found this issue. This is fixed branch from Durran.

gem "state_machine", :git => "git://github.com/durran/state_machine.git", :branch => "mongoid-2.3-fixes"

[2011-11-05 10:58] #139 closed, assigned to obrie

[2011-11-05 15:55] #126 closed, assigned to obrie

[2011-11-05 15:57] obrie commented on #126
Hey guys -

Thanks for the heads up!  This should be fixed now for anyone using Mongoid 2.2.x.  If you're still seeing this problem on the latest master branch, let me know and post a failing test case.

Best,
Aaron

[2011-11-07 12:12] obrie commented on #128
Hey @cheef -

Can you try this again with the latest version of state_machine (1.0.3)?

Thanks!

[2011-11-09 05:32] hrigu opened #140 "endless loop when two methods in different states have the same name"
given: a state machine with two states. Each state defines a method with the same name.
When I call the method of the second state
Then the program ends in an endless loop

[code]

[2011-11-09 16:41] obrie commented on #128
This should be fixed in the latest version... I'll re-open this issue if there's a test case still failing here.

[2011-11-09 16:41] #128 closed, assigned to obrie

[2011-11-10 06:53] hrigu commented on #140
I'm using state_machine version 1.0.2

[2011-11-10 10:22] jeroenhouben commented on #138
I also spent a day debugging this issue. Why does StateMachine::InvalidTransition even exist? Isn't it just another validation? I mean, invoking an invalid transition could just throw a RecordInvalid with an error on the state column and the content being an i18n key like en.statemachine.invalid_transition. Just like any other validation error.

Or, maybe you can just include the original exceptio

[2011-11-10 12:05] obrie commented on #140
Thanks for reporting this issue!  I was able to reproduce it, using Ruby 1.9.1.  The behavior appears significantly different in Ruby 1.8.7.  I'll take a look at this and let you know what I find.

[2011-11-10 12:16] obrie commented on #138
Hey @jeroenhouben -

Thanks for the feedback.  I definitely want to better understand what leads to the debugging difficulties.  What are your thoughts on the comment I added earlier to this issue?  Is your situation that the invalid column wasn't showing up in the list of errors on the record?  If so, I'd love to see an example so that I can reproduce it locally.  Even if state_machine throws an

[2011-11-10 13:24] #140 closed, assigned to obrie

[2011-11-10 13:27] obrie commented on #140
It's worth noting that this still only works on Ruby 1.9.1+.  However, it should no longer infinitely loop :)

This change will get included in the 1.1.0 release coming sometime in the next few weeks.

[2011-11-10 13:39] jeroenhouben commented on #138
Hi obrie,

It seems that if I use the attribute-based events I can make transitions that I have not specified to be possible.. Or I'm doing something wrong..
Other than that, I like using state machine's bang! methods, they clearly show their intent.

class Invoice < ActiveRecord::Base

  state_machine :payment_state, :initial => :unpaid do

[code]

  end
end

ruby-1.9.2-p290 :006 > i.payment_stat

[2011-11-10 18:18] obrie commented on #138
Attribute-based events involves setting an attribute to an event name that will fire when you save the record.  In this case, what you'd do is the following:

[code]

This will cause the `sent_to_psp` event to run.

[2011-11-11 13:08] jeroenhouben commented on #138
Ah ok, I did not know you could do that. Yes that does throw a more helpful exception. Thanks for your help!

Still I think that it would be nice if the StateMachine::InvalidTransition class had an original_error field or something that would make it easier to track down the cause of the InvalidTransition.

[2011-11-11 16:40] austinthecoder commented on #138
@obrie, in response to:

I see that `wake` returns the result of calling `fire` on an event. So `wake!` raises an exception if false is returned from `fire`. My problem with this is that it looks like `fire` can return false for a couple different reasons: if there's no transition for the object, or if performing the object fails. So I think this is why the `StateMachine::InvalidTransition` error

[2011-11-13 14:52] obrie commented on #138
I've re-opened this issue as I've been convinced that things could be improved here :)  I'll elaborate in a moment.

[2011-11-13 15:00] #138 closed, assigned to obrie

[2011-11-13 15:25] obrie commented on #138
Hey guys -

So, as I mentioned, I was convinced that there must be a problem here and something that could be improved given the number of people I've heard this complaint from.  My interpretation and solution to the problem is perhaps different than you had imagined and I'll give a little insight into why I chose this path and not any of the others proposed.
- Why not use `save!` to and just rely

[2011-11-13 18:57] jeroenhouben commented on #138
Hi Obrie,

I read your reply and skimmed through the changes. This will work great for me. I basically wanted more descriptive errors and this change seems to provide just that. Great work, many thanks!!

[2011-11-16 15:09] jamesbebbington opened #141 "Transition callbacks only called when defined within an Observer"
[The docs](http://rubydoc.info/github/pluginaweek/state_machine/master/StateMachine/Integrations/ActiveRecord) only gives examples of specifying callbacks within an `ActiveRecord::Observer`. It would be most helpful if transition callbacks could also be defined on an `ActiveRecord::Base` class too as this would mirror the functionality available in rails. Is this by-design, a technical limitation

[2011-11-16 17:29] obrie commented on #141
Hi @fractious,

The callbacks are made available as methods in `ActiveRecord::Observer` because it's really the only way to hook into state_machine in observers.  On the other hand, you have `before_transition` / `after_transition` callbacks in the model which give you much greater flexibility for defining callbacks.  In fact, you could very well use those to generate a similar-looking method your

[2011-11-16 17:29] #141 closed, assigned to obrie

[2011-11-17 18:16] jaylevitt opened #142 "Transition exception should show failed validation"
I have a state machine like:

[code]

ActiveRecord (without state_machine) will actually give you the validation in the exception, which is quite helpful:

[code]

I think this was at the root of my #121 issue.

[2011-11-17 20:13] obrie commented on #142
Hey @jaylevitt -

I had actually made this change as a fix for #138.  I had admittedly forgotten about #121.  Can you validate that this solution (released in 1.1.0) solves the problem you were seeing?

Thanks.

[2011-11-18 15:55] jamesbebbington commented on #141
Hey @obrie, yeah that does help, thanks!

[2011-11-19 19:43] jaylevitt commented on #142
Great, we'll update - thanks!

[2011-11-19 19:43] #142 closed, assigned to obrie

[2011-11-22 22:13] probablykabari opened #143 "Validation inside of state block causes error [MongoMapper]"
I haven't tested this outside of my app, but here's a snippet of the code:

[code]

When I do this, validations run but the record is never marked as invalid if they fail (`valid?` returns true).  When using `publish!` I get:

[code]

Removing the validation makes everything work fine.

[2011-11-29 13:00] obrie commented on #143
Hey @RipTheJackker -

Validations don't run until the state is entered.  If you call `valid?` prior to calling `publish!`, the validation won't run since the object isn't yet in the `published` state.  As well, if you upgrade to version 1.1.0, you'll find that the exception that gets raised also includes the failure reason (such as a failed validation).  If you inspect the object after calling `pu

[2011-11-29 13:00] #143 closed, assigned to obrie

[2011-12-02 20:07] nathanl opened #144 "Initial state cannot be a string?"
I just stumbled on a behavior in state_machine that confuses me and I wondered if you could give some clarification.

I had the following code on an ActiveRecord model:

[code]

When I called `approve!`, I got `StateMachine::InvalidTransition: Cannot transition status via :approve from "requested" (Reason(s): Status cannot transition via "approve")`

While puzzling over this, I idly changed `:init

[2011-12-04 16:31] obrie commented on #144
Hi Nathan,

In state_machine definitions, all states are referenced by their name.  State names are typically referenced using symbols, although there are a few exceptions when states / events are coming from user input in the browser.  The string version of the name is what state_machine would refer to as the state's value.  So there are 2 properties associated with a state: it's name (a symbol)

[2011-12-05 14:23] nathanl commented on #144
Thanks for the detailed answer. Two follow-up questions:

1) Would you take patch with a tiny bit of documentation on this? For instance, "Note that state names are given as symbols. You may use strings, but you must be consistent: `:parked` is not the same state as `'parked'`.

2) This would be much harder, but it would be lovely to get an error message if there are "unconnected" states. For exam

[2011-12-05 15:51] apneadiving opened #145 "State machine fails when using symbol values"
Hi,

Background:
Using Mongoid, Rails 3.0.10, state_machine 1.1.0, `status` field is Symbol.

Working with a legacy app, I'm implementing a state machine to clean up.
The code is stuffed with many `object.status == :foo` so I'd like the statuses to remain symbols.

This in mind, I added the following in the state_machine:

[code]

And in console:
     pry(#Groups::ClientsController)> @project.can_

[2011-12-05 17:18] obrie commented on #144
1) Definitely - I haven't checked if there are already docs, but whether it's there or not, it's apparent that it should be made more obvious.

2) It's an interesting idea and certainly doable, but I think it's going to cause more problems than it solves.  There are definitely cases where states are defined because they used to be used, but aren't anymore -- so they're just there for historic reas

[2011-12-08 13:50] apneadiving commented on #145
I dare asking because it would determine much of my planning: Do you think you could get rid of this bug before the end of next week?

I'm well conscious your achieved job is already great and I've no deadline to give you :)
I simply need the info to know what path I should follow :)

Thanks in advance for any answer.

Benjamin

[2011-12-09 12:55] obrie commented on #145
Hi Benjamin -

I apologize I've been time-strapped recently.  My gut feeling is that this isn't a problem in state_machine, but instead a problem in Mongoid.  I suggest either digging into what's going on in Mongoid when the value gets written to and read from or implementing a workaround.  I won't be able to debug this myself until next week.

Best,
Aaron

[2011-12-09 13:03] obrie commented on #78
Going to reopen this one -- I've heard enough feedback to indicate that a problem exists here.  A workaround for folks who who insist on a cleaner solution is in the works.

[2011-12-09 13:22] apneadiving commented on #145
Ok, I'll take a look at this track this week end.

Thanks for your answer :)

[2011-12-11 15:10] apneadiving commented on #145
Because of our urge to release, I finally did:

[code]

This does the job even if it remains a workaround.

[2011-12-12 23:43] apneadiving opened #147 "How to test transition callbacks?"
Hi,

I'd like to know what's the cleanest way to test that transition callbacks are being triggered.

For instance, how would you test:

[code]

Thanks,

Ben

[2011-12-26 08:17] releu opened #148 "strange behavior"
Hi!

I've got a model with state machine:

[code]

In 99.5% cases `complete` works. But for other method `ship` don't starts, but the record state updates to `completed`.
I can't catch it in dev env. I debug each line to log file in production. Sometimes method `ship` called (most), sometimes don't.

I don't understand how it is possible. Do you have any ideas?

Rails 3.1.1, StateMachine 1.1.0, Ru

[2011-12-29 18:40] benbjohnson opened #149 "Fail on Rails 3.1.3"
On a new installation of Rails 3.1.3 with state_machine 1.1.0, I receive the following error:

[code]

It looks like state_machine is trying to call Railties' `Engine#rake_tasks` block and trying to pass an argument when one is not excepted. The single argument being passed in is the `Application` object but the `rake_tasks` block expects to use `self` to reference the `Application`.

I haven't cr

[2011-12-29 18:44] benbjohnson commented on #149
Here's a reference to the code in question in Railties:

https://gist.github.com/rails/rails/blob/e9474c89d9583d50be485bef8fabb31a75b242bb/railties/lib/rails/engine.rb#L565

[2011-12-30 18:08] obrie commented on #149
Hi,

I apologize for the confusion.  You're using the "statemachine" library from http://rubygems.org/gems/statemachine.  Our gems have unfortunately similar names.  The "state_machine" library that I work on is from http://rubygems.org/gems/state_machine.

Best,
Aaron

[2011-12-30 18:08] #149 closed, assigned to obrie

[2011-12-30 18:09] obrie commented on #147
Hi Ben,

I'd be happy to help but this isn't the best place for it.  Please use the Google Group (https://groups.google.com/forum/#!forum/pluginaweek-talk) for your questions.

Best,
Aaron

[2011-12-30 18:09] #147 closed, assigned to obrie

[2011-12-30 23:12] #78 closed, assigned to obrie

[2011-12-30 23:12] #144 closed, assigned to obrie

[2011-12-30 23:12] #145 closed, assigned to obrie

[2011-12-30 23:15] obrie commented on #145
Turns out this was indeed an issue with state_machine causing the field to be stored as a string instead of a symbol.  That issue should now be fixed.

Thanks for raising the issue!

[2011-12-31 00:33] #148 closed, assigned to obrie

[2011-12-31 00:33] obrie commented on #148
Hi releu,

You're right, this doesn't seem possible.  If that's the entirety of your state machine definition and, each time, you're calling the `complete` method to create the transition, then there's no reason `ship` would ever get skipped unless the transition itself failed.  Have you validated that the transition itself isn't failing?

The only other alternative is that `ship` is being redefin

[2011-12-31 08:10] apneadiving commented on #147
Hi Aaron,

No problem :)

Ben

[2012-01-02 12:03] morgoth opened #150 "Initial state doesn't work with rails 3.2"
Hi.

Setting default state doesn't work in rails 3.2 (branch 3-2-stable).

Sample app reproducing issue:

https://github.com/morgoth/state-machine-rails-3-2

[code]

[code]

I tried rails revision: `6e9cd3846811718611543dae049c000076319587` (it's working fine when using gem 3.2.rc1)

[2012-01-02 14:13] pietere opened #151 "Custom validations can not be called twice"
I have a state machine like this

[code]

and then

[code]

The problem is that I can not reuse the validation method "validate_something_fancy" 2 times. It only works 1 time.

[2012-01-02 15:25] obrie commented on #151
This is a dupe of #103.  See the "Validations" heading here: http://rubydoc.info/github/pluginaweek/state_machine/master/StateMachine/Integrations/ActiveRecord

[2012-01-02 15:25] #151 closed, assigned to obrie

[2012-01-02 15:28] pietere commented on #151
oops...didn't see that. Thanks!

[2012-01-02 17:32] #150 closed, assigned to obrie

[2012-01-02 17:33] obrie commented on #150
Nice catch!  Hopefully now that I'm hooking into a public API, this shouldn't break again anytime soon.  I'm probably going to wait on releasing this fix until 3.2 is a little closer to be officially released.

[2012-01-03 00:30] stevestmartin opened #152 "Excessive memory usage in rails"
We were seeing large amounts of CPU time spent in GC mainly due to object allocation when generating the call stack in NilClass#raise_nil_warning_for  in ActiveSupport's whiny_nil implementation.

I tracked it back to initializing [callbacks](https://github.com/pluginaweek/state_machine/blob/master/lib/state_machine/callback.rb#L129) where it is apparently calling

[code]

triggering a

[code]

ca

[2012-01-08 20:24] obrie commented on #152
Hey @stevestmartin -

Thanks for reporting this.  It looks like this has already been fixed in the Rails 3-1-0-stable branch.  See https://github.com/rails/rails/commit/d1abf29e796a86cbac315da217f3fe7addb88106.  I suspect we'll see an official tagged release with it soon.

Since there are likely many other libraries that could be causing this issue as well, I'd prefer that folks on Ruby 1.9+ eithe

[2012-01-08 20:24] #152 closed, assigned to obrie

[2012-01-14 02:13] cassiomarques opened #154 "Inconsistent events error when all declared events are symbols (and states are integers)"
I have something similar to this state machine. This Status::FOO constants are integers.

[code]

It was working fine with state_machine 1.0.2, but on 1.1.1 it's giving me the following error: :revise event defined as Symbol, "Designar" defined as String; all events must be consistent

(note that I have an i18n file where I translate the :assign event to "Designar".

Any ideas of what can br wrong

[2012-01-14 02:59] obrie commented on #154
Hey @cassiomarques -

Thanks for taking the time to report this issue!  In the latest revision, there was a change added to protect against the definition of states / events whose names are of different types (e.g. symbols vs. strings).  It looks like in your definition all events are defined as symbols, so there's nothing obvious in that code snippet that stands out as being a problem.

Can you e

[2012-01-14 03:03] cassiomarques commented on #154
Hum, I think I've found the origin of the problem! Because I need to generate the graphical version of my state machine with graphviz and I need all text in the image to be translated, I monkey-patched the following in a initializer:

(this machine.owner_class.enumerations[:status].t(name) code is mine, don't worry about it :)

[code]

So it looks like this is the cause of the error. Can you pleas

[2012-01-14 03:17] obrie commented on #154
Ah no worries, glad we found the issue.

To be honest, I don't know that there's a particularly good way to use the translated names in a graph without monkey-patching some of the internals even more.  However, I think being able to use the human name instead of the definition name is a valid thing to want to do.

I'd like to think about this one a little bit more and see what we can do about it.

[2012-01-14 03:19] cassiomarques commented on #154
Sure Aaron, thank you very much, sir!

[2012-01-17 11:12] tanelsuurhans opened #155 "Transitions and conditions"
I have a state machine as follows:

[code]

I'm assuming that the transition hooks should only fire when going from :ordered to :locked or :ordered to :completed, right?
And not fire when going from let's say :locked to :locked etc.
But the thing is that even when i'm doing :advance_to_locked while being in the :locked state, the first transition callback gets called. I tried the option :except_fr

[2012-01-17 18:28] obrie commented on #155
Hi @tanelsuurhans -

I'm not seeing the same behavior.  See below:

[code]

Notice that a transition from `:locked` to `:locked` does not result it any errors.  Are you sure there are no other transitions or callbacks being defined that might be calling `:foo`?  Is there anything else interesting in the class or state machine?  I have to imagine that there's something else in the environment going

[2012-01-18 11:19] chikamichi opened #156 "Namespaced state machine"
Hi,

I tried to use this feature, but the README provides weird information. In the `Vehicle` example, the state machine is called `alarm_state`, with a namespace `alarm`, but it then makes use of `#alarm_state`. I'd expected the state machine to be defined on `state`, not `alarm_state`.

Is there any extended example on this?

Thank you!

[2012-01-23 04:16] jviney opened #157 "State machine and partial updates?"
Since v1.1 state_machine no longer seems to work if ActiveRecord partial updates are enabled, because of this:

[code]

Previously, `o.changed?` would be `true`.

Is this intentional? How should this be done now?

[2012-01-24 09:58] textmaster commented on #145
Hi,

I work with  apneadiving  and even though since the 1.1.1 this particular issue has been resolved and the work around with the setters and getters is no longer required.
There is still a background issue that is causing havoc in our project. The fact that through the state_machine, the values written to the db is of String format rather than Symbol format as expected.

This throws off mongoid

[2012-01-24 22:24] apneadiving commented on #67
Just faced this behavior with 1.1.2 and mongoid 2.2.4, and rails 3.0.10.

My object is already created, I've the following state_machine:

[code]

I've `before_save` but they only change some values here and there.

When I trigger the event, I enter the `on_launch` method twice.

Any thought?

[2012-01-25 06:44] ghost opened #158 "Event named :duration doesn't seem to work?"
I have the following state:

state_machine :initial => :initial do
     state :initial do
        transition :to => :start_date, :on => :start_date
        transition :to => :start_time, :on => :start_time
        transition :to => :end_date, :on => :end_date
        transition :to => :end_time, :on => :end_time
        transition :to => :duration, :on => :duration
        transition :to => :start

[2012-01-29 07:08] jviney commented on #157
For anyone else with the same issue, here is a simple fix that worked for me:

[code]

[2012-01-31 02:49] obrie commented on #156
Hi @chikamichi -

Thanks for the question.  You're probably better off asking over on the mailing list with a question like this -- I prefer to use this forum for bug reports.  Onto the issue at hand...

When it comes to the `:namespace` option, all you're really doing is telling state_machine how to prefix / suffix the various state / event-related methods that it generates.  I think what's parti

[2012-01-31 02:49] #156 closed, assigned to obrie

[2012-02-11 19:25] #154 closed, assigned to obrie

[2012-02-11 19:26] obrie commented on #155
Closing this.  Feel free to re-open if you've found further evidence suggesting an issue within state_machine.

[2012-02-11 19:26] #155 closed, assigned to obrie

[2012-02-11 19:32] obrie commented on #158
Hey @MatthiasStumpp -

What version of state_machine are you running?  I'm not seeing this behavior on the latest released version (1.1.2).  See below:

[code]

This was tested on Ruby 1.8.7.  Do you have a simple example that's producing this behavior that I can run?  If you do, please let me know what version of state_machine and Ruby you're on.

I'm going to close this bug for now, but will re-

[2012-02-11 19:32] #158 closed, assigned to obrie

[2012-02-11 21:54] obrie commented on #67
Hi @apneadiving -

I couldn't reproduce this issue.  I created an app and tested via the following:

Create app:

[code]

Set Gemfile to:

[code]

Set up config:

[code]

Add app/models/vehicle.rb:

[code]

Test:

[code]

As you can see, `on_launch` only appears to get run once.  Are you positive that there isn't anything else in the model that could be triggering this?  Could you try simplifying

[2012-02-11 22:11] apneadiving commented on #67
@obrie Thank you VERY much for digging this.

I work on legacy code and maybe missed some part of it.

Because I had to go forward, I kept the state machine for state handling but replaced transitions with around filters.

I won't be able to recheck this then, so consider my report invalid.

Thanks again ;)

[2012-02-12 00:52] obrie commented on #157
Hey @jviney -

Thanks for asking about this.  I've been spending a lot of time thinking about this issue.  I don't know that I have a definitive answer, but let's see where this goes...

The first thing is that state_machine will still work with partial updates on even though `changed?` returns false.  Since the event will end up getting fired as part of a `before_validation` hook, ActiveRecord wo

[2012-02-16 12:37] obrie commented on #157
Closing -- will reopen if you have further thoughts on the subject.

[2012-02-16 16:03] bwlang opened #161 "Add state descriptions?"
Wouldn't it be nice to have description on  states like this

state :parked, :description => 'the vehicle is not moving"

?

That would make it simpler to build a ui where some states need to be described in more detail.

Seems nicer than defining a description method for each state

brad

[2012-02-16 17:47] obrie commented on #161
Hey @bwlang -

This is a good question.  I've actually addressed this in the past in a few different contexts.  See https://groups.google.com/forum/?hl=en#!topic/pluginaweek-talk/TTmzzISjAj8 and https://github.com/pluginaweek/state_machine/issues/24.

In all cases, my conclusion has basically been the same: I don't think this is state_machine's responsibility to track this information.  Here's a s

[2012-02-16 17:47] #161 closed, assigned to obrie

[2012-02-21 16:26] ghost opened #163 "Rspec and state_machine"
I have the following state machine

[code]

and the following test in rspec

[code]

What happens is that end_call gets called twice. Do know its probably not an issue here. But googled everywhere and couldnt find an answer. Probably more people having the same problem as med out there.

[2012-02-21 17:10] obrie commented on #163
Hi @popdevelop -

This will happen if you evaluate the class more than once.  Can you put a `puts` statement before your `Test` class and validate that you're only seeing the class evaluated once?

[2012-02-21 22:10] popdevelop commented on #163
Yes you are correct the Class is evaluated twice. I guess I have to find out why. Thanks for helping me out.

[2012-02-21 22:12] #163 closed, assigned to obrie

[2012-02-21 22:52] popdevelop commented on #163
Seems like my problem is that I am using spork and reloads the models every iteration however I am using ActiveSupport::Dependencies.clear to get rid of the dependencies for ActiveSupport can I do something equivalent for state_machine. Thanks for your support.

[2012-02-23 21:15] apneadiving commented on #67
@obrie : seems I finally found the origin of the issue: Spork, somehow.

If you want to know more, we are discussing with mongoid maintainers here: https://github.com/mongoid/mongoid/issues/1752

[2012-02-27 09:34] jviney commented on #157
Hi Aaron,

Thanks for the detailed reply.

I've clarified the problem we were having. The state_event had been assigned using nested attributes, and not directly on the model being saved.

[code]

In this case, only `#changed?` is called on the association records to see if they should be saved.

**Options**

I can see how all the options you laid out have their drawbacks.

Overriding `#changed?`

[2012-02-28 06:02] lsimoneau opened #164 "Transition in after :save hook fails in DataMapper (works in a second save)"
In our application, there are situations where we want to transition an object automatically from pending to accepted when it's created. I've tried to use a DataMapper after :create hook for this purpose, but for some reason the transition is not happening.

I moved the event into an after :save hook, which didn't help, except if you save the model a _second_ time, in which case it does. I've crea

[2012-02-29 13:07] obrie commented on #164
Hey @rssaddict -

Whelp, I'll admit you've thrown me a curveball here :)  Thanks for bringing this issue up.  As it turns out, DataMapper prevents you from calling `save` within a `save` callback.  The idea is that it's preventing you from potentially going into an infinite loops that results in a stack too deep exception.

Of course, state_machine is currently relying on the ability to do exactly

[2012-02-29 22:33] lsimoneau commented on #164
Thanks. Setting the {attribute}_event in initialize works. Interestingly, it doesn't work if you set it in a before :save hook, which I don't quite understand.

Thinking about the larger issue, it makes sense not to save the record twice, so triggering transitions in after :save hooks might just be a generally bad idea. Maybe some sort of more general functionality that allows you to set condition

[2012-03-03 19:50] brentkirby commented on #150
Any thoughts on a release now that rails is on 3.2.2?  We've been updating a rather large app and would rather not use git for the source :)

[2012-03-05 02:28] obrie commented on #150
Hi @brentkirby -

This fix was released in state_machine 1.1.2.

[2012-03-05 02:38] brentkirby commented on #150
hmm. I was having the same issue with 1.1.2, and ended up writing a before_create callback to set the default state, which fixed it.

It was actually working fine until updating from rails 3.1.4 to 3.2.2, which is when I first started having trouble.

[2012-03-05 03:09] obrie commented on #150
Interesting -- I'll double check against the latest 3.2.x release, but everything is passing on 3.2.1.  Could you provide an example of this failing?  If you have a basic project that you could share on github that demonstrates the issue, that'd be great!

[2012-03-05 03:40] brentkirby commented on #150
[Heres a gist](https://gist.github.com/1976318) of the actual state machine functionality. I had it in a separate module since the model that includes it is huge :)

After updating to 3.2.2, tons of specs started to fail with ActiveRecord::RecordInvalid, saying "state" is invalid. Adding the before_validation callback fixed it.

`ensure_valid_transition` is being called in a before_validation on u

[2012-03-05 09:32] ghost opened #165 "Howto get all events from model class"
Is it possible to get all events from a model class? I want to filter a list by events.

There was a [similar question on mailinglist](http://groups.google.com/group/pluginaweek-talk/browse_thread/thread/39e785cee0ba9309/cee2f2713f65c2ae) about all transitions.

[2012-03-07 02:55] obrie commented on #150
Nothing stands out indicating where the issue might be and I can't reproduce the issue based on your gist.  Any chance you could provide a full example (including project) that I can run demonstrating the issue?

[2012-03-07 02:57] obrie commented on #165
Hi @tonymarschall -

Please use the mailing list for usage questions -- http://groups.google.com/group/pluginaweek-talk.

You can get all of the events defined for a model like so:

[code]

You can also get all of the possible events that can be run on an instance like so:

[code]

Hope this helps.

[2012-03-07 02:57] #165 closed, assigned to obrie

[2012-03-07 03:15] obrie commented on #157
Hey @jviney -

I haven't forgotten about this issue -- just haven't had time to address it.  I'll reopen it just to remind myself that it still needs further consideration.

Thanks for following up.. I'll be sure to do the same soon.

[2012-03-07 12:58] obrie commented on #164
`state_event` actually gets processed prior to validation, not save -- that's why it doesn't work if you set it in a `before :save` hook.  This is because we want to ensure that any state-based validations get run properly.

I think you're right about triggering transitions in `after :save` hooks just generally being a bad idea.  The truth of the matter is that you can never save any changes in an

[2012-03-07 14:09] popdevelop commented on #163
My question is, is there a way to remove the already loaded state_machine since I need to reload the Class without having the callback beeing triggered twice.

[2012-03-07 17:28] obrie commented on #163
Ah, sorry I didn't realize you were asking a question in your previous comment.  There's no support way for clearing out the callbacks for a state machine.  You can certainly dig your way into the `StateMachine::Machine` instance, but I wouldn't recommend that.

I'd recommend taking a look at issue #67 where I've addressed this before.  You'll see near the end of that issue that the real problem h

[2012-03-08 13:16] simmogs commented on #163
+1 I'm getting the same problem with and without spork.

[2012-03-14 18:23] rantler opened #166 "StateMachine::InvalidTransition raised inappropriately"
When using an after_transition block to, for example, record auditing log records, an exception can occur that is extremely misleading. For example in the code below the `Auditor` record will be invalid because `:something` is nil.

[code]

However, the exception raised is: `StateMachine::InvalidTransition: Cannot transition state via :cancel from :cancelled`

This is a misleading exception and ca

[2012-03-14 23:33] obrie commented on #166
Hey @rantler -

Thanks for bringing this issue up.  What you're seeing is actually a side effect of how Rails 3.2 (might also affect 3.0 / 3.1) handles raising ActiveRecord::RecordInvalid exceptions.  Let's look at an example:

[code]

In the above class definitions, the example is simple: when a campaign is saved, it'll attempt to cause the associated creative to raise an exception.  However take

[2012-03-14 23:33] #166 closed, assigned to obrie

[2012-03-15 16:27] rantler commented on #166
Thank you very much for the lucid explanation of transaction rollback behavior!

I must say, however, that I do not believe that our issue is caused by
this behavior. The issue is that the exception being raised in the
:after_transition block is that an invalid state transition is
occurring, when that is not actually the underlying problem.

In the example I posted in the issue on github, it is cl

[2012-03-15 16:51] obrie commented on #166
Hey @rantler -

I think the part you're missing is that `after_transition` hooks in state_machine execute as part of ActiveRecord `around_save` hooks.  As a result, ActiveRecord is eating your `ActiveRecord::RecordInvalid` exception  -- not state_machine.  As well, ActiveRecord provides _zero_ information about that in the record's `errors` array.  There's no way to detect the fact that the associ

[2012-03-15 18:07] rantler commented on #166
Ah. I understand now. Thanks again for taking the time to explain everything so clearly.