[2012-03-20 15:32] maxjustus commented on #163
me too :((

[2012-03-26 20:50] mhuggins opened #168 "Unable to supply params when transitioning between states"
It doesn't look like there's any way to supply a parameter when transitioning between states.  Let's say for example that we have a system where users submit something that needs to be reviewed, meaning there will be states `:pending`, `:approved`, and `:rejected`.

When this object transitions from `:pending` to `:rejected`, it would be nice to supply a simple string representing the reason it wa

[2012-03-28 19:08] willcosgrove opened #169 "State dependent methods"
Hey, I'm having an issue getting method definitions working with state_machine.  The class I'm building is a Measurement class which should have methods `#to_ft`, `#to_mm`, `#to_cm`, and `#to_in`.  A Measurement has two instance variables, `@value` and `@unit`.  The `@unit` instance variable is supposed to be the state, and depending on what it's state is, the methods listed above should change wh

[2012-03-31 10:22] dwilkie commented on #163
Hey @obrie I tried to look at your solution here: https://github.com/obrie/Issue-illustration/commit/aa9562011c5db4d4923de79942b8762fcebb1228

But it seems like you have removed that repo. Can you post your solution in this issue?

Cheers

[2012-03-31 11:27] dwilkie commented on #163
To get this to work with Spork and RSpec I did the following:
Removed this line from my spec helper (which I added  to get spork to reload the classes on each run...)
`Dir[Rails.root.join("app/**/*.rb")].each { |f| load f }`

And following the guide here: http://my.rails-royce.org/2012/01/14/reloading-models-in-rails-3-1-when-usign-spork-and-cache_classes-true/ I added the following line to my Spo

[2012-03-31 20:50] gilbert commented on #169
Looking into this problem, I discovered some bugs with state_machine. But first, here's the workaround:

[code]

**EDIT:** It turns out the init_state! transition is not needed after all.

[2012-04-01 21:30] obrie commented on #168
Hey @mhuggins -

I'd recommend using the mailing list in the future for a usage question like this -- http://groups.google.com/group/pluginaweek-talk

It actually is possible to do this currently :)  See the "Defining additional arguments" section at http://rdoc.info/github/pluginaweek/state_machine/master/StateMachine/Machine:event

[2012-04-01 21:30] #168 closed, assigned to obrie

[2012-04-01 22:02] obrie commented on #169
Hey @mindeavor -

I can't reproduce the issue you were describing in the initial report.  My results:

[code]

I tried this on both 1.9.3 and 1.9.2 with the same results.  What version of state_machine and ruby are you using?  Are you testing this script within an app or in a basic irb console?

[2012-04-01 22:11] obrie commented on #169
It looks like you're right about the initial state, however.  I'll look into getting this fixed soon.

[2012-04-01 22:14] gilbert commented on #169
The initial report was written by @willcosgrove . I also didn't find an error with the original code, but I came across it when I replaced

[code]

with

[code]

This might even be another error that isn't covered in the functional tests I wrote.

[2012-04-01 22:15] obrie commented on #169
Ah, sorry I misread who was reporting the bug :)

[2012-04-03 19:54] travisp opened #171 "Documentation wrong for callbacks?"
According to the readme and rdocs, in the below callback, self is the record, and transition is the argument for the do block. But when I run the code, self appears to be the transition, while the argument for the do block is the record. Has something changed and the documentation failed to keep up?

[code]

[2012-04-04 15:39] urfolomeus commented on #150
I'm getting the same in 3.2.3 (https://gist.github.com/c13a36cec659a1396e5e).

I tried making attr_accessible in case that was an issue, but no dice. Have used brent's before_validation trick (thanks!).

[2012-04-04 15:50] obrie commented on #150
I'd love to be able to see a project repo demonstrating this issue so that I can reproduce it locally and get it fixed.  Would either of you be able to do that?

[2012-04-04 16:32] urfolomeus commented on #150
I can't publish the current app public as it's client work but I'll dummy one for you later when I get home :)

[2012-04-04 22:53] urfolomeus commented on #150
Ok, try this simple example project. It has the behaviour I mentioned. Details are in the README.

https://github.com/urfolomeus/state_machine_test

[2012-04-05 04:32] markquezada commented on #171
The behavior of the callbacks depends on the integration you're using. Some bind `self`, some pass in both the object and the transition as arguments to the block.

Look here for more info:

http://rdoc.info/github/pluginaweek/state_machine/master/StateMachine/Callback#bind_to_object-class_method

[2012-04-05 18:29] brentkirby opened #172 "errors/validation in callbacks, not persisting somehow?"
Is it possible to invalidate a record within a before_transition callback? When transitioning to a new state (with :action save), I am running a method to perform a few tasks, and should those fail they add errors on the model.  In this case I'm posting data to an api.

[code]

When running `model.publish` the callback runs, publish_date_to_remote_service is run, and that process works as expected

[2012-04-09 22:11] lucasas opened #173 "Conditional transition ignored when I use update_attributes"
Hi guys,

I've a project here using state_machine 1.1.2 and rails 3.2.1. I've some controllers, and these controllers receive into params, an attribute called state, like this:

[code]

And I have this code:

[code]

I try to create a vehicle:

[code]

And of course, my model is invalid and its state is parked.

If I try change the state to idling, state_machine will consider my conditional transi

[2012-04-11 12:46] lucasas commented on #173
Someone can answer my question, please

[2012-04-12 15:56] obrie commented on #171
I'll be making some updates to support `self` for ActiveRecord 3.1+, but in general the behavior of `self` matches the behavior in the callbacks for the ORM you're using.  Stay tuned :)

[2012-04-12 15:57] obrie commented on #173
I'll help out asap -- I'll definitely get to this Saturday the latest.

[2012-04-12 15:57] obrie commented on #172
Thanks for reporting this!  I'll be taking a look at this Saturday the latest.

[2012-04-12 16:35] brentkirby commented on #172
If it helps I think the issue is the order in which the callbacks are run. It seems like it runs before_transition prior to rails validations. Looks like when rails runs the validation, it does errors.clear, then validation callbacks, which means anything added in a before_transition simply gets cleared out. I'm not sure if the order could be changed easily, but maybe running  before_transition ri

[2012-04-14 22:50] obrie commented on #173
Hi @lucasas -

I would highly recommend _against_ checking for validation in a transition conditional (i.e. `:if`) and setting the `state` directly.  It is not possible for state_machine to check for valid transitions when you're changing the state directly.  When you're doing this, state_machine assumes that you want to basically go around the machine's definition and override any existing condit

[2012-04-14 22:50] #173 closed, assigned to obrie

[2012-04-14 22:55] obrie commented on #172
Hey @brentkirby -

This is a great question.  For future reference, let's use the Google Group for questions like this.  I prefer to keep the Issues list primarily for bugs.  The issue you're running into here is that `listing.should have(1).errors_on(:response)` actually calls `valid?` on the object (even though state_machine itself has already performed some validations and added errors).  This

[2012-04-14 22:55] #172 closed, assigned to obrie

[2012-04-14 23:30] brentkirby commented on #172
Yeah that sounds just like what I was seeing, though its related to rails clearing errors thats the issue, not rspec. In this case, since the behavior of `publish` is transitioning the model and saving it, rails will run validations and callbacks like normal. The issue is that since before_transition runs before validations, any errors added are wiped by rails.

You're correct about the spec, thou

[2012-04-14 23:36] obrie commented on #172
I just want to make sure to clarify a few things.  If you call `publish` and you return false in a `before_transition` callback because you've added some errors, this actually cancels the transition before Rails ever has a chance to run validations.  As a result, even though `before_transition` runs before validations, Rails will never wipe the errors during that method call and you will have acce

[2012-04-15 00:18] brentkirby commented on #172
Yeah we're definitely on the same page, I think the second part of what you were saying is what's hanging me up :)  I think it would be useful if there was no subsequent validation, ie if a before_transition invalidates a model its no different than any other validation. As a random example, say I have a document that a user can publish if desired.  They make a few changes, and "publish". Publishi

[2012-04-16 09:21] a-chernykh opened #174 "Initial state as lambda is not working in ActiveRecord-3.1.1"
Hi,

Just noticed that this works:

`state_machine :state, :initial => :pending do`

but this don't:

`state_machine :state, :initial => lambda {|r| :pending} do`

It does not sets the initial state to 'pending', but sets the initial state from the default column value for new object.

Andrey.

[2012-04-17 06:56] a-chernykh commented on #174
that's only valid if column has default value set

[2012-04-17 21:24] yuszuv opened #175 "before_save callback throws error"
Hi,

here's a example that doesn't work (at least with Rails 3.2)

[code]

That throws

[code]

Is this a feature or a bug? And how could I get the intended behaviour?

Regards, Jan

[2012-04-19 02:45] timofeytt opened #176 "fire_state_event!"
I think that fire_state_event! (with the possibility to raise exception) would go hand in hand with fire_state_event. Was there a reason not to include it in the API?

[2012-04-23 01:36] obrie commented on #174
Hey @AndreyChernyh -

Thanks for reporting this.  Unfortunately there's not much state_machine can do here.  To help debug issues like this in the future, I've added a change that causes a warning to be generated when the situation is detected.

The core issue is that static initial states get set prior to the remaining initialization of the record and dynamic initial states (like the one in your

[2012-04-23 01:36] #174 closed, assigned to obrie

[2012-04-23 12:01] #169 closed, assigned to obrie

[2012-04-23 12:02] obrie commented on #169
Thanks for helping out with this!  Hopefully I can get a release out soon with this fix.

[2012-04-26 07:24] semarco commented on #163
Thanks, this saved my day :-)))

[2012-04-27 00:28] ghost commented on #114
@obrie Please, can you add a note about this in the README? I spent half an hour looking everywhere for this information.

[2012-04-27 11:51] divniy commented on #175
Your post is marked as 'published' on moment when callback is trigered. Try this

 event :publish do
    transition :unpublished => :published, :published => same
 end

[2012-04-29 22:10] obrie commented on #175
Hey @yuszuv -

The problem here is that you're calling `publish!` within a `before_save` callback.  Don't forget that when you call `publish!` this, in turns, calls `save` on your object which calls your `before_save` callback again.  As you can see, your object is going to transition first from unpublished to published and then attempt to `publish` yet again.

If you want your object transitioned

[2012-04-29 22:10] #175 closed, assigned to obrie

[2012-04-30 11:56] obrie commented on #150
Hey @urfolomeus -

That project is bundled with state_machine 1.1.0.  The fix for ActiveRecord 3.2+ was in state_machine 1.1.2.  Updating the `Gemfile` to that version fixes the issue.

[2012-04-30 11:58] urfolomeus commented on #150
<facepalm> I was sure I'd set it to the latest version. Humble apologies.

_crawls under rock_

cheers,

Alan

On Monday, 30 April 2012 at 12:56, Aaron Pfeifer wrote:

[2012-04-30 11:59] obrie commented on #150
Glad we were able to figure it out :)

[2012-04-30 15:46] yuszuv commented on #175
Thanks a lot. To understand what I got wrong always helps.

[2012-05-09 23:52] sporto opened #178 "can_fire_state_event?"
Is there something like?

[code]

Sometimes I just don't know the name of the event I need to fire. So calling the event predicate directly is not possible. At the moment I am doing:

[code]

Thanks

[2012-05-09 23:57] sporto opened #179 "Is it possible to send parameters to an event?"
In many cases I will like to send parameters to an event e.g.

[code]

So I could decide wherever the event is valid or not or just trigger another action e.g. storing a log of who published the document

Is it possible to do this?

Thanks

[2012-05-11 14:40] rathgar opened #180 "Cannot set states (properly) via forms"
I was hoping to be able to change states via a web form but for some reason even though the state is changed, no transition callbacks are called. Is this way of changing states supported?

In the forms I'm using to get the states it can go to (including the current state):

[code]

I realise that this will just result in the equivalent of a `@thingumy.state = params['state']` on the controller sid

[2012-05-12 20:36] venkatd commented on #178
I second this feature. Had the same exact thoughts.

[2012-05-14 15:05] kirs commented on #114
@cveneziani-silicon I totally agree with you!

[2012-05-15 15:49] macedo opened #182 "Is there anyway to avoid save method execution after change state"
it would be fantastic if had a way to avoid method save execution after change states. Is there?

[2012-05-16 04:29] fruwe opened #183 "can't handle field names, which are in plural"
Hi, great plugin, thanks.

I have a little issue, when I use pluralized field names, like :target_media

code:

[code]

Causes the following log:

[code]

[2012-05-16 09:02] fruwe opened #184 "'{namespace}_{status}?' helper not working, e.g. 'status_active?', if value is a symbol"
Hi, great plugin, thanks.

I am using state_machine with the enum_column3 gem.
It seems, that the enum_column3 gem sets the attribute values in the model instance to symbols, rather than strings

code:

[code]

status_active? and can_inactive_status? should be true in this example, but only the "can" helper is:

[code]

The code responsible for this is

[code]

using either
@value = options.includ

[2012-05-16 09:37] fruwe opened #185 "owner_class_has_initial_state?'s warning should not be shown if the initial_value and the machine's default are the same"
[code]

this shows the warning even if the initial value set in the model is the same as in the machine (in my case ActiveRecord).

The database design is quite strict, so I can not remove the default, but would anyway like to have the default in the code, to make the code more readable. How about checking the values against the defaults? If the default is the same, then do not show the message.

[2012-05-17 16:53] obrie commented on #179
Yes it is.  See the "Defining additional arguments" section here: http://rdoc.info/github/pluginaweek/state_machine/StateMachine/Machine:event

If you can, please use the Google Group in the future for questions like this -- https://groups.google.com/forum/?fromgroups#!forum/pluginaweek-talk

Hope this helps!

[2012-05-17 16:53] #179 closed, assigned to obrie

[2012-05-17 16:54] obrie commented on #178
This goes hand in hand with #176.  I plan on adding more of these types of helpers in the future, but likely will be a month or so before we see that.

[2012-05-17 16:56] obrie commented on #182
Yes there is.  See the "Instance Methods" section documented at http://rdoc.info/github/pluginaweek/state_machine/StateMachine/Machine:event.  You'll notice it indicates that if you pass in `false` as the last argument to an event method that it'll skip the action associated with the machine (`save` in the case of using an ORM like ActiveRecord).

If possible, please use the Google Group for quest

[2012-05-17 16:56] #182 closed, assigned to obrie

[2012-05-17 16:59] obrie commented on #183
Great catch!  Will fix this in the next release.

[2012-05-17 17:02] obrie commented on #180
There is an accepted way of doing this.  Take a look at https://github.com/pluginaweek/state_machine/tree/master/examples/rails-rest and you should find everything you need.  If possible, it would make more sense to post a question like this to the Google Group in the future -- https://groups.google.com/forum/?fromgroups#!forum/pluginaweek-talk

Hope this helps!

[2012-05-17 17:02] #180 closed, assigned to obrie

[2012-05-17 17:04] obrie commented on #185
That's a fair point.  It should only give a warning if the values are different.  I'll take a look at this in the next release.  Thanks :)

[2012-05-17 18:07] rathgar commented on #180
I thought there might be, just couldn't find it anywhere. Many thanks for the pointers.

[2012-05-18 01:27] fruwe commented on #183
Great! Thanks a lot.

[2012-05-18 01:27] fruwe commented on #185
Thanks! Great!

[2012-05-18 17:02] pjammer commented on #150
Hey all,

I got questions, first of which is I'm using

<pre>

  * state_machine (1.1.2)
  * state_machine-audit_trail (0.1.0)
 * railis 3.2.2 #btw
</pre>

The initial state isn't being set.  In my controller, i had to jerry-rig it with `@shipment.state = "beginning"; @shipment.save`

I was having a big time fail with FactoryGirl, of course seeing the readme after.

I'm going to open up  another t

[2012-05-18 17:46] pjammer opened #186 "Find all by state?"
Maybe it's me, or my implementation of state_machine, but simply put can i

"Find all records of a Model that have the state of :beginning."

All the examples are of a Single instance of a Class. I guess I want it on the whole class?

Thoughts?  I'll even take rtfm, as long as you point me to the section i missed.

My app needs to show all @user.shipments_by_state(:in_process).  Or find many insta

[2012-05-18 18:01] obrie commented on #186
See the "Scopes" section at http://rdoc.info/github/pluginaweek/state_machine/StateMachine/Integrations/ActiveRecord.  If you can, it'd be great if you could use the Google Group for questions like this in the future -- https://groups.google.com/forum/?hl=en#!forum/pluginaweek-talk

Thanks and hope this helps!

[2012-05-18 18:01] #186 closed, assigned to obrie

[2012-05-23 12:22] #185 closed, assigned to obrie

[2012-05-23 21:02] obrie commented on #185
Thanks again for reporting this!

[2012-05-24 01:33] #183 closed, assigned to obrie

[2012-05-24 01:33] obrie commented on #183
Thanks again for reporting this one!

[2012-05-24 18:07] cpeters opened #187 "Conditional view rendering"
Hi,

I have expanded upon the base state machine and developed a feature that allows me to render view partials based upon the current `state` and the events available for the current state. This has allowed me to create dynamic navigation to specific partials with minimal code.

Would these feature be something that you would like to add to the project?

Thanks,
Chris

[2012-05-25 02:04] obrie commented on #187
Hi Chris -

It's a great idea and I appreciate you taking the time to propose the feature.  My feeling is that this is the type of feature that I'd prefer to keep outside of the core and released as an individual gem.  You can take a look at other gems like state_machine-audit_trail which provide similar extensions that are outside of the core's responsibilities.

If it turns out this is something

[2012-05-25 02:04] #187 closed, assigned to obrie

[2012-05-27 21:45] asdavey commented on #164
I'm wondering if the use of `after :save` hooks internally by state_machine is the cause of the problem I'm seeing: events raised in an `after_transition` callback silently fail to trigger a further transition.

If you have a look at the gist https://gist.github.com/2815992 I've included two models with state_machine, one with Datamapper, the other without. In my non-datamapper version, events fir

[2012-05-28 22:23] obrie commented on #164
Hey @asdavey -

You're definitely right.  By hooking event transitions into `around :save` / `around :validation` hooks in DataMapper, this prevents state_machine from invoking multiple events during a single transaction for that record.  However, there isn't much of a choice when you're using the `state_event` attribute for REST APIs.  The only time at which we can evaluate that event is by hooki

[2012-05-28 23:09] asdavey commented on #164
If I understand you correctly, at present a caller can set `state_event` but the transition won't occur until `save` is invoked.

I don't think I need that since I prefer to call `fire_state_event` (most of my events a triggered by the result of http calls). So as a workaround could I disable the default `:action=>:save` and instead trigger a save in a normal `before_transition {self.save}` callba

[2012-05-28 23:26] obrie commented on #164
You can certainly give that shot :)  You'll want to make sure that you halt the transition if the record fails to save.

[2012-05-31 14:37] hishma commented on #77
Hello,

I’m getting this error using 1.1.2 in a brand new rails 3.2.3 app and ruby 1.9.3-p194.

Looking at Rails.configuration.i18n.load_path, these 2 files are actually the first ones in the list:

../gems/state_machine-1.1.2/lib/state_machine/integrations/active_record/locale.rb
../gems/state_machine-1.1.2/lib/state_machine/integrations/active_model/locale.rb

[2012-06-01 16:27] obrie commented on #77
Hey @hishma -

Any chance you can share a project which is having this issue on GitHub so that I can try to reproduce it locally?

Thanks!

[2012-06-07 07:39] sfsekaran opened #188 "Missing documentation for #state_event = 'event_name'"
I remember seeing documentation for this a long time ago. I needed it again recently, but it took me a while to dig up the unit test that outlined that functionality.

It would be useful to other devs to have it, yes? (Especially for submitting the next event from a form)

[2012-06-08 03:05] sfsekaran commented on #188
I realize that it's in the rdocs now. Maybe it's a good thing to put in the README.md in the ActiveRecord section, too?

[2012-06-12 07:16] alex-tan commented on #96
I'm having similar issues, specifically with targeted attributes. For example:

[The model](https://gist.github.com/2915822)
[The spec](https://gist.github.com/2915829)

This is running state_machine 1.1.2, Rails 3.2.3 and rspec-rails 2.10.1

[2012-06-12 08:28] semarco opened #189 "#state_path causes recursive loop"
Hi,
# state_path works fine for simpler state_machine definitions, but comes up with an recursive loop with more realistic transition definitions ..

we have a state machine like this:

[code]

maybe I missed something :-/

Thanks for you help!!

[2012-06-12 11:22] obrie commented on #96
@alex-tan -

Transition callbacks only apply to the machine they were defined in.  In your case, you're running an event on the `public_state` machine, but the `before_transition` callback is defined in the `state` machine.  There's currently no feature that allows callbacks to be shared across machines.

[2012-06-12 18:29] alex-tan commented on #96
@obrie -

I probably should have read the documentation closer. Good to know :)

[2012-06-13 02:32] jimjames99 opened #190 "transition :from => all, to => :some_state fails string/symbol test."
Hi,

I just upgraded from an earlier version to latest. I have a statemachine in my User model like this:

[code]

However, I am getting the error:
`#<StateMachine::AllMatcher:0x007fad9454fd78 @values=[]> state defined as StateMachine::AllMatcher, :active defined as Symbol; all states must be consistent`

I think this is happening in machine.rb line 2219: all my states are symbols except the "any"

[2012-06-14 07:56] dlupu commented on #114
+1 for updating the doc. Thanks

[2012-06-19 15:17] josh-m-sharpe opened #191 "after_commit callback"
Is there any way to make the method defined by after_transition/do fire after the SQL commit has taken place?

I'm seeing  race condition between state machine and resque.  That is, if I drop an event in an after_transition, resque will pick up the job, and load the object before the initial transaction has been committed to the database - thus getting stale data.

If I dropped the event after the

[2012-06-21 00:38] greggroth opened #192 "calling `#can_<event>?` should not commit to the database"
In Rails, if you have an event set up like so:

[code]

where a Person `belongs_to :company` and `#downsize` is state_machine event on the Company model.  Calling `@person.can_fire` will call the `person.company.downsize` event when a user might expect it to call `person.company.can_downsize?`.  The best solution to this would probably be to add an `after_event` callback which is called only if th

[2012-06-21 16:33] the8472 commented on #172
This is a real issue since calls to `valid?`  can happen practically anywhere, even some 3rd party code.

I want to cause a `transition :some_state => same`  to fail if certain parameters are not passed in. Since valid? always clears all errors I cannot use rails validations to do this directly as they don't know about the failed transition, they can only validate things based on the current state

[2012-06-21 17:36] the8472 opened #193 "Passing Transition args to callbacks"
To get the perform parameters of `Model.some_transition.perform(:a, :b, {:c => :d})` we currently have to do something like

[code]

It would be nice to make the syntax a bit more compact by passing the perform arguments to the callbacks directly if their arity allows

it should look like this

[code]

The same applies to method callbacks instead of procs of course.

[2012-06-22 10:01] the8472 commented on #192
`if: lambda { |person| person.company.downsize }`

This is executed everytime the state machine checks if a transition can be executed. You want to run non-mutating code there, i.e. `person.company.can_downsize?`

The mutating code should go into before/after_transition handlers.

[2012-06-22 16:18] wijet commented on #191
@crankharder Hi, we stumbled across the same problem and we came up with a simple after_commit queue. We have just extracted it into a gem https://github.com/shellycloud/after_commit_queue.

[2012-06-22 16:52] the8472 opened #194 "Storing user-defined objects with callbacks, branches, events, machine"
It would be nice if i could "annotate" the definitions of a state-machine to inspect the annotations while processing the machine in controllers and views.

In my case i'm generating the machines dynamically, which makes it difficult to attach the correct user interface elements to the transitions. Most behavior is in the state machine itself (before/after callbacks, conditions, the state ifself i

[2012-06-26 04:11] lukes opened #195 "attr_readonly within states?"
Hi,

We're trying to use `attr_readonly` within a `state` block in the same way that validations for states work.

[code]

However the `attr_readonly` seems to be being applied to all of our states.

Is there a way that `attr_readonly` can be applied to only specific states?

Luke

[2012-06-26 21:14] greggroth commented on #192
Like you suggest, I've handed it by having a `after_transition` callback, but that is called with the transition happens regardless of which event caused the transition.  I think it would be useful to have an `after_event` callback that is called only when that event is called.  Just because the state change is the same, does necessarily mean you want the same callback.

[2012-06-27 11:35] the8472 commented on #192
use the :on condition for the callback

[2012-06-27 12:03] greggroth commented on #192
Ok that works!  Thanks!  :+1:

[2012-06-27 12:03] #192 closed, assigned to obrie

[2012-06-29 15:19] the8472 opened #196 "Incorrect super call in state-bound methods"
[code]

This results in an exception that super is not found

The cause is in state.rb#L199 where you do

[code]

Which means the method itself is still defined (causing the respond_to? to succeed) which then calls super, which fails.

[2012-06-29 15:21] the8472 commented on #195
States just capture the methods defined in a block, not some class-level configuration stuff.

[2012-07-03 14:43] the8472 opened #197 "restrictions are not applied when more than one to-state is available"
[code]

The matcher should probably intersect the whitelists if any is provided.

[2012-07-03 15:07] the8472 commented on #197
monkeypatch:

[code]

Edit: Updated monkeypatch to account for the additional issues mentioned below

[2012-07-06 02:43] sfsekaran opened #198 "Validation not running when including multiple states in `state` block"
I'm including my real state machine from a module (with ActiveSupport::Concern). I'm not sure if that's related to the issue. I'm using ActiveRecord.

This is an example, the real machine has a lot more logic.

[code]

However, when I add two separate `state` blocks, calling `validate :custom_validation_method` in each of them, the validation gets called.

[2012-07-12 08:49] rngtng commented on #193
yeah,  +1

[2012-07-17 15:10] the8472 commented on #197
This is also an issue for

[code]

when combined with requirements restricting the to-state, as the values of an `AllMatcher` are empty it'll just transition back to the from state even though the requirements say otherwise.

This is basically some adverse interaction between the statelessness of the matchers, transition requirements and the branch matching.

[2012-07-18 17:56] johnreilly commented on #191
+1. We stumbled onto the same issue as @crankharder (though we're using sidekiq instead of resque).

@wijet, thanks for posting a workaround, I'll investigate it next. :)

[2012-07-29 05:09] Gurpartap commented on #191
+1

Working good for me.

[2012-07-30 00:53] steveluscher opened #201 "Nested events and boomeranging states"
Start with ActiveRecord. Let's say that you fire an event, and that during that event you fire another event. Let's say you're dealing with an Order model that has a checkout event, during which payment is processed:

[code]

Let's say that, in `process_payment`, you discover the buyer's card has been declined, and you want to call `mark_as_having_failed_payment`.

[code]

I would expect the recor

[2012-07-31 22:27] njakobsen commented on #171
Got bitten by this too. It would be great if it was the same in all ORMs, but I should have read the documentation more carefully.

[2012-08-01 14:16] deathbob commented on #157
Ugh, just got bit by this yesterday / today, lost about 4 hours to it.

Please either fix in some fashion, or make a note on the readme that it doesn't work when assigning nested attributes.

Edit:
Haven't fully tested it yet but here's the approach I'm taking
Added this to the model with the state machine definition.

[code]

[2012-08-01 15:11] fj commented on #157
+1 for fixing this. If it's true that it's this simple to address the problem then I hope the PR @jviney mentions is accepted with due speed.

[2012-08-03 14:58] the8472 commented on #201
While this might a bug I don't think it's The Right Way(tm) to do it.

You could just use a `before_transition` handler and return false to rollback the transition.
Another way would be to determine the target state beforehand by using an event with multiple, conditional transitions

[2012-08-24 02:39] chengdh opened #202 "much record transition performance"
i use state_machine ,in my controller ,i have 3000+ object will invoke state_machine event,every tranistion generate a update sql,
so the controller action very slow ,is there a batch upate for performance?

[2012-08-27 16:10] pvertenten opened #203 "Doesn't Appear to work with later versions of mongoid 2"
Latest version of mongoid 2 is 2.4.6

From code the code

version '2.0.x - 2.2.x'
version '2.0.x'

[2012-09-04 04:20] dmitry-a-l commented on #114
+1 for updating the doc

[2012-09-04 12:03] fabioperrella opened #204 "mongoid - using field aliasing, state machine only work if use real field name"
Hi, using mongoid v3, in my model I have this:

field :st, as: :status

and this:

state_machine, :initial => :enabled do
event :disable do
.....

I noticed the state machine only works if doing llike this (using the field real name):

state_machine :st, :initial => :enabled do
event :disable do

I think the correct would be using the field alias name, not the field real name, isn't it?

[2012-09-07 23:17] johnkchow opened #205 "Doesn't honor ActiveRecord::Base.observers.disable(:all)"
In our `spec/spec_helper.rb`, it  runs `ActiveRecord::Base.observers.disable :all` for each example (wrapped in a `config.before(:each)` block). When our specs run where we trigger an event, it will call **all** registered observer methods. This is causing a huge seg fault in our test suite.

A solution would be for the gem to honor `AR::Base'`s disabled observers, and only call the transition hoo

[2012-09-07 23:27] johnkchow commented on #205
Here's the seg fault trace:

https://gist.github.com/1045aba75ba212ba9bcf

[2012-09-09 02:44] johnkchow commented on #205
After running our specs, it appears that the seg fault occurs consistently during examples where we fire off a state_machine event. Going to do more investigation, but it's very concerning.

[2012-09-09 05:54] johnkchow commented on #205
I realize that the repo has the test that honors the observers being enabled/disabled. For anyone who has problems with this, just point your Gemfile to the latest commit.

It'd be nice to push an update to RubyGems btw :)

[2012-09-09 05:54] #205 closed, assigned to obrie

[2012-09-10 00:26] abbasisu opened #206 "i am testing with more than 8 state, events and transitions"
Hi,
For some requirement i am testing state_machine plugin with ActiveRecord containing more than 8 states events and transitions. When i look total cunt using model_name.state_trainsitions.count (or state_evetns) it returns me 8. Any idea why so? Thanks.
Well did further research, number of events or transitions is not an issue but it just seems to neglect few of them no matter what.
Sorry all, p

[2012-09-10 02:19] #206 closed, assigned to obrie

[2012-09-19 18:03] joehorsnell opened #207 "state and state_name logically the wrong way round?"
Hi,

Intuitively it feels to me like state and state_name are the wrong way round, i.e. state returns a string and state_name a symbol, but in the state machine definitions the recommended practice (according to the docs) is to use symbols for the states, so it's almost always state_name that you want, not state.

It's not a biggie, I just wondered if this was something anyone else had raised? I c

[2012-09-25 16:03] the8472 commented on #207
If you're talking about the instance level methods then `.state` accesses the value as if the state machine wasn't there. I.e. it's the value, which might get stored in a database etc. The state_name is the name of the current state as seen from the perspective of the state machine (which can be accessed on the class level) instead of the object instance.

That's how I see it, working a lot with t

[2012-09-26 08:44] supairish opened #208 "Can't get transition callbacks to work when using Mongoid 3"
Is this a known issue?

[2012-10-01 04:09] alex-tan commented on #198
I believe I ran into this problem as well. I think my workaround was to do:

[code]

[2012-10-11 16:40] joehorsnell commented on #207
Ok, thanks for clarifying.

[2012-10-11 16:40] #207 closed, assigned to obrie

[2012-10-13 20:16] the8472 commented on #202
Have you tried wrapping them in a transation? That'll still issue the individual update statements, but at least you're saving on the transaction overhead.

[2012-10-16 16:51] caseyhoward opened #209 "Remove dependency on Sequel validation_class_methods plugin"
I use Sequel and use ActiveModel for validations. The registration of the validation_class_methods in the load_plugins breaks everything. I commented this line out and everything seems fine. The state_machine tests still pass. There is a comment that says "Loads all of the Sequel plugins necessary to run". Why is this plugin necessary? There is an example of its usage in the documentation, but the

[2012-10-22 16:11] pi3r opened #211 "Is there a way to specify a method as the state accessor?"
Hi,

I'm wondering if there is any way to specify a method as the state accessor ?

like:

[code]

Idem for the state update method.

Cheers

[2012-10-23 07:25] alexanderko commented on #211
Hi,

You can just define state method that returns String. I have used this to provide state name that depends on set of several object properties. For state update you should have state=

[code]

Best regards, Alexander

[2012-10-23 07:37] pi3r commented on #211
Thanks, i'll try that !

[2012-10-23 07:37] #211 closed, assigned to obrie

[2012-10-24 14:16] suung opened #212 "valid_in_state?"
Iit took me a while to realise that can_event? does not run the validations for the state and oinly looks for existing transition definitions (correct?)

We have a implementation called

[code]

to realize a setup where

[code]

useful? if so i would implement it

[2012-10-25 17:04] jasdeepsingh commented on #190
I've been fighting with a similar issue. Perhaps, we can look at it together and submit a patch?

Here's a state I have on one of my models:

[code]

My problem is that even though the above is outlined in the Documentation - The behaviour is not working as expected. The above code should tack on my `custom_method` to all instances where state `is not` `draft`. In my case - This is not happening.

[2012-10-25 21:56] ulisses-almeida-mowa opened #213 "on: any don't fire the callback"
For example

[code]

but if I try

[code]

Works. Why any for events don't work, or I miss something?

activerecord (3.2.6)
state_machine (1.1.2)

[2012-10-28 00:10] dlee opened #214 "Docs should indicate whether after/before_transition hooks happen inside database transactions"
Docs should indicate whether after/before_transition hooks happen inside or outside database transactions for ORM integrations.

[2012-10-30 20:33] wdiechmann commented on #132
I'm not sure - this issue seems closed - but I cannot get the example to work - I have added the _prescribed_ as a mixin and stuck a generic machine class

[code]

under `lib/generic_state_machine.rb` yet still, when I do this sequence in my console

[code]

as you will no doubt recognise, I'm less than happy :(

I realise that I probably am doing something wrong - but for the life of me, I cannot

[2012-10-31 08:25] wdiechmann opened #215 "dynamic state challenged"
Not knowing exactly how the GitHub issue system warns you, I've added this new issue merely as a link to [issue 132](https://github.com/pluginaweek/state_machine/issues/132) - but am, off cause, ready to c/p the content here, should you wish so <:)

cheers,
walther

[2012-10-31 13:49] wdiechmann commented on #132
Hmmm - this is definately _not_ the way to do this, but with no one offering expert advise, I had to hack my way through :(

So, without any further ado:

[code]

[2012-10-31 14:43] kgeoir opened #216 "Select before transition"
I have an admin interface where I have some button to validate my record state. My controller code is:

@instance = MyModel.find(params[:id])
@instance.fire_sate_event(params[:event])

in my model I do:

after_transition :state_a => :state_b do
// Critical code
end

after_transition :state_a => state_c do
// Other critical code
end

the problem of such code is the concurrency: the select done in t

[2012-11-13 16:41] the8472 commented on #216
Just wrap everything in a transaction?

[2012-11-20 08:50] simonmorley opened #217 "Problems Testing With Capybara"
I'm not sure if this is actually a bug but I simply cannot get my tests to pass when using state_machine (1.1.2) and capybara (2.0.0) in Rails 3.2.9.

My test (simplified) looks like this:

[code]

In my view I have a button with the name 'next_state' which I'm picking up in the controller:

[code]

In the 'real-world' this works fine and moves the order to the next state. However, in my tests, th

[2012-11-21 11:28] vad4msiu opened #219 "Run event from rails callback before_create"
I wrote a rails application [bug_state_machine](https://github.com/vad4msiu/bug_state_machine) showing error. I have a model Order:

[code]

When I try to create a model I get error:

[code]

Why?

[2012-11-21 22:15] kidoman commented on #217
Not very sure, but just a suggestion.

Why would the already loaded order instance reflect the changed attribute? The change has happened behind the scenes for this order instance.

Try loading the instance again.

http://apidock.com/rails/ActiveRecord/Persistence/reload

[2012-11-21 22:18] simonmorley commented on #217
I've give it a try. It's pretty intermittent - weird in itself. Have tried including a sleep but will try the reload.

[2012-11-23 09:20] Gurpartap opened #220 "ArgumentError with ruby-1.9.3"
Things worked fine until I revisited my code a couple of months later using ruby-1.9.3 instead of the previous ruby-1.9.2. The class using state_machine can now not be initialized. This is the error I'm trying to troubleshoot.

[code]

I have tried understanding the code attributed in backtrace. If `super` is omitted from machine.rb:1965's block, things seem to work (would probably break something

[2012-11-24 05:50] ndelage commented on #208
I'm having trouble as well. I'm sure my observer is wired up because I'm seeing regular Mongoid callbacks being run (like before_save). But none of the state_machine callbacks are ever triggered.

[2012-11-24 06:31] ndelage commented on #208
Are you using Mongoid 3.X ? I got the test suite running locally and with 3.0.13 I have 179 errors. I'm going to try and come up with the fixes to support 3.X

[2012-11-25 05:39] aac opened #221 "Locking to prevent re-transitioning machines"
I'm using state_machine with ActiveRecord. I want to make sure that I can't charge a payment more than once. So:

[code]

And since I want to prevent multiple payments, I lock the record before transactions (using postgres)

[code]

the call to #lock! reloads the record.

If I then get two instances of the payment and attempt them

[code]

The problem is that it's too late: even though payment.sta

[2012-11-25 05:41] aac commented on #221
I'll post to the mailing list, in case that's a better place for this.

[2012-11-25 05:41] #221 closed, assigned to obrie

[2012-11-26 10:24] the8472 commented on #213
`any` is a StateMatcher, it doesn't match events. So just omit the `:on` if you don't want to restrict it to specific events.

[2012-11-26 15:05] simonmorley commented on #217
Like you said, the instance needs to be reloaded. In the end, I did another find for the item in question. Nothing wrong with capybara or state_machine ;)

A quick note to say how B(_(_&^*^%y amazingly great state_machine is! Saved me hours and hours.

[2012-11-26 15:05] #217 closed, assigned to obrie

[2012-11-28 22:43] peppyheppy commented on #189
I also have this issue. Its related to the use of 'all' and 'any'.

For example, the following will return the state_paths quickly:

[code]

BUT, if we replace a specific "from state" with 'any' or 'all' it will loop more or less infinitely.

[code]

Been looking into it for a bit and I think it has something to do with @deep not being respected somehow -- not sure yet.

Here is a snippet from mac

[2012-11-28 23:14] peppyheppy commented on #189
UPDATE: I ran some simple tests to see how the state_paths performs and how many paths there are. Wow!

Running object.state_paths with transitions "from" set to varying numbers of "alls":

with one from all transition on the object:
2 (< 0.5 seconds)

with 2 from all transition on the object:
2798 (~ 3 seconds)

with 3 from alls:
102864 (~ 3 minutes)

Scary slow/deep!

Any suggestions for me?

[2012-11-28 23:35] peppyheppy commented on #189
I ended up getting what I needed from directly calling:

[code]

[2012-11-30 19:41] voondo commented on #114
+1 too

[2012-11-30 22:44] flipkick commented on #191
+1

[2012-12-04 19:47] nathanl opened #223 "More specific validation error?"
I've just spent a while chasing down a mysterious "is invalid" validation error. Turns out that the problem was that this attribute is managed by state_machine and the value I set was not one of its states.

A message like "is not a valid state_machine state" would have been much clearer.

Thoughts?

[2012-12-04 20:13] nathanl commented on #223
Ah, poop-on-a-stick! You can't do that because users would see it and be confused.

This is not the first time I've wished for separate developer-facing and user-facing validation errors.

[2012-12-04 21:21] the8472 commented on #223
Well, you can easily roll your own simply by mixing a module into AR:Base that lazy-initializes your own error object and calls a before_validate that marks the "real" error object as invalid if something is present in the internal one.

Then you can write a validation handler for the state machine to see if the state is included in the current machine. Should only be a few LOC.

[2012-12-04 23:25] nathanl commented on #223
Yeah, I was thinking about this more as a usability improvement for all developers. Now that I'm aware of it, I can figure it out easily; just wanted to spare others the pain.

[2012-12-06 04:35] lascarides opened #224 "Return list of all states?"
Is it possible to return an array of all states (not just the possible transitions from a given state)?

Looked for it in the documentation but didn't find it. Thanks in advance!

[2012-12-06 10:58] the8472 commented on #224
`YourModel.state_machines[:your_state].states.keys`

see http://rdoc.info/github/pluginaweek/state_machine/master/frames/StateMachine/ClassMethods

[2012-12-06 23:41] lascarides commented on #224
thanks much! would not have put that together on my own.

[2012-12-06 23:41] #224 closed, assigned to obrie

[2012-12-19 10:29] dougc84 opened #227 "ignores update_column"
My situation is this, and I had to create a very non-elegant solution to get this out the door:

I have a reservations model, and I let admins transition a reservation to several states that I'm not allowing a standard user to see.  The model itself is very complicated and has around 20 different validations.  One event I have set up is "extend_reservation," which takes the reservation's end date,

[2012-12-22 06:01] caoxg commented on #114
+1 three

[2012-12-25 12:23] Gurpartap commented on #220
As I read from `StateMachine::MacroMethods` documentation:

Using `initialize_state_machines` instead of `super` in my model's initialize method solved the problem (since my model also had included modules).

:smile:

[2012-12-25 12:23] #220 closed, assigned to obrie

[2013-01-30 17:09] frahugo commented on #198
Same problem, with a very simple ActiveRecord class (not concern).  The workaround does work.

[2013-02-01 02:55] saurabhnanda opened #230 "Weird behaviour when using around_transition & around_save together"
Hi,

I'm vexed by extremely weird behaviour while using `around_transition` and `around_save` on the same model. It _could_ be that this is not a bug, and I'm missing something extremely simple - please pardon me in that case. However, to the best of my understanding, this seems to be some bug somewhere.

Here's a PoC code which produces this bug.

Note: [RequestStore](https://github.com/steveklab

[2013-02-01 13:15] the8472 commented on #230
Maybe this is a side-effect of using continuations for the around callbacks?

[2013-02-01 14:47] saurabhnanda commented on #230
So, it is a bug and not something stupid from my end?

## Saurabh

http://www.saurabhnanda.com
On 1 Feb 2013 18:45, "the8472" notifications@github.com wrote:

[2013-02-02 11:50] the8472 commented on #230
I think this is simply wonky behavior of ensure blocks in the presence of continuations. See https://github.com/rubinius/rubinius/blob/master/spec/ruby/shared/continuation/call.rb#L35

[2013-02-02 12:45] saurabhnanda commented on #230
Any advantage of using continuations vs blocks within state_machine?

On Sat, Feb 2, 2013 at 5:20 PM, the8472 notifications@github.com wrote:

##

http://www.saurabhnanda.com

[2013-02-02 16:52] saurabhnanda commented on #230
Also, are only around_transition implemented through continuations? What about before & after transition.

[2013-02-11 16:55] jturkel commented on #196
This bug also means that you can't define the behavior of methods in different states e.g.

[code]

This results in the following exception:

[code]

[2013-02-11 17:11] jturkel commented on #196
Doh. Ignore my comment above. Looks like it works if you use a string not a symbol for the state name i.e. the following works:

[code]

[2013-02-12 10:31] the8472 commented on #230
before and after are called in a plain loop, I think.

[2013-02-12 15:57] paulsturgess commented on #189
I just hit this same recursive issue when using `state_paths`. Switched to `state_events` and everything works.

[2013-02-14 11:46] pmor opened #232 "Initialization error with mongoid-3.1.0"
I just updated do mongoid-3.1.0 and I get this error on any state_machine I try to create. Classes without state_machine are working fine.

[code]

The exception is thrown here (/mongoid-3.1.0/lib/mongoid/attributes.rb:171:in `block in write_attribute')

[code]

because  attributes_before_type_cast is nil

[2013-02-14 11:49] pmor commented on #232
Also opened issue in mongoid: https://github.com/mongoid/mongoid/issues/2827

[2013-02-17 17:18] #203 closed, assigned to obrie

[2013-02-17 17:18] #232 closed, assigned to obrie

[2013-02-17 17:19] obrie commented on #203
Thanks for reporting this -- the `versions.rb` file doesn't actually define what versions are supported, but instead provides support for older versions whose integration has changed.  Nonetheless, there were indeed issues with newer versions which have since been resolved.

[2013-02-17 17:20] obrie commented on #232
Thanks for reporting this!  I've made a change to the Mongoid integration which will prevent issues like this from cropping up in the future -- this will make state_machine work on the unpatched version of Mongoid 3.1.0.

[2013-02-17 17:49] obrie commented on #208
Hey guys -

Thanks for letting me know that you're running into this issue.  I've made several changes to support Mongoid 3.x.  A new version should be released with these changes in the next few weeks.  I've added more tests to validate the observer / callback functionality.  If you're still encountering issues, let me know (with any debugging / steps to reproduce) and I'll reopen the issue.

[2013-02-17 17:49] #208 closed, assigned to obrie

[2013-02-17 18:22] #204 closed, assigned to obrie

[2013-02-17 18:22] obrie commented on #204
Thanks for the heads up!  Indeed state_machine was not properly detecting aliased fields.  This should be fixed now and will be included in the next release.

[2013-02-17 20:38] pmor commented on #232
:thumbsup: Great!

[2013-02-18 00:40] dpickett opened #233 "delegating events to a separate object?"
I'd like to patch state_machine to include support for delegating event processing to an external object. Some state machines I've built out end up getting very long and end up violating the single responsibility principle. If I wrote something to handle this type of isolation, would it be merged in? Here's what I'm thinking:

[code]

[2013-02-18 02:06] #209 closed, assigned to obrie

[2013-02-18 02:18] obrie commented on #233
This is an interesting question.  For this case, I'd propose just using modules.  For example:

[code]

You could also just do an `include` from within the `Car` class, e.g.:

[code]

[2013-02-18 02:59] obrie commented on #227
What's the error that you're getting?  You also need to be careful about what the call to `update_column` returns -- if it returns `false` and you're running within a `before_transition` callback, that can cause the entire process to halt.

The reason `before_transition` won't work here is because validations get run _after_ `before_transition` callbacks are invoked -- as a result, changes to thos

[2013-02-18 02:59] #227 closed, assigned to obrie

[2013-02-18 03:34] obrie commented on #189
`state_paths` is intended to give you _every_ path possible.  Assuming you don't set the `:deep` option, if you specify a target state it'll give you every path that's possible to that state without using the same transition in a single path.  If you don't set a target state, it'll give you every path that's possible to any state without repeating a transition in a single path.

In your scenario,

[2013-02-18 03:34] #189 closed, assigned to obrie

[2013-02-18 03:53] obrie commented on #190
Hey @jimjames99 -

The problem in this case is actually the last event definition:

[code]

In this case, `:from => any` isn't really an expected use of the API.  Instead, you would define the transition as follows:

[code]

The problem is that, with this syntax use, the values in the hash are interpreted as the real value -- no support for `any` / `all` / `same`.  Let me think about whether this

[2013-02-18 04:06] obrie commented on #190
Thought about this a little more and I think it makes sense to support your use case.  @jasdeepsingh I'm not sure what issue you're running into and whether it's actually related.  I don't seem to be reproducing your issue -- see below:

[code]

If you're still encountering the issue, feel free to open a new issue.

[2013-02-18 04:09] obrie commented on #233
Going to close this one -- happy to re-open it if you have any feedback to do something other than the above proposed solution.

[2013-02-18 04:10] jasdeepsingh commented on #190
@obrie - Thanks for the reply. I'll look into the issue once again and see if I can reproduce it and get back to you with some concrete details/scenario to reproduce this.

Great gem by the way! :+1:

[2013-02-18 04:48] #190 closed, assigned to obrie

[2013-02-18 04:51] obrie commented on #188
Agreed -- this should be improved.  Closing this in favor of tracking it in #225 since someone's opened a PR for it.

[2013-02-18 04:51] #188 closed, assigned to obrie

[2013-02-18 11:50] dpickett commented on #233
Hey @obrie thanks for the quick response! This looks cool, but why would you prefer a module instead of a class? It seems like a lot more code for the user to write. Would you be opposed to a class based design?

[2013-02-18 11:55] the8472 commented on #233
I'm also using modules to add "fragments" of statemachines into an existing one. But ruby's module API is slightly insufficient for that since we usually want to specify something like "add this cluster of states and transitions at point X into the process and have the final transition point to exit state Z", i.e. it needs to be parametrized.

[2013-02-18 13:16] obrie commented on #198
Hey guys -

This is actually documented in the ActiveRecord integration @ http://rdoc.info/github/pluginaweek/state_machine/master/StateMachine/Integrations/ActiveRecord under the "Validations" section.  This is due to a constraint in ActiveRecord's validation framework.

[2013-02-18 13:16] #198 closed, assigned to obrie

[2013-02-18 13:19] jimjames99 commented on #190
Ah, got it. I was't sure about that syntax. I should have tried it without the :from!

Awesome gem - love using it.   Jim.

##

Jim James

On Feb 17, 2013, at 10:53 PM, Aaron Pfeifer wrote:

[2013-02-18 14:10] obrie commented on #202
@the8472's suggestion is the same I would have made -- transactions are the best way to go.  There's no concept of batch updates in state_machine.

Good question!

[2013-02-18 14:10] #202 closed, assigned to obrie

[2013-02-18 14:31] obrie commented on #197
Thanks to the heads up -- using a matcher for a `to` state is not a valid use of the `transition` API -- it's only applicable to callbacks.  I would instead be inclined to raise an exception for this case.

[2013-02-18 14:36] obrie commented on #213
This is a dupe of #190 and has since been supported via 0f6dff1e5c65649ea9b470f61c89ecdb0a6e2037 -- thanks for reporting the issue!

[2013-02-18 14:36] #213 closed, assigned to obrie

[2013-02-18 14:40] obrie commented on #215
Thanks for the heads up -- I'll take another look at the issue.

[2013-02-18 14:40] #215 closed, assigned to obrie

[2013-02-18 14:52] ulissesalmeida commented on #213
Thanks!

[2013-02-18 15:36] obrie commented on #132
I fixed a few issues with the example in the README -- hope this helps!

[2013-02-18 16:13] shingara opened #234 "params to not save after event"
Hi,

I use state_machine with some Mongoid document. if I fire an event a save of this object is fire. It can be good to fire event without saving document. Just change the state and raise exception if the change can be allow.

[2013-02-18 16:40] obrie commented on #234
Hi @shingara -

You can actually already do this.  See the `state_machine` docs @ http://rdoc.info/github/pluginaweek/state_machine/master/StateMachine/MacroMethods:state_machine.  By default, Sequel integrations use `:save` as the `:action` configuration.  By setting `:action` to `nil`, the machine won't automatically save your object.

[2013-02-18 16:40] #234 closed, assigned to obrie

[2013-02-18 16:55] obrie commented on #194
@the8472 Thanks for the suggestion!  I'll be honest this has been proposed many times in the past few years and each time the conclusion has been that the custom data didn't belong in the state machine (or, often, even in the model).  Allowing this type of behavior is a slippery slope and I can imagine it leading to many misuses.

Dynamic state machines are definitely an edge case and an integrati

[2013-02-18 16:55] #194 closed, assigned to obrie

[2013-02-18 16:59] the8472 commented on #197
1. We do use `=> any` transitions for some administrative purposes, it's pretty useful to reuse the state machine logic (after/before callbacks) and still have the option to override the state.
   Also `=> same` is a matcher too...
2. This isn't just about the AllMatcher. It's also about passing arrays, which i assume get converted to WhitelistMatchers
3. I think having multiple exit paths makes s

[2013-02-18 17:05] obrie commented on #195
The reason for the issue was commented on in #59.  Unfortunately, this isn't a possible use of `attr_readonly`.  Sorry!

[2013-02-18 17:05] #195 closed, assigned to obrie

[2013-02-18 17:10] the8472 commented on #194
Well, it's not only for dynamic state machines. It's more about the MVC-integration. The state machine is the model-part. But it cannot communicate well with the VC-part.

In our case we expect the transition args to contain certain objects which have to be generated by the controller based on user input. The controller has to know which view components it has to use to generate the necessary obje

[2013-02-18 17:13] obrie commented on #197
@the8472 I'm a little confused.  You can already specify multiple exit paths for an event like so:

[code]

To say that a state can transition to from some state to multiple states doesn't make sense within state_machine -- it has no idea what state it should go to.

Maybe I'm missing something but I would have no idea how to parse this transition: `transition [:state_one, :state_two] => [:state_t

[2013-02-18 17:53] obrie commented on #233
@dpickett I think the alternative would be very complicated with little, if any, benefit over modules.  You get the exact same API as in the model (don't need to change anything about how you're defining callbacks, event overrides, accessing the model, adding validations, etc.).  You would basically end up inventing an entirely new API, complex backend to support all of the edge cases, and complic

[2013-02-18 17:57] obrie commented on #233
@the8472 Besides the likelihood that this is very much an edge case, there's no reason you couldn't parameterize using a tweak on one of the above solutions... e.g.:

[code]

I think the overall idea is that there are a lot of ways you can take advantage of some of the features of Ruby to accomplish this without overcomplicating things.

[2013-02-18 18:18] the8472 commented on #197
You can also do this:

[code]

which I shortened to

[code]

Of course i do not expect the state_machine to have any smartness here, it can simply use the first available transition by default. But in our user-interface we provide the option to pick a different path with otherwise identical effects.

E.g. we have a `review` event that has the target states `review_positive` and `review_negative` (

[2013-02-18 18:28] obrie commented on #197
I follow now what you're trying to do.  It's a pretty unusual use case and, in most cases, indicates user error -- in most scenarios, your first example would result in logic that would never be reached unless you started interacting with some of the more advanced state_machine APIs.

Maybe what we need is to support this use case, but output a warning that the transition will never be reached usi

[2013-02-18 18:30] obrie commented on #197
Let me ask one other follow-up question: in most cases, folks would treat those two transitions as occurring under two separate events -- one that would result in active_one and one that would result in active_two.  Have you considered this solution?

[2013-02-18 19:25] the8472 commented on #197
We use those almost exclusively. The instance methods are not versatile enough.

If i can stub it out or something so nobody will be annoyed when they see it during application startup that should be fine. I'm aware that this is pretty advanced usage. We've built a lot of stuff around the state machine.

I would have submitted this as a pull request but there was a certain lack of activity so I wa

[2013-02-19 08:32] shingara commented on #234
thanks, it wasn't really clear to me, this option `:action` is not define in the readme. But in the API all is clear, thanks.

[2013-02-19 18:27] dpickett commented on #233
I understand your perspective and agree it would be a ton of work to do it right. I'll give the module solution you proposed a shot and see if it works for me! Thanks for being so thorough in your discussion of the issue, and for being an excellent maintainer of this gem.

[2013-02-19 18:27] #233 closed, assigned to obrie

[2013-02-19 18:59] obrie commented on #233
@dpickett I actually had a conversation with @betamatt today about your idea and, after talking to him and getting his perspective, I understand a bit more the reason (from an object design perspective) for separating out the concerns into another class instead of mixing event-specific behaviors into the model via a module.  Will follow up with more on this later...

[2013-02-19 19:56] iRonin commented on #205
I've just run into the same issue.
The most recent state_machine-1.1.2 has this issue, the most recent master doesn't.
Any idea where the fix is going to be released?

[2013-02-20 04:14] johnkchow commented on #205
@iRonin turns out the seg fault wasn't from the state_machine library but because (for some reason unknown to me) that by compiling our Ruby (1.9.3-p194) with GCC that was > 4.2, that was causing the seg faults. This happened on our Ubuntu 12.04 machines.

We recompiled Ruby with GCC 4.2 and it's golden. If you're on Mac, don't use LLVM.

[2013-02-20 06:55] iRonin commented on #205
@jkchow I was referring to the the fact that state_machine doesn't honor ActiveRecord::Base.observers.disable(:all).

[2013-02-20 07:01] johnkchow commented on #205
Works for me in commit 40ae5757cba9a4ce9e8faf889fec435370daf929, and there's even a test on it for AR:

https://github.com/pluginaweek/state_machine/blob/master/test/unit/integrations/active_record_test.rb#L1656-L1679

[2013-02-20 07:09] iRonin commented on #205
Yes, it works in the commit you mentioned but it doesn't work in the latest version uploaded to rubygems and that's what  I meant by my question.

[2013-02-20 08:01] whatthewhat opened #235 ":initial state doesn't work in Rails 4"
With current rails 4 master initial state doesn't get saved to db:

With this state_machine defenition:

[code]

I get this:

[code]

So the state value doen't get written to the database.

[2013-02-20 12:07] obrie commented on #205
@iRonin now that I'm back from hiatus, I will be trying to get a new release out within the next few weeks.  Stay tuned.

[2013-02-20 12:11] iRonin commented on #205
@obrie thanks for the update! :)

[2013-02-21 17:15] hlascelles opened #237 "Supply status_upstream_of?, terminal_state? and terminal_states methods"
We often need to know terminal and flow state information, and have put together methods that can be called on model instances.

[code]

and

[code]

We'd also like to know, given a class, all terminal states.

Before I head off into the code, is there a way to do this quickly?

Thanks!

[2013-02-21 17:20] the8472 commented on #237
for terminal states:

YourModel.state_machines[:machine_name].states.select{|st| st.final?}

[2013-02-21 17:41] hlascelles commented on #237
Spot on! Thanks very much Mr 8472...

[2013-02-21 17:41] #237 closed, assigned to obrie

[2013-02-21 18:39] glongman commented on #184
I'm having the same problem. Anyone looked at this?

[2013-02-25 06:35] jtippett opened #238 "Not working with ruby 2.0?"
Hi, installed ruby 2.0 to check it out, and it seems I can't init anything with a state_machine attached. Getting this error:

Loading development environment (Rails 3.2.12)
2.0.0p0 :001 > j = Job.new
NoMethodError: undefined method `remove_attributes_protected_from_mass_assignment' for #<Job not initialized>
    from /Users/james/.rvm/gems/ruby-2.0.0-p0/gems/activemodel-3.2.12/lib/active_model/at

[2013-02-25 06:39] #238 closed, assigned to obrie

[2013-02-25 13:29] obrie commented on #235
Good catch!  This only happens when there are no changes to record for a new record (i.e. it uses all the default values in the db).  The fix isn't immediately clear to me so this may take just a little while to figure out what the right solution is.

[2013-02-27 01:35] myitcv opened #239 "Required arguments for event transition"
With reference to the ['Overriding the event' section of the docs](http://rubydoc.info/github/pluginaweek/state_machine/StateMachine/Machine:event), is it possible to require an argument (or indeed any number of arguments) for an event?

Something like

[code]

Or am I abusing the pattern with this sort of approach?

Thanks in advance.

[2013-02-27 11:20] the8472 commented on #239
you should use a before_ or after_transition handler.

[code]

Edit: if you need some required arguments just throw an exception if they're not present

[2013-02-27 20:21] myitcv commented on #239
Thanks. Can you give some insight as to why the arguments are consumed as *args as opposed to a Rails-style hash? The latter would seem more intuitive to me

[2013-02-28 10:02] the8472 commented on #239
you can pass positional parameters and a hash. like a regular method call. if you're using rails you can simply obtain the hash with `.extract_options!`.

As for why they are not passed to the handlers directly... that i don't know.

[2013-03-01 00:54] flatrocks commented on #107
I am extremely reluctant to make this comment because there is always the possibility that I am being a bonehead, and because this issue has already been closed.  But as far as I can tell, the "scope" behavior does not seem to work at all for ActiveRecord objects in Rails 3.2.  I am talking about the **with_state()** method described at:
http://github.com/pluginaweek/state_machine/blob/master/lib/

[2013-03-01 05:50] twalpole commented on #107
Since your state machine is named import_state you want  CavImport.with_import_state or CavImport.with_import_states  .  Easy way to check that is by doing CavImport.methods.grep /^with/ in the console

[2013-03-01 07:00] flatrocks commented on #107
D'oh! (and Thank You!)
I had gone as far as listing all the CsvImport methods to a text doc to pore through them... but had apparently used CsvImport.class.methods and/or CsvImport.instance_methods, everything I could think of but the right thing.

**:with_import_state, :without_import_state, :with_import_states, :without_import_states** are all available as advertised.  (Listing here for the next

[2013-03-01 12:24] obrie commented on #235
This is being tracked over at https://github.com/rails/rails/pull/9489 .. if that PR gets merged, everything will start working again in Rails 4

[2013-03-04 19:30] arieliten opened #240 "Assign state as symbol doesn't work with boolean methods like state?(<some_state>)"
Here's a simple AR class with state_machine setup.

[code]

If I do this on console:

[code]

So I think that the only way it works if I ensure that the state I assign (manually or via mass-assignment) is a string and not a symbol.

The documentation says:

[code]

and it shows the following example:

[code]

Any clue?

[2013-03-05 11:42] dwilkie opened #241 "Race condition"
I ran into a situation where a race condition was causing the state to be updated incorrectly in Rails. Here's the example:

[code]

In one rails worker process I had this code like this:

[code]

And in another web process I had similar code like this:

[code]

What happened was that the code in the worker process was running and the state was originally `pending_delivery` but then, concurrently

[2013-03-05 21:46] the8472 commented on #241
I would say that wrapping the load-modify-store cycle into a transaction (`serializeable` or `select ... for update`) would do the job too.

[2013-03-06 02:25] dwilkie commented on #241
@the8472 I don't see how wrapping this in a transaction helps here since the check needs to be at the database level. Can you give me an example?

[2013-03-06 06:56] agibralter commented on #241
A transaction ensures that the state remains consistent at the database
level. Are you using MySQL InnoDB? Then an ActiveRecord transaction can
eliminate race conditions provided you write the application logic
correctly.

urtak.com / @urtak http://twitter.com/urtak

On Tue, Mar 5, 2013 at 9:25 PM, David Wilkie notifications@github.comwrote:

[2013-03-06 08:32] dwilkie commented on #241
I'm using Postgres but I don't think that matters. From my understanding a transaction is used to ensure that SQL statements are only permanent if they all succeed. Taking the example from the Rails docs:

[code]

So Mary is only deposited if David's withdrawal succeeds.

This case is a different situation. There is only one SQL statement being run here namely an UPDATE statement on the record to

[2013-03-06 12:23] the8472 commented on #241
Locking (either optimistic or pessimistic is a design decision) + Transactions is pretty much what you want. It ensures that a write with dependencies on stale data will fail and rollback all changes done during the transaction.

That's really standard database fare and not a state machine issue.

[2013-03-07 06:30] dwilkie commented on #241
@the8472 sorry I'd have to disagree with you there. The role of a state machine (and the gem) is to ensure that an object stays in valid state through valid transitions. For activerecord integration this means ensuring the state is correct on the db level.

Again i don't see how transactions can help here. There is only one SQL statement being executed. Feel free to enlighten me how you would solv

[2013-03-07 07:31] the8472 commented on #241
There isn't. You're first loading the object, which is a `SELECT` statement, then you're modifying the record, then you're writing the modified state with an `UPDATE` statement.

You see, the _object_ stays valid as its state does not change. The value only changes on the database. You will face exactly the same problem with _anything_ using active record. E.g. two people concurrently editing an o

[2013-03-07 07:40] dwilkie commented on #241
Ok, I _still_ don't see how a transaction can be used here, feel free to show me with an example, but your basically saying that I should use optimistic locking or pessimistic locking. I outlined these as one of the 4 possible solutions above, I just think that solution 1 is better for this case.

[2013-03-07 08:03] the8472 commented on #241
a) With the `SERIALIZABLE` isolation level.
b) With pessimistic locking... it requires transactions

For optimistic locking it's not essential but improves consistency when loading relations and things like that through `REPEATABLE_READ` semantics.

Dirty field checking doesn't provide race-free behavior because state conditions (the `:if => ...`) can depend on other fields and even on relations t

[2013-03-07 12:58] agibralter commented on #241
Totally agree with @the8472

[code]

How is that different than the withdrawal example you gave as an example of when transactions are necessary?

[2013-03-07 12:59] agibralter commented on #241
I suggest you try it with two `rails c` sessions and see if it works.

[2013-03-07 15:54] dwilkie commented on #241
@agibralter your suggestion doesn't solve the issue.

The example you gave is different from the withdrawal example because `Reply.find(id)` will always be successful so `reply.update_delivery_status` will result in a write to the db since it also will not raise an error. As explained in the Rails documentation here: http://api.rubyonrails.org/classes/ActiveRecord/Transactions/ClassMethods.html fo

[2013-03-07 16:05] agibralter commented on #241
@dwilkie you should design your state transitions such that they will raise exceptions in race conditions.

Don't the implementations of `withdrawal` and `deposit` require finds and updates just as you suggest is the case with your transitions?

[2013-03-07 16:27] dwilkie commented on #241
@agibralter even if the state transition did raise an exception on an incorrect state transition you still cannot solve the problem of a race condition with a transaction, because the state can be updated at anytime. Here is the proof with a failing spec.

[code]

[2013-03-07 16:35] agibralter commented on #241
What happens if you use `update_delivery_state!`?

urtak.com / @urtak http://twitter.com/urtak

On Thu, Mar 7, 2013 at 11:27 AM, David Wilkie notifications@github.comwrote:

[2013-03-07 16:58] dwilkie commented on #241
Same issue since the object is stale, it loaded as 'pending_delivery' and in between  e.g. by another process it's updated to "queued_for_smsc_delivery". Therefore you need a check on the DB level. In this Railscast (pro episode) (http://railscasts.com/episodes/59-optimistic-locking-revised) Ryan Bates shows how to use Rails' optimistic locking.

At the end though he shows an alternative technique

[2013-03-07 19:48] the8472 commented on #241
Let me put it differently: You're not using locking in your application. Which means that race conditions can and will happen with **any and all** read-modify-update cycles in your application. If you choose to accept race conditions everywhere in your application, why should state_machine go out of its own way to bypass activerecord (it's just calling `.save()` internally) and manually create upd

[2013-03-09 21:33] #201 closed, assigned to obrie

[2013-03-09 21:33] #214 closed, assigned to obrie

[2013-03-09 21:33] #219 closed, assigned to obrie

[2013-03-09 21:33] #230 closed, assigned to obrie

[2013-03-09 21:34] obrie commented on #201
Thanks for reporting this!  I've revamped the way state_machine integrates with ActiveRecord -- this has subsequently fixed this issue.  It'll get included in the upcoming 1.2.0 release.

[2013-03-09 21:45] obrie commented on #164
After revamping the integration for DataMapper, I've come to the conclusion that it's impossible to persist additional changes made to your record within an `after :save` callback.  Because of the way DataMapper's `run_once` feature works for saving, it's just not possible to make changes in that callback.  I'd encourage anyone who's interested in having this work (as it does in other ORMs) to fol

[2013-03-09 21:45] #164 closed, assigned to obrie

[2013-03-09 21:45] obrie commented on #214
Thanks for bringing this up -- I've updated each integration's documentation to explain the callback order :)

[2013-03-09 21:48] obrie commented on #219
In general, I recommend against running transitions in `before_create` / `after_create` callbacks.  Note that when you invoke an event, that event also calls save.  Nesting multiple `save` calls within the initial creation of a record has a variety of side effects.  In order to make this work, you would have to explicitly skip the action like so:

[code]

Note that this will only be officially sup

[2013-03-09 21:51] obrie commented on #230
Indeed this was an issue with the use of continuations.  However, the fact that state_machine was using a continuation in the first place was a bug in this case.  I've updated the ORM integrations to fix this issue -- with the upcoming 1.2.0 release you should no longer see this under most circumstances.

Thanks for reporting this issue and @the8472 thanks for the suggested workarounds!

[2013-03-09 21:53] obrie commented on #237
@the8472 thanks for jumping in and providing the solution!

[2013-03-09 21:56] obrie commented on #235
In anyone is interested in Rails 4 support, please jump over to that bug and voice your support -- this will be blocked until the issue is addressed in Rails.

[2013-03-09 22:07] steveluscher commented on #201
Awesome. Cheers!

[2013-03-09 22:16] obrie commented on #241
Thanks for everyone's input on this.  @dwilkie the issue you raise is interesting and I appreciate all of the thought and effort that's gone into it.  I'll admit I agree with @the8472 here -- optimistic locking is the solution I've always used in situations like this.  It's basically what you're proposing but in a generic way that can be used to ensure consistency across all of your record's attri

[2013-03-09 22:16] #241 closed, assigned to obrie

[2013-03-13 12:24] rngtng commented on #176
yeah good idea +1

[2013-03-13 18:26] saurabhnanda commented on #230
Thank you for fixing this :-)

[2013-03-17 02:38] simonmd commented on #235
In the meantime, what would be the most sensible workaround for this?

[2013-03-18 11:32] the8472 commented on #235
as @obrie said

So.. touching some value, e.g. manually setting `updated_at` might work.

[2013-03-19 12:02] #157 closed, assigned to obrie

[2013-03-19 12:06] obrie commented on #157
It took a fresh look at this issue to finally build a solution that was a reasonable compromise :)  This simply overrides `#changed_for_autosave?` to look for whether the event attribute has been specified.  It also doesn't change the behavior of `#changed?` which means we continue to be consistent with ActiveRecord internals.

@jviney @fj sorry it took so long!  This'll be part of the upcoming 1.

[2013-03-19 12:18] obrie commented on #239
@myitcv I actually don't think there's much wrong with what you proposed.  I think it's okay to define the method like so:

[code]

...in order to define required arguments.

@the8472's solution is also perfectly valid.

As to the reason why arguments are accessed via the transition object instead of passed directly into the block... the primary reason was because you will often define before_/aft

[2013-03-19 12:18] #239 closed, assigned to obrie

[2013-03-19 12:30] obrie commented on #240
Hi @arieliten -

All state values are assumed to be strings unless otherwise specified.  When you call `v.state?(:parked)`, state_machine is looking up the state named `:parked` comparing it's associated value (`"parked"`) against the current state's value.  If you wish to use symbols instead of strings as your state values, you'll have to be explicit about it -- I've clarified this in the README

[2013-03-19 12:30] #240 closed, assigned to obrie

[2013-03-19 12:33] arieliten commented on #240
Thanks for the clarification @obrie

[2013-03-19 16:33] the8472 commented on #240
Maybe it should be clarified when a method expects the _value_ of a state or its _name_. E.g. if you do some programmatic checks it often makes more sense to check against the state name rather than its persistence representation, at least that's what I think.

I also often run into the situation where i ponder whether i should be using machine.name or machine.attribute when reflecting on state ma

[2013-03-19 16:52] obrie commented on #240
There are no methods that expect to be looking at a value except for the actually attribute setter.  state_machine deals strictly with state names.

[2013-03-22 17:33] pmor commented on #184
Same problem here, I'm having to use 'state_name == ' to get around this issue.

Using mongoid 3, and defining states as numbers (i.e. 'state :open, value: 0'). The helper methods are defined, but always return false.

[2013-03-25 17:30] afinetooth commented on #235
FYI, just noticed the the pull request was merged:
https://github.com/rails/rails/pull/9489

[2013-03-25 18:34] MattRogish opened #242 "Plans to cut v1.1.3 or v2?"
Hi,

v1.1.3 was released a year ago; just curious if there are any plans to release the latest changes as a gem update (I'm not sure if they appear to be breaking necessitating a v2)

Thanks!!
##

Matt

[2013-03-25 18:51] obrie commented on #242
There are plans to cut v1.2 within the next week... soon :)

[2013-03-25 18:51] #242 closed, assigned to obrie

[2013-03-25 19:13] MattRogish commented on #242
Thanks! :D

[2013-03-25 20:02] the8472 commented on #212
can_event? only checks the branch requirements and if/unless conditions, you can't accurately predict whether something will be valid after a complete transition since
a) validations may be complex
b) before/after handlers may perform complex modifying actions

Those combined make it nearly impossible to see if a transaction would actually succeed in advance, especially if something the handlers d

[2013-03-27 15:04] bai commented on #235
The issue doesn't seem to be fixed with that rails commit. Is anyone digging into it?

[2013-03-27 16:38] obrie commented on #235
It looks like this will still be a problem if you're using the `protected_attributes` gem -- it seems to unfortunately completely reimplement the `initialize` method.  See https://github.com/rails/protected_attributes/blob/master/lib/active_record/mass_assignment_security/core.rb

@bai can you verify that this is what you're seeing?

[2013-03-27 16:57] legolin commented on #235
Would hooking into that :initialize callback work, or would that cause other issues?

[2013-03-27 17:14] obrie commented on #235
@legolin it causes other issues.  The current implementation is pretty well-supported.  The protected_attributes gem is just doing something that's not maintainable -- they have to constantly be sync'ing with the latest implementation of the `initialize` method in ActiveRecord.  Someone (could be myself) will need to bring this up to whoever's maintaining that project.

[2013-03-27 17:17] obrie commented on #235
Also that reimplementation doesn't seem to be doing anything interesting -- not sure why it's there in the first place.

[2013-03-28 01:14] obrie commented on #235
If you're using `protected_attributes`, https://github.com/rails/protected_attributes/pull/14 will need to get merged and deployed in order for `state_machine` to completely fix the issue

[2013-03-28 17:06] maxime-d opened #243 "Exceptions not throw"
Why doesn't have a exceptions where validation constraints is not validate.

Ex : validates :file_remote_url, :presence => true, :unless => lambda { |b| b.creation_basic? || b.creation_upload? || b.creation_pdf? || b.creation_epub? }

event(:creation_pdf_uploaded) { transition :creation_pdf => :creation_cover }

This event creation_pdf_uploaded don't throw exceptions.

[2013-03-28 17:35] the8472 commented on #243
It returns false.

[2013-03-28 17:38] maxime-d commented on #243
Yes it's return ROLLBACK, but we don't have a visibility on the errors. I have passed 3 hours for find this :(

[2013-03-30 18:34] #197 closed, assigned to obrie

[2013-03-30 18:34] obrie commented on #197
Done :)  Decided that I also shouldn't generate warnings here... hope this helps!

[2013-03-31 20:05] #196 closed, assigned to obrie

[2013-03-31 20:09] obrie commented on #196
@the8472 I went down multiple paths with this and the only reasonable improvement was to change any calls to state-bound methods to be explicit with an `InvalidContext` error instead of what would appear to be a `NoMethodError`.  Because of the way the methods get defined and how they could be defined in superclasses (whether explicitly or via `method_missing`) it's not possible to change the beha

[2013-03-31 20:12] obrie commented on #243
@maxime-d The errors are available in `#errors` as they normally would.  state_machine doesn't really do anything particularly special here.  The record will fail validation, return false, and display errors in `#errors`.

If you're seeing otherwise, can you share a working example that I can run locally?  Thanks!

[2013-03-31 20:12] #243 closed, assigned to obrie

[2013-03-31 22:24] obrie commented on #235
Going to close this since state_machine now works in the default Rails 4 installation.. the remaining broken library (protected_attributes) will be tracked in that project's repo.

[2013-03-31 22:24] #235 closed, assigned to obrie

[2013-03-31 22:27] obrie commented on #216
@kgeoir This issue has been addressed in #241 -- the tl;dr; is that optimistic locking should be used.

[2013-03-31 22:27] #216 closed, assigned to nobody

[2013-03-31 22:30] obrie commented on #176
Agreed -- I'll be taking a look at this in the 2.0.0 milestone.

[2013-03-31 22:42] obrie commented on #193
There are some complexities with around callbacks and some of the ORM integrations for this.  I'll think about this as part of the 2.0.0 release.

[2013-04-01 02:32] obrie commented on #212
I agree with @the8472 here -- running validations has very real side effects especially if you begin to consider instances where you're using event attributes.  Event attributes get processed prior to validation, meaning that if you were to attempt validation the event would get processed and the state would get transitioned.  Also note that sometimes validations depend on the current state of the

[2013-04-01 02:32] #212 closed, assigned to nobody

[2013-04-03 09:43] the8472 commented on #197
1.2 looks good so far. One less monkey patch \o/

[2013-04-04 12:59] obrie commented on #197
Great to hear! :)

[2013-04-08 00:10] jisk opened #245 "Validator method is only be called on last instance of validation"
If you use a custom validation method with the "validate" clause in more than one state, it is only called on the last state that mentions that validation method.

For example - in the following code, the date_of_expiry must be present validator works for entering both expired and expired_foreign states, but the custom date_of_expiry_must_be_in_the_past method is only called for the last defined s

[2013-04-08 02:05] obrie commented on #245
Hey @jisk -- see #198 for an explanation

[2013-04-08 02:05] #245 closed, assigned to obrie

[2013-04-08 02:08] jisk commented on #245
Thanks @obrie. I didn't see that. I'll use the workaround.

[2013-04-09 15:10] the8472 commented on #197
Ah, there seem to be some issues with the graph drawing. It doesn't handle the alternative target states.

I don't use the path finding algorithms (they seem to cause stack overflows or near-infinite loops in some cases), but those might be affected too.

Basically anything that does path-finding separate from the `.transition_for()` method.

[2013-04-11 21:06] iabdulin opened #246 "Class.human_state_name stops returning real human name after transition"
In Ticket.rb I have

[code]

In console:

[code]

What's wrong?

[2013-04-12 00:24] obrie commented on #246
Hey @iabdulin -

Any chance the code that's referencing the state name is modifying the string in-place?  I can't reproduce in a simple example using state_machine 1.2.0:

[code]

If you could provide a reproducible example or ensure that no other code is referencing the human name value, that'd be great.  There's really nothing special that state_machine is doing with that string under the hood.

[2013-04-12 17:52] iabdulin commented on #246
Here's the example repo:
https://github.com/iabdulin/state_machine_human_name_issue

[2013-04-13 03:14] obrie commented on #246
@iabdulin Awesome find... looks like it has to do with the ActiveModel integration assuming that you'll be specifying the human name option in the locale.  I'll look into fixing this over the next week or so.

[2013-04-15 19:32] iabdulin commented on #246
I've updated the repo with another test.
There are 2 models Ticket and Ticket2, both in ticket.rb. The only diff between classes is order of defining event and states. But the behaviour is different. Run Ticket.test in console.

[2013-04-24 04:26] pda opened #248 "Rails 4 partial_writes with state_machine initial value."
_Update: fixed in rails/rails#9489_

Rails 4 adds (and enables by default) partial inserts to ActiveRecord. This means saving a new record will only write to columns believed to be changed. (CHANGELOG extract below).

state_machine sets its initial value in a way which bypasses ActiveRecord's change/dirty checking, and so that column is not included in the insert.

For a nullable column, this resu

[2013-04-24 07:22] pda commented on #248
Looks like this has been fixed in rails/rails#9489 (merged since the current 4.0.0.beta1).
Also referenced in rails/rails#9460 (closed).

[2013-04-24 07:22] #248 closed, assigned to nobody

[2013-04-28 03:13] endzyme opened #249 "Quick Question Dynamic States and Transition Events"
I am not seeing any clear documentation on how one would make state transition actions on state changes. Is there something I am missing somewhere?

[2013-04-30 09:13] lostie commented on #157
In ActiveModel if you update the state and then immediately check for the previous_changes it seems to work fine. Still if you add an after_commit callback and check for the previous_changes in it, they will be empty. I still think this is an issue.

[2013-05-06 22:00] scarver2 commented on #235
This issue is prevalent in Rails 4.0.0.rc1. Initial state is defaulting to nil. The only way to overcome this issue was to write a migration to set the initial state.

`class SetInitialStateOfThing < ActiveRecord::Migration
  def change
    change_column :things, :state, :string, default: 'initial_state', null: false
  end
end`

[2013-05-06 22:08] obrie commented on #235
@scarver2 Are you using the `protected_attributes` gem?  No one has yet to merge the PR required to prevent `protected_attributes` from breaking `state_machine` -- see https://github.com/rails/protected_attributes/pull/14

[2013-05-06 22:49] scarver2 commented on #235
Yes, I'm using the `protected_attributes` gem. The migration I added is actually a best practice to guard against junk in the database. I feel better having the defaults in place and being able to continue Rails 4 testing.

Speaking of gems, "Thank You" for the `state_machine` gem.

[2013-05-07 12:41] obrie commented on #249
Not sure I follow the question -- can you give an example?

[2013-05-07 13:03] obrie commented on #157
@lostie I _think_ that's expected and is consistent with how these types of attributes get handled internally in ActiveRecord.  You can think of it as behaving similar to nested attributes (e.g. you wouldn't expected to see something like `avatar_attributes` in the list of changed attributes).  It's not _exactly_ the same, but I think it's a similar concept.  The fix here was to address the core p

[2013-05-07 15:15] endzyme commented on #249
Sure,

Using [the docs](https://github.com/pluginaweek/state_machine/#static--dynamic-definitions) you show how to define dynamic states and interactions. Unfortunately I am not seeing where I'd add something like

[code]

[2013-05-07 15:25] the8472 commented on #249
`before_transition` is just a method on the `Machine` instance, you can call it and pass arguments from hashes as needed at the same place you call the `transition` method.

[2013-05-07 16:06] obrie commented on #249
Indeed @the8472 is correct -- you'd want to do something like...

[code]

Unfortunately I don't think the `:do => :symbol` technique would work because it doesn't get executed within the context of your `Vehicle` instance.

It's not ideal, but it ought to do the trick.  With a little metaprogramming magic in the `Machine` class example, I'm sure you could get the `:do => :symbol` technique to work

[2013-05-07 16:06] #249 closed, assigned to obrie

[2013-05-07 16:06] obrie commented on #246
Just FYI -- haven't forgotten about this .. just been a little busy lately.

[2013-05-07 16:30] the8472 commented on #223
Ah, for the particular state attribute validation I've written an :after_initialize hook that verifies that the state is valid and sets the attribute to a "you fucked up" state (known to the state machine) if it's not.

That in turn allows the user to transition to any other target state.

[2013-05-08 03:34] iabdulin commented on #246
cool

[2013-05-09 19:49] Blue-Dog-Archolite commented on #184
Also having the same issue. Only with some states however. Things like prospective? and prospective_public?

[2013-05-10 02:15] endzyme commented on #249
thanks guys! appreciate the help!

[2013-05-10 10:52] the8472 commented on #249
Instead of instantiating a machine in an instance you might be able to dynamically create subclasses instead and build the machine on the class level. This is quite expensive, but gives you all the class-level integration. Might be an option if the user-configured machines don't change too often.

[2013-05-14 11:54] vad4msiu commented on #219
Thank you!

[2013-05-21 14:34] mark-ellul commented on #193
removed previous question as I did not see mailing list. Thanks for such a great gem!

[2013-05-24 05:52] the-teacher opened #251 "around_validation error for Rails4.1.0beta"
Hello!

I have following problem:

[code]

[code]

Maybe it's will be interesting for somebody.

Thank you!

[2013-05-28 09:44] bullfrogliu opened #257 "mistaken created"
Please ignore or delete it. sorry

[2013-05-28 09:46] #257 closed, assigned to nobody

[2013-05-31 12:04] simonmorley commented on #235
Why didn't I use Google before wasting a morning on this. Bangs head hard against wall...

[2013-06-01 02:15] obrie commented on #235
@simonmorley Sorry you wasted time on this! :/  Hopefully they release a new version soon...

[2013-06-01 10:15] simonmorley commented on #235
This actually helped me no end. Previously I'd got about 3 tests that I simply could not get to pass since the upgrade to rc1. No matter what I tried, the update action wouldn't actually save the values for some fields in some scenarios. Annoying. And no errors. Seriously thought I was going crazy.

In the end, using protected_attributes from git directly in my gemfile helped but still saw odd res

[2013-06-04 19:44] PatrickMcSweeny opened #258 "Setting boolean column as false causes error"
I have a model with a boolean column and if I try to assign a boolean value of false to it an error gets thrown and the object does not get saved if I have a state machine running on that column.

If I remove the state machine from that same column, I can assign a value of false to that same column with no error so this bug seems to be specific to this gem.

[2013-06-06 12:37] rudi911 opened #259 "using Factories for testing"
I have issues with FactoryGirl as well as Fabrication when I want to initialize a class containing a stat_machine. I have the feeling it's related to having to include the "super()" call in the initialize block.
Have you been able to successfully use the state_machine with these kind of testing gems?

[2013-06-06 13:06] agibralter commented on #259
I've been using state_machine with FactoryGirl for a long time... No issues so to speak.

​What problem are you experiencing?

On Thu, Jun 6, 2013 at 8:37 AM, rudi911 notifications@github.com wrote:

[2013-06-06 13:15] rudi911 commented on #259
I get an error pointing to the initialize call of my model, while the only reason I have the initialize method is for state_machine. the intialize method of my order model is:

  def initialize
    super()
  end

The error I get when I do Fabricate :order :
1.9.3-p194 :001 > Fabricate :order
   (0.2ms)  SAVEPOINT active_record_1
  User Exists (1.5ms)  SELECT 1 AS one FROM "users" WHERE "users"."em

[2013-06-06 13:16] rudi911 commented on #259
I also get an issue when creating a new instance with additional parameters. Creating an instance and then assigning the attribute values goes okay.

1.9.3-p194 :001 > o = Order.new(number: 'sd')
ArgumentError: wrong number of arguments (1 for 0)
    from /Users/Rudi/devel/locationwise/app/models/order.rb:52:in `initialize'
    from (irb):1:in`new'
    from (irb):1
    from /usr/local/rvm/gems/rub

[2013-06-06 14:54] agibralter commented on #259
@rudi911 it would be helpful if you pasted your code, not just the errors.

[2013-06-06 19:44] rudi911 commented on #259
You've got a point...

class Order < ActiveRecord::Base
  attr_accessible :number

  belongs_to :user
  has_one :transaction
  has_many :order_lines

  before_destroy :can_delete?

  scope :current_orders, lambda { |user|
    where('user_id = ?', user.id)
  }

  TAX = 0.21

  state_machine :status, initial: :open do

[code]

  end

  def initialize
    super()
  end

  def order_number
    "loc-%.

[2013-06-06 19:46] agibralter commented on #259
Why do you have

[code]

in your class?

[2013-06-09 13:32] devdazed opened #260 "human_name is ignored in ActiveRecord"
When using ActiveRecord the `human_name` option is ignored.

[2013-06-12 14:44] rudi911 commented on #259
@agibralter The manual says that the call to super() should be included in the initialize. From the docs:

Note the comment made on the initialize method in the class. In order for state machine attributes to be properly initialized, super() must be called. See StateMachine::MacroMethods for more information about this.

[2013-06-12 14:52] agibralter commented on #259
@rudi911 That's not for ActiveRecord models. If you look up in that example, it's explaining how to use state_machine with a plain old ruby object... And it's also, _IF_ you need to use an `initialize` method. And in general, you _shouldn't_ use `initialize` for ActiveRecord objects: http://blog.dalethatcher.com/2008/03/rails-dont-override-initialize-on.html – I know the article is old, but I'm pr

[2013-06-12 14:54] rudi911 commented on #259
I'll check again, all my test failed when I removed it

[2013-06-12 14:56] agibralter commented on #259
Removed the whole method or the call to super?

On Wed, Jun 12, 2013 at 10:54 AM, rudi911 notifications@github.com
wrote:

[2013-06-12 15:02] rudi911 commented on #259
removing the call to super() gives a lot of errors, removing the initialize method completely makes everything green again. Thanks for your support.

[2013-06-12 15:02] #259 closed, assigned to nobody

[2013-06-12 15:07] agibralter commented on #259
@rudi911 cool, glad it worked!

Yeah, in general, with ActiveRecord you never want to override initialize unless you absolutely have to for some specific reason. Generally you want to use an after_initialize callback: http://guides.rubyonrails.org/active_record_validations_callbacks.html#after_initialize-and-after_find

[2013-06-13 13:54] kellym opened #261 "default_scope and :initial => :state"
A similar issue has been brought up in the past, but I was able to isolate it to another situation.

When a model has a default_scope that includes a state_machine state, that then becomes the forced default for the state_machine.

For example:

[code]

When initializing a new object, you'll see what I mean:

[code]

[2013-06-16 19:32] janetruluck commented on #260
Could you give a little more context? Using version 1.2.0 this looks to be working with ActiveRecord. Also, just to make sure, `human_name` is not actually a method but `human_state_name` is. Where `state` in that call is the name of the field you use in your DB/ namespaced state for example given:

[code]

your call would be something like:

[code]

 Could this be the issue?

[2013-06-16 19:46] janetruluck commented on #258
Having the state machine on a column that is of type boolean may be causing this issue if you are not setting the value for the state. Your column type should be of type string so the states can be expressed if not. The goal of the state machine is to avoid having to gather the state of your object through numerous boolean fields in the DB so you may want to reconsider that column if it affects th

[2013-06-16 20:49] devdazed commented on #260
No, I tried that, basically here is the issue.  In an ActiveRecord Model, I specify the following:

[code]

When I do `MyModel.new.human_send_status_name` is always comes back as `not sent`.

It seems to only be affecting ActiveRecord models as if I create a Dummy class model like you did in the example, everything seems to work.

[2013-06-16 22:38] janetruluck commented on #260
Ah I see, that is pretty different from what I thought you were asking : ).  I think the problem may be that the `self` context is not actually that of your parent instance but of the `state_machine` object. When testing a sample of your code locally this was the case and I actually received an error trying to use lambda as you state above since the initialization of the `State` class requires at

[2013-06-16 22:48] devdazed commented on #260
Even if I remove the lambda, and use a static string as in the case of `Rejected` it still doesn't work.
I was able to get the block to work as you have, however, using 4 extra lines for something simple makes it more difficult to read. Especially since this example is shortened from the actual one with about 10 different states.

[2013-06-18 03:12] PatrickMcSweeny commented on #258
Thanks for clearing that up. Maybe this could be stated more clearly in the documentation.

[2013-06-20 17:00] robotfelix commented on #212
I think @suung's suggestion would be very useful - although the implementation should return the state attribute back to its original value after the validations are run.

I don't really understand your counter arguments @obrie and @the8472: while it won't necessarily work as expected in complex scenarios, it will work in every situation that `valid?` will.

As a user I wouldn't expect this functi

[2013-06-20 17:22] suung commented on #212
sorry, I did not realize there are anwers.

This suggestion is not a fancy idea but something that

a) happens in practice
b) has to be worked around and
c) exists in several projects I know

I don't understand the argument 'validations are complex'. They are run by valid, they exist anyway, you expect them to work in the next state anyway and fail if not valid.

I might understand the argument 'h

[2013-06-20 23:56] the8472 commented on #212
If that's your issue... that's what the from states and the if/unless conditions are for. Those are things under the control of the state machine. Validations are part of the underlying model and the restrictions they impose cannot be anticipated by the state machine. Therefore the state machine does not know what `valid_in_state?` means.

Example:

[code]

How is `valid_in_state?(:b)` supposed to

[2013-06-21 00:51] edusantana opened #262 "Update README - too complex"
Hi, please don't understand this message as bad one. I didn't liked to read the README. Since there are others like me around, i wrote this.

---

This is a difficult example (Vehicle) to understand when you don't use English as your native language, too many uncommom words:

-tow
-ignite (this is easy, but not commom)
-around_transition do |vehicle, transition, block|
  What's the meanning of aro

[2013-06-21 12:30] robotfelix commented on #212
@the8472 I still think you're missing the point - which is to run validations. Your example does indeed show a situation where `valid_in_state?` doesn't tell us whether the model can transition to `:b`, but that's not what validations are for.

We can easily code up an example where `valid?` succeeds but `save` fails.

[code]

`valid?` will not always guarantee that an event will succeed, just as

[2013-06-21 21:55] the8472 commented on #212
But that information is useless, because the `before_transition` handler will change the `.foo` field.

If you only want to run validators for a different state then that is orthogonal to the state machine. It does not involve events, it does not involve transition-preconditions.

Just clone the object, set the state on it and validate. Or don't clone, set state, validate, reset state.

What you w

[2013-06-21 22:09] the8472 commented on #262
English is not my first language and I find those examples to be quite trivial. Not significantly more complex than usual Cat-is-subclass-of-Animal examples you find in OOP-programming courses for example.

My understanding is that the Vehicle is supposed to be an analogy for those familiar with the basic concept of a car, and those really are rather basic verbs, which usually are taught in school

[2013-06-25 00:47] smathieu opened #263 "Events can't share name with methods in the Kernel module"
I have the following class that defines an event named 'abort'.

[code]

When I try to fire the event, I get the following error:

[code]

This is likely because the abort method is defined in the Kernel module or ruby, and thus is available for any object.

I've made a fork of the repo and reproduced the failure in a unit test.

https://github.com/smathieu/state_machine/commit/af2c1ffe6b7eaceb6d6

[2013-06-25 01:01] the8472 commented on #263
You can probably work around this buy using the low level methods.

[code]

[2013-06-25 01:15] smathieu commented on #263
Probably, but that's an horrible hack :)

[2013-06-25 10:58] the8472 commented on #263
That's not a hack, it's just not using the instance helper methods, which are an abstraction over the one mentioned.

Alternatively you can remove/undef the method from your class before initializing the state machine.

[2013-06-25 22:27] trobrock opened #264 "use_transactions: false does not work on activerecord"
I have something like the following:

[code]

I have use_transactions false, because I want the state transitions to be persisted during the callback methods so I can give the client updates on the state of the object. But when I added the use_transactions: false at the top it seems they are still ran within a transaction. Am I misunderstanding what that option does?

[2013-06-27 20:43] edusantana commented on #262
Thanks, I will look at the link.

http://blog.envylabs.com/post/29045466981/the-rails-state-machine

[2013-06-27 20:43] #262 closed, assigned to nobody

[2013-07-03 10:07] zampino opened #265 "repeated "validate"-style validations across different states do not validate at all"
Here a minimal example to be run in irb.

If I **validate** with the same method across (at least) two different states
the validation isn't called.

[code]

Is this a known bug?
This does not happen if  I use **validates** style validations like

[code]

[2013-07-03 11:17] the8472 commented on #265
That's documented in the API: http://rdoc.info/github/pluginaweek/state_machine/master/StateMachine/Integrations/ActiveModel

[2013-07-04 05:27] skyshard commented on #191
+1

[2013-07-05 14:00] nigel-lowry opened #266 "State transition on timed event?"
(Since Github updated their UI I can't work out how to search the issues anymore so I apologise if this is a duplicate.)

Does this gem support firing a state transition in response to a certain instance of time passing? For example, if I had an auction which ends on Sunday night at 9pm, does this gem support changing the state of the auction from 'open' to 'closed' when the end time is reached?

[2013-07-08 17:04] hadees commented on #266
I would also like a feature like this.  I'm working on an e-commerce site and I'd like to have a prelaunch state that changes to launched when the product goes on sale.

The only way I could think of doing it with out using some sort of delayed job would be for state machine to be smart enough to switch the state retroactively the next time it is checked.  That seems like a poor option though.

Ma

[2013-07-09 01:19] sporto opened #267 "Generic guards"
At the moment I am doing something like this:

[code]

`:if => :can_transition?` is repeated in every transition declaration which make the code harder to maintain.

Maybe there is a way already that I don't know of but it would be really nice if there was a way of defining generic guards, instead of this repetition.

Similar to this request
https://groups.google.com/forum/#!searchin/pluginaweek-t

[2013-07-09 01:47] the8472 commented on #267
If you don't need the fluffy can_fulfill? etc. instance methods you could just write a `before_transition any => all` handler that returns false if the condition is not fulfilled.

[2013-07-09 02:21] sporto commented on #267
@the8472 thanks, but this doesn't seem to work, I tried returning false in a before_transition filter but the transition still happens. It seems like before_transition has no relevance to wherever the transition should proceed.

[2013-07-09 10:52] the8472 commented on #267
I thought returning false does work. But the documentation says `throw :halt`, so try that

[2013-07-09 10:55] the8472 commented on #267
Ah, it depends on the integration, default is the throw, but you can configure another one, such as the AR-integration does: http://rdoc.info/github/pluginaweek/state_machine/master/StateMachine/Callback:terminator

[2013-07-09 23:11] sporto commented on #267
@the8472, thanks `throw :halt` works. Still it would be nice to have something that works with the predicate methods, `.can_pay?`

[2013-07-10 00:31] plusplus opened #268 "Mongo Mapper master not compatible"
The master branch of mongo mapper isn't happy with the state_machine latest gem. I'm just putting this here to remind me to look at it later. I've raised an issue there as well.

This repo demonstrates the issue: https://github.com/jnunemaker/mongomapper/issues/531

The mongo mapper issue is here: https://github.com/jnunemaker/mongomapper/issues/531

[2013-07-10 00:43] cheald commented on #268
Hi there, I'm responsible for the changes in MM that have surfaced this. I think that _strictly_ speaking, this is a bug in state_machine that was exposed by recent changes to MM's internals.

In lib/state_machine/integrations/mongo_mapper.rb:

[code]

state_machine is doing its initialization before MongoMapper's `#initialize` gets to run. One of the things we're doing to improve performance is t

[2013-07-10 01:50] plusplus commented on #268
FWIW: I can work around this by converting:

[code]

to:

[code]

Which would suit me fine if it avoids slow downs in MM and/or nasty code and doesn't do BAD things to my business logic (to the tests!)

[2013-07-10 01:58] cheald commented on #268
I think that would be more correct since the state machine setup relies on
MM's internals, so it's only fair to let it do its setup first.

That being said, I've fixed the issue in a way that shouldn't be too awful
performance wise, so it's really just an abstract exercise at this point.
Master should be working without any more changes necessary.
On Jul 9, 2013 6:50 PM, "Julian Russell" notificat

[2013-07-11 20:05] jhuckabee opened #269 "Memory leak in #state_machine macro with anonymous classes"
I'm running into a memory leak issue with dynamic state machine definitions using anonymous classes. This is very similar to the [example in the readme](https://github.com/pluginaweek/state_machine#static--dynamic-definitions). I've created a [trivial example](https://gist.github.com/jhuckabee/5978668) that demonstrates the issue.

I've spent a few hours trying to narrow it down, but memory profil

[2013-07-12 14:39] jhuckabee commented on #269
I've boiled the problem down to the way helpers get dynamically defined on `Machine` objects in [`#define_helper`](https://github.com/pluginaweek/state_machine/blob/master/lib/state_machine/machine.rb#L754). [This gist](https://gist.github.com/jhuckabee/5981406) summarizes the issue.

[2013-07-12 19:46] xentek opened #270 "Mongoid (v3) field aliases keep state from being saved"
We defined our Mongoid field with an alias. Here is a simple example class to illustrate the issue:

[code]

The issue is exhibited when you have an instance of `MyMongoid` and try to call `publish!` on it. The status field is changed to `published`, but the model is not saved. If you try to save it manually (with `save` or `save!`), the status is changed back to `draft` when you reload or re-quer

[2013-07-15 14:12] akatz opened #271 "Cannot run events in parallel: set_non_paying"
It seems that if the conditional requirement for a state transition is false, the error message for fire_events! is misleading.

pry(main)> acc.fire_events!(:set_non_paying)
StateMachine::InvalidParallelTransition: Cannot run events in parallel: set_non_paying

pry(main)> z.set_non_paying!
StateMachine::InvalidTransition: Cannot transition status via :set_non_paying from :trial (Reason(s): Status

[2013-07-16 15:09] johnnaegle commented on #264
I also have this issue:

[code]

When I start this I did not expect this to be wrapped in a transaction:

[code]

I'd like to see this:

[code]

Am I also mis-understanding use_transactions?

[2013-07-16 15:18] johnnaegle commented on #264
I believe this is resolved by: #255

[2013-07-20 20:14] jhuckabee commented on #269
This memory leak is unavoidable without a significant overhaul of how dynamic methods get created on the state machine class. This is because `define_method` is used to generated methods dynamically on the state machine class. See the **caution** at the end of [this article](http://tenderlovemaking.com/2013/03/03/dynamic_method_definitions.html).

At a minimum, a comment should probably be added t

[2013-07-20 20:14] #269 closed, assigned to nobody

[2013-07-22 15:05] jmcnevin commented on #114
+1 the core problem stated in the title of the issue has not been resolved

[2013-07-22 19:04] the8472 commented on #114
It's in the API, see http://rdoc.info/github/pluginaweek/state_machine/master/StateMachine/Integrations/ActiveRecord.

Not _everything_ can go into the README - it's already way too long in my opinion. Otherwise there would be no need for an API. Especially considering that this is integration-specific.

[2013-07-29 09:17] awsmsrc commented on #251
I have this too! Its being caused on a machinist .make! call.
Happy to help with more info!

[2013-08-16 09:34] awsmsrc commented on #251
any update on this?

[2013-08-16 10:15] awsmsrc commented on #251
this is a quick fix, I haven't looked into this more deeply to check for more serious repercussions. With a bit if guidance form a maintainer i'm happy to work on this

[2013-08-27 04:16] nofxx opened #277 "before_transition works, after_transition fails on Rails 4/Mongoid"
Lost some time on this one... only here?
As 'fails' I mean wont run, tryed some raise() there and nothing happens.

[code]

Rails 4, Mongoid 4

[2013-08-27 09:23] ChristianPeters commented on #43
This is still an issue. I checked the README, the wiki, the API, found the `locale_path` method, started digging around, figuring out how the integration model works, read `/lib/state_machine/integrations/active_record/locale.rb`, guessed that there actually is some Rails i18n integration, googled for it and then landed here.

Please make that documentation easier to find.

[2013-08-27 13:46] mensfeld commented on #277
+1

[2013-08-29 23:44] DougPuchalski opened #278 "Need fallback method for methods defined in state context (DRY)"
It feels like a method defined in a state context should override a method defined outside of it, i.e. a normal instance method of a class.

If I define the instance method, the same-named methods in the state context are never reached. If I do not define the instance method, then there is an exception if the method is called when in any state where it is not defined. Certainly not very DRY for a

[2013-08-29 23:55] DougPuchalski commented on #278
Here's how I hacked my instance method definition to defer to context methods when available, required on a per-method/per-state basis unfortunately.

[code]

[2013-09-02 17:41] pechorin commented on #251
bump, same problem on `rails (4.1.0.beta)`

[2013-09-03 08:15] jugyo opened #279 "Weird warning "Both `model class` and its :state machine have defined a different default for "state"."
## How to reproduce

migration

[code]

model

[code]

rails console

[code]

I think `StateMachine::Machine#initial_state` method should ignore `nil` arg.
https://github.com/pluginaweek/state_machine/blob/master/lib/state_machine/machine.rb#L629

Thanks

[2013-09-04 12:39] aganov commented on #277
+1 Anyone got any idea how to quick fix this?

[2013-09-04 12:40] tagrudev commented on #277
+1

[2013-09-04 18:56] aganov commented on #277
Somehow this commit is breaking the `after_transition` callback https://github.com/mongoid/mongoid/commit/8c23304dcb56e3c2830f8e1f98b0ad01a7f8c3da

[2013-09-10 13:42] sheerun commented on #238
I get this error too. What's the solution?

[2013-09-11 12:35] nesrual commented on #251
bump - same problem here using Rails 4.1.0.beta

[code]

[2013-09-29 14:16] we4tech commented on #277
hi @aganov is it still pending pull request ? I just stucked with the same issue. after_transition doesn't fire up. Can we get it merged ?

[2013-10-03 14:47] SkyWriter opened #282 "Binding callbacks to object breaks ActiveRecord integration"
Happens something like this:

[code]

Looks like callbacks are mistakenly being called on `Vehicle` object rather than `StateMachine::Machine`.

[2013-10-09 19:45] johnrees commented on #261
Just ran into this issue too. Did you find a workaround?

[2013-10-12 07:01] Erol commented on #277
@aganov @pluginaweek Any chance that this will get merged soon?

[2013-10-17 20:55] tyre commented on #282
:+1:

[2013-10-18 00:53] devdazed opened #285 "Warning when using ActiveRecord and defaults are the same"
getting the warning

[code]

when setting values for the default as such

[code]

In this case the database default for the model is 0.  Upon further inspection, state machine is attempting to compare the string `my_state` with the model default of `0` rather than using the `value` specified for the state name.

[2013-10-20 06:28] stevecd opened #286 "No documentation on inheritance"
I haven't been able to find anything on inheritance.  How would one go about modifying/adding to inherited states and events?  Unless I should be able to infer this from current documentation, it might be worth adding, I've found at least two others asking the same question.

[2013-10-20 08:41] the8472 commented on #286
as soon as you call to the `state_machine`  class method in a subclass everything gets duped over to the subclass and you can re-open events, add new transitions etc.

Removing stuff is more difficult, but i think i've seen a reset method somewhere.

[2013-10-24 18:23] stevecd commented on #286
I see, thanks.  I guess that might be obvious enough.

[2013-10-24 18:23] #286 closed, assigned to nobody

[2013-11-17 17:27] markmilman opened #289 "After callbacks stopped working after upgrading to 1.2.0"
Hi,

My after callbacks are no longer executed after upgrading from 1.1.2 to 1.2.0.
I confirmed that by rolling back to 1.1.2:

Following is the state machine with the after callback any => :active

[code]

[2013-11-17 18:42] markmilman commented on #289
did some further analysis and it turns out that the issue occurs only when invoking the event using a web request and  update_attributes.
The other thing worth mentioning is that the state is changing successfully, but none of the after callbacks is  being  invoked

[2013-12-10 21:11] kylemacey commented on #277
+1

[2013-12-12 10:10] h0jeZvgoxFepBQ2C opened #292 "Inheritance not working as expected"
State Machines in inherited classes cannot be overriden in child classes.

See following example:

[code]

[2013-12-12 17:44] the8472 commented on #292
Your expectations are wrong in this case, not the gem.

Since any number of before and after transition handlers can be registered - nowhere does the documentation state that there is only one singleton handler which gets substituted in place.

You can modify the callbacks array of the machine, or use the :do => :method syntax and override the method instead of trying to replace a nameless proc.

[2013-12-14 11:49] wkrsz commented on #251
PR from @lukeroberts1990 fixes the problem for me (Rails HEAD)

[2013-12-19 17:02] dannguyen opened #294 "Implementing multiple state machines (in ActiveRecord) via a has_many relationship?"
I've browsed the documentation and some of the source and didn't see this directly addressed...but here's a hypothetical use case:

I have `People` and `Organizations`, and each `person` has a certain state with each `organization`. Let's pretend it's something like a vetting process, and you want to formalize the state of how each organization has vetted each person.

To simplify things, the vett

[2013-12-19 17:53] the8472 commented on #294
Correct. Use a `has_many :through` instead of a hbtm and you can easily put the state machine on the join model. No need for any special logic.

[2013-12-19 20:02] #294 closed, assigned to nobody

[2013-12-20 15:07] seuros opened #295 "NoMethodError: protected method `around_validation' in Rails 4.1.0.beta1"
[code]

The model has just statemachine

[code]

[2013-12-24 22:04] marclennox commented on #295
+1

[2013-12-24 22:12] seuros commented on #295
@marclennox , you can use my fork for now .

[2013-12-24 22:19] marclennox commented on #295
Awesome thanks!

On 24 December 2013 17:12, Abdelkader Boudih notifications@github.comwrote:

[2013-12-26 08:37] concept47 commented on #238
Just upgrade your version of default_value_for.
I was on 1.0.7, upgraded to 2.0.3 and the problems went away

[2013-12-26 20:55] jrust opened #296 "Undefined method `state`"
We are having an issue when a model (`User`) is occasionally failing to save because state_machine validations are being triggered for it even though the model does not define a state machine.  I've tried to find how it could be happening and am completely stumped since the state machine callbacks are only set up for objects with a state machine and so the lines that show in the backtrace should n

[2013-12-26 21:56] seuros commented on #296
Can you create another application with the issue  so we can test it?

[2013-12-26 22:02] jrust commented on #296
Yes I can try to do that while I'm working on trying to reproduce it.  Am I right in my assumption that the `around_save` method shouldn't even be in the backtrace of a class that does not have a state_machine defined?  I'm trying to make sure that I'm barking up the right tree in looking into state machine.  Thanks.

[2013-12-27 22:42] jrust commented on #296
Tracked it down!  Had some metaprogramming that was inadvertently adding a state_machine dynamically:

[code]

When that code was invoked it would add a state_machine to the auditable class, in this case User.  I don't know if it's intended behavior that you can dynamically add a state machine to any class via the `StateMachine::MacroMethods.state_machine` method.  If that is intended then nothing

[2013-12-28 05:13] the8472 commented on #296
instead of doing `model.auditable.class.state_machine(:state)` you can do

[code]

[2013-12-28 16:25] jrust commented on #296
Thabks, that's more reliable than the responds_to check I was using.

On Friday, December 27, 2013, the8472 wrote:

[2013-12-29 09:08] ichord opened #297 "break previous migration"
My Rails app is migrating to a new date structure, and there are some migrations have to be run together.

First, There is a `MyModel.find_by(name: 'NAME').update quantity: 1` execution in previous migration.
Then, i add state_machine to this model (MyModel) and set up an initialization: `state_machine initial: :active` . Then i run all the new migrations, and it raise there is no `state` column e

[2014-01-03 18:42] tobinharris opened #298 "Validations - valid? is true even though model.errors.count > 1"
I'm using ActiveRecord and validations in each state like this in my model

<pre>
state :draft do
end

state :placed do
  validates_presence_of :customer_name, :pickup_address
end
</pre>

These test fail, which is odd...

<pre>
test "should require minimal fields to be valid when placed" do
  # Try transitioning to a state that has 2 validations
  booking.place
  assert_equal 2, booking.errors.cou

[2014-01-05 07:42] the-teacher commented on #251
Wow wow wow! It's steel doesn't work ((
I can't migrate to rails  4.1.0.beta1

[2014-01-05 08:02] the-teacher commented on #251
config/initializers/state_machine_patch.rb

[code]

[2014-01-09 03:50] sid137 commented on #251
@the-teacher   Thanks!   works great

[2014-01-09 12:44] ka8725 opened #299 "DSL to test state_machine"
It would be great to have some DSL to test the defined state machine on the model. For example, in our project there is a custom matcher which allows to test the states like this:

[code]

If you are interested in this solution I'm ready to contribute this feature. Please, let me know. Thanks

[2014-01-09 13:16] the8472 commented on #299
it should be trivial to write a matcher for that. reflection is possible on the entire state machine. you can access available transitions via `class.state_machines[:machine_name].events[:event_name].branches`

Do note that fields != machines. as multiple machines can access the same attribute.

And wouldn't it be better to actually test the transition performing correctly, including side-effects

[2014-01-09 18:00] ka8725 commented on #299
Thanks for the tip, you are right about checking real states changes

[2014-01-09 18:00] #299 closed, assigned to nobody

[2014-01-12 20:40] jurikern commented on #251
It's not worked for me, because same error for :around_save protected method (rails 4.1.0.beta1).
Issue (config/initializers/state_machine_patch.rb):

[code]

[2014-01-12 21:34] sid137 commented on #251
@kerny I am on rails edge, and that seems to work

[2014-01-13 15:06] jurikern commented on #251
Seems like a after_transition not works for rails edge (ActiveRecord) to ...

[2014-01-15 16:24] thijsc commented on #277
Also ran into this bug, would be great to get a fix merged.

[2014-01-20 13:12] suung opened #300 "Make state machines customizable with modules / aka overridable"
It seems (to us here), that there is really no way to override / customize a state machine in order to for example remove a state and a transition.

I would not really want to open an issue, rather ask the question if there is an intended way, known tricks or what is the perspective on adding support.

I would now imagine, that adding things (states, transitions) will always work (right?) and remo

[2014-01-20 14:59] the8472 commented on #300
That's trivial. You can add new states, events, transitions, before/after handlers in a subclass. If you implement the event handlers as methods you can also use inheritance to extend/override their behavior.

That on the other hand is a thorny issue due to all the inter-dependence of the various elements in the state-machine

StateMachines essentially are single-inheritance. Or more specifically:

[2014-01-20 15:49] suung commented on #300
thanks,

I fully agree with you, in case i build the application.

In fact the problem we have here is in a spreecommerce environment. In a
newer version, than we use, the problem is probably solvable in a
different way.

The usecase:

Remove a certain state from the order model (deliver).

When i googled 'state_machine override remove state" or something like
this, i found nothing except exactly

[2014-01-21 10:44] the8472 commented on #300
Why remove a state? Shouldn't it be sufficient to make it unreachable through transitions? Personally i have extended transitions with a few custom configuration fields, one of them allows me to disable them/mark them for internal use only.

[2014-01-21 11:31] suung commented on #300
On 01/21/2014 11:44 AM, the8472 wrote:

This might be enough, yes, probably depends on if someone queries them.

How would that be done? Making unreachable in transitions?

[2014-01-21 11:40] the8472 commented on #300
Like i said, it's custom code to do that. Alternatively you can also remove the branches from an Event object pointing to that state:

https://github.com/pluginaweek/state_machine/blob/master/lib/state_machine/event.rb#L41

[2014-01-21 14:37] thijsc commented on #277
@aganov @pluginaweek Is there any way I can help getting this fixed?

[2014-01-21 15:15] aganov commented on #277
@thijsc https://github.com/aganov/state_machine/commit/88e45a1b1622d7748933bc941e7e9b08b3045a94

[2014-01-21 15:18] thijsc commented on #277
@aganov I've confirmed that that fix works, but the pull is probably not mergable yet since there's no test for the fix. I'd be happy to see if I can help with that?

[2014-01-27 14:04] pasitolonen opened #301 "Validation with Mongoid 4.0.0-alpha2"
My environment
- Ruby: 2.0.0-p353
- Rails: 4.0.2
- Mongoid: 4.0.0-alpha2
- state_machine: the latest

[code]

I just wrote a quick example, not copied the actual code so typos may apply, but the problem is as follows. I get a warning:

[code]

All the validations return false no matter if I set them ignore_method_conficts or not. Without state_machine, validations work as expected. Any ideas with

[2014-01-29 11:34] mattconnolly commented on #184
+1

[2014-02-01 00:43] hayesr commented on #295
I can confirm that moving `around_validation` out from under protected works in Rails 4.1 beta1. Also, tests pass for state_machine. (didn't run appraisals)

[2014-02-02 21:12] christhekeele opened #302 "Support for Rail 4.1.0(-beta) AR enums"
Does anyone know if state_machine plays well with the new [ActiveRecord `enum` feature](http://edgeapi.rubyonrails.org/classes/ActiveRecord/Enum.html)? I was considering upgrading my app sooner than I normally would for it, but I'd want to use it in conjunction with state_machine.

I don't see any reason why it couldn't be made work, since state_machine accepts integer state, but my concerns are:

[2014-02-09 01:19] amacneil commented on #251
+1

[2014-02-10 12:35] hjblok commented on #114
In your views you should use the `human_state_name`, this will return the localized state_name.

[code]

[2014-02-10 21:43] schaary commented on #251
+1

[2014-02-18 12:30] jmuheim commented on #289
Did you find any solution for this? We are having a similar problem here with the following transition:

[code]

I have re-created the very same state machine in an empty class, and there it works. So it has to be some side-effect by something else in the class, but it's a quite complex one and I couldn't find the answer yet.

[2014-02-18 12:31] jmuheim commented on #289
In our case, the rollback to statemachine v1.2.0 didn't solve the problem though, it seems to be the upgrade from Rails3.2 to Rails4.

[2014-02-18 14:57] jmuheim commented on #289
Maybe this is related? https://github.com/pluginaweek/state_machine/pull/280

[2014-02-19 16:36] nthj commented on #295
:+1:

If you'd like a quick hack, I threw this in my initializers:

[code]

[2014-02-19 16:38] seuros commented on #295
Why will you put this the initializer without checking manually that the version correct ?

[2014-02-19 16:40] nthj commented on #295
It's more for when `state_machine` fixes the problem upstream, I'll get a notice in my logs to remove the monkeypatch.

[2014-02-19 16:42] seuros commented on #295
I see :+1:

[2014-02-19 22:01] miry commented on #251
+1

[2014-02-20 08:38] cis-pjain opened #303 "TypeError Exception: can't convert Hash into String"
Hello All,

I am getting above error while trying to change my state.

My model is like as

class MyModel

  state_machine :status, initial: :waiting do
    event :processing do
      transition any => :proces
    end
    event :refused do
      transition any => :refus
    end
    event :processed do
      transition any => :process
    end

end

Please help me ASAP

[2014-02-24 14:24] momelnyk commented on #277
+1 for tests and merge

[2014-02-26 09:53] mibamur commented on #246
is solution ready?

[2014-02-27 15:54] jurikern commented on #251
Last time authored 10 months ago and 19 unresolved pull requests. Very sadly ...

[2014-03-04 13:08] michalorman commented on #261
+1 Got same issue.

Edit:

For me it looks like it is a Rails issue and not state_machine's. As I removed gem completely and have exactly same issue.

[2014-03-05 22:47] boutil opened #304 "Please do not use the 'gem' command in lib/state_machine/graph.rb"
Hi!

Could you please remove the require "rubygems"/ gem commands from the begining of lib/state_machine/graph.rb?
It is considered good practice to not assume in libraries that the dependencies are managed by rubygems (or by any other system). It is in particular not true if the libraries are packaged for a Linux distribution for example, and would make life easier for distribution packagers.
If

[2014-03-07 11:14] danmaz74 opened #305 "Saving in after_transition on AR: Bug or bad docs?"
The docs for ActiveRecord show this:

after_transition any => :parked do |vehicle, transition|
      vehicle.seatbelt = 'off'
    end

I would then expect that the new value for vehicle.seatbelt would be saved to the database. But this doesn't happen (state_machine v. 1.2, rails v. 3.2.15): the attribute is changed, but if I reload from the DB, it goes back to the old value.

On the contrary, the

[2014-03-07 11:29] seuros commented on #305
`vehicle.seatbelt = 'off'` => `vehicle.update_attribute(:seatbelt , 'off')` if you using activerecord.

The gem is for general use so it won't save the object

[2014-03-07 11:47] danmaz74 commented on #305
That's ok for me, but the docs should be updated then. They're very misleading now.

[2014-03-07 11:54] seuros commented on #305
The docs are not important for now. The whole gem is not maintained  and is incompatible with new version of rails or mongodb for example.

[2014-03-08 12:53] MSch commented on #295
[code]

works for me and is less hacky

[2014-03-08 13:25] marclennox commented on #295
Yeah I have a fork of state machine I'm using until the author fixes it.  I'll send you later—
Sent from Mailbox for iPhone

On Sat, Mar 8, 2014 at 7:53 AM, Martin Schürrer notifications@github.com
wrote:

[2014-03-08 16:18] marclennox commented on #295
Sorry ignore my last comment...  I'm using State Machine with 4.1rc1 using your recommend monkey patch and it's working great for me.

[2014-03-08 16:20] nthj commented on #295
Nice, I did not know about `public :method_name`

On March 8, 2014 at 10:18:18 AM CST, Marc Lennox notifications@github.com wrote:Sorry ignore my last comment... I'm using State Machine with 4.1rc1 using your recommend monkey patch and it's working great for me.  —Reply to this email directly or view it on GitHub.

[2014-03-14 13:31] thijsc commented on #277
If somebody creates a good pull request for this, will it get merged? Mongoid 4 release is getting pretty close and it would be good to have this in an official release.

cc @aganov @pluginaweek

[2014-03-26 12:22] edbo commented on #251
@obrie Would be a shame to see state machine go stale, I'm a big fan. Rails is now at v4.1.0rc2 which I reckon means we're pretty close to the release which will make this officially 'broken' soon.

I'm sure some people in the community would be happy to help with maintenance.

[2014-03-28 14:50] avgerin0s commented on #303
Can you please write your code in a MD code block?

[2014-04-01 22:04] epinault opened #306 "Issue with FactoryGirl"
I am using Rails 4.04, FactoryGirl 4.4.0, and ruby 2.1

The following does not work in my factories.

[code]

I get

[code]

Any idea?

[2014-04-01 22:14] epinault commented on #306
So I added the following in my test_helper and it does not break but still does not work properly

[code]

Does not seem that the states are being initialized correctly still

[code]

what am I missing?

Thanks

[2014-04-01 22:19] epinault commented on #306
Nevermind. Just found the note to note use symbol notation.... I had it in my test where the state
would be set to :done rather than "done"

[2014-04-01 22:19] #306 closed, assigned to nobody

[2014-04-04 19:12] jemc opened #307 "Optional Thread-safe Transitioning"
So, I realize that state_machine makes no claim to being thread-safe, and I realize that implementing thread-aware protections into state_machine is not a trivial task, especially if you wanted the feature to be comprehensive enough to actually start claiming to be thread-safe.  I also realize that such a feature could actually have a negative performance impact on those who are only accessing the

[2014-04-05 08:09] yudho commented on #277
I could reproduce the same behavior. Before transition is working, while after is not called. Really appreciate for the fix.

[2014-04-10 17:58] richpeck commented on #251
Same problem in 4.1.0 stable

[2014-04-10 20:35] patrickespake commented on #251
+1
Same problem in 4.1.0 stable.

[2014-04-11 21:46] cryo28 commented on #251
+1

[2014-04-12 15:52] MirkoMignini commented on #251
+1

[2014-04-13 10:18] saboyutaka commented on #251
+1

[2014-04-13 14:02] gucki commented on #295
Hm I wonder if this gem is still maintained? :-1:

[2014-04-14 15:06] klaut commented on #251
+1

[2014-04-14 15:28] marclennox commented on #295
I've been wondering the same thing.  Would be a shame if not, this is a
really good gem and much better than the alternatives.

On 13 April 2014 10:02, Corin Langosch notifications@github.com wrote:

[2014-04-16 13:47] nhoffmann commented on #251
+1

[2014-04-16 14:08] simonmd commented on #251
+1

[2014-04-17 10:08] simonmorley commented on #251
:+1:

[2014-04-17 10:10] awsmsrc commented on #251
guys just use AASM (Acts As State Machine), its a shame to see this one go but its had no activity for a while

[2014-04-22 02:54] cscairns opened #310 "Is this gem no longer maintained? EOM"

[2014-04-23 13:50] thijsc commented on #310
Very good question. I would love to help fix #277, if there was any indication that a maintainer would merge the fix if it would be good.

[2014-04-24 17:33] kule commented on #39
Just to add I'm having the same issue when using delayed_job - I can work around it just mentioning incase it's a recurrence that needs fixing...

[code]

[2014-04-25 03:23] cscairns commented on #310
someone should just fork it and take it over

[2014-04-25 11:14] gtd commented on #310
I hate to run roughshod over the original author, but I am considering doing just that.  My situation is I have a Rails 3.2 app using StateMachine in a mature component but I need it to continue to working as I upgrade to Rails 4, 4.1 and beyond.  The question is whether to fork this and fix the problems I'm already seeing, or whether to migrate to a different state machine gem.  There seems to be

[2014-04-25 11:20] hapiben commented on #251
+1

[2014-04-25 15:34] seuros commented on #310
I can take over this gem but i will have to drop support for old rubies < 1.9.3 . I also started rewriting the test to rspec.

You can use my fork for the ActiveRecord 4.1 issue.

[2014-04-25 15:40] simonmd commented on #310
Hope this is not another 'CanCan' situation.
+1

[2014-04-25 21:38] cscairns commented on #310
Likewise, this gem is a critical component of my app and it's holding-up my migration to Rails 4.  May have to rip it out unless it gets some life.

[2014-05-02 21:54] fredngo commented on #295
Yes, I still prefer this gem to the Active Record enums in Rails 4.1.
+1 here, will use the hack until there is an update.

[2014-05-06 14:42] waldofe commented on #310
Rails 4.1 here and still working well. Indeed, we need a fork on this..

[2014-05-09 19:29] jvanbaarsen commented on #251
@the-teacher Thanks for your comment, worked on rails 4.1!

[2014-05-12 02:45] miclovich commented on #251
any chance, we can fork this in its own "state-machine" organization, @pluginaweek is probably extremely busy... this is an awesome gem though.

[2014-05-12 09:41] firedev commented on #310
It works with 4.0 but in 4.1 tests explode. Didn't have time to look into it yet.

[2014-05-13 13:00] jeffrfinn commented on #310
this look like a really nice option and is highly recommended. Should I start using it or would I be better off looking somewhere else ? A failing build can't be a good sign ?

[2014-05-13 17:54] mothra commented on #310
+1. @obrie ?

[2014-05-13 20:55] mensfeld commented on #310
+1

[2014-05-14 10:04] nicolasblanco commented on #310
:+1:  i would love to have a fork of this gem being still maintained !

[2014-05-14 10:57] pchaganti commented on #310
:+1:

[2014-05-14 13:20] gtd commented on #310
Hey guys, I've reached out to Aaron, and he assures me that he is not abandoning the project, but just needed some time away for personal reasons.  Given the amazing work he has given us pretty much solo over several years, can I propose we give him some time and show our support by doing some testing and review on open PRs with +1s and "tested this in my app and it works, etc"?

[2014-05-17 20:22] dpickett commented on #251
I propose we create an official fork as this repository has become inactive. I've created a fork and organization here: https://github.com/pluginaweek-statemachine/state_machine

[2014-05-17 21:11] jvanbaarsen commented on #251
@dpickett Was the organisation name "state-machine" or "statemachine" already in use? Since thats a bit shorter :D Thanks for the initiative though!

[2014-05-17 23:19] dpickett commented on #251
Yeah unfortunately I had very limited options in that department. If anyone has a better idea I am happy to change it. I am also happy to add anyone as a collaborator that had a few changesets in this report, and I am willing to actively maintain this lib, as I use it pretty extensively. I personally loathe aasm so I would like to keep this alive.

[2014-05-18 10:43] jvanbaarsen commented on #251
@dpickett ah ok :-)

[2014-05-18 22:23] dpickett commented on #251
hey everyone! I was in touch with Aaron over the weekend to talk about Gem ownership and he was really quick to respond. He noted he needed a little personal time away from the library but he'll be jumping back into it. For more details, please refer to issue #310 - I've deleted my previously created organization and fork.

[2014-05-19 14:36] miclovich commented on #251
:+1:

[2014-05-21 17:13] jeremywadsack commented on #310
@gtd & @seuros can Aaron just add you as collaborators to keep things moving while he takes a break?

[2014-05-21 17:17] seuros commented on #310
Yeah , sure.

[2014-05-21 17:19] jeremywadsack commented on #305
Is this what you mean pluginaweek/state_machine#291?

[2014-05-21 20:19] gtd commented on #310
If he reaches out to me I'm happy to help, but I probably won't be able to churn through a lot of tickets as my day job is pretty demanding.

[2014-05-24 10:20] dongennl commented on #310
such a pity, I've had to switch to AASM

[2014-05-26 14:24] cscairns commented on #310
@dongennl how was the migration from this gem to AASM?

[2014-05-27 11:13] saurabhnanda commented on #295
Just ran into this issue. Has this been fixed?

[2014-05-27 16:01] dongennl commented on #310
@cscairns Hi, it was very easy, bit of find and replace really. The reason I switched to this one earlier was that it supports multiple state machines on one class, AASM doesn't, but I don't need that for my current project, and I need Rails 4.1 more!

[2014-05-28 19:18] cheshire137 commented on #251
Still an issue on Rails 4.1.1.

[2014-05-30 12:25] bobbus commented on #251
@dpickett , I would agree with @Dorian : there is no commit on this project since 1 year, this really looks like an abandoned project and it would probably prevent new user to choose this gem.

[2014-06-02 16:27] charliemaffitt commented on #295
Not that I know of. I'm using the hack still.

[2014-06-02 21:20] lunks commented on #310
In case anyone is his personal friend and/or has already contributed to the gem and would like to maintain it, please ask him for collaborator privileges.

[2014-06-03 15:35] nicolasblanco commented on #310
I would also look at https://github.com/peter-murach/finite_machine because it does not hook directly in ORMs and relies on pure Ruby, so it may not break when updating Rails or ORMs.

[2014-06-03 19:04] tanelsuurhans commented on #295
What's the holdup with this fix? Seems to be a rather straightforward issue,  no?

[2014-06-04 15:19] charliemaffitt commented on #295
I doubt the gem is actively maintained, folks. This looks like abandonware to me.

[2014-06-05 19:56] JohnSmall commented on #251
This is a showstopper in Rails 4.1.1.

Is anyone taking a look at it?

[2014-06-06 18:32] tylercollier commented on #251
+1

[2014-06-08 20:10] rusterholz commented on #310
+1 for @gtd and @seuros as collaborators.

@seuros: Does your fork still work on rails 4.1? Looks like it's been a while since you touched it.

[2014-06-08 20:27] seuros commented on #310
Yes it does. All patches are applied.

[2014-06-09 03:07] lucascaton commented on #251
+1

[2014-06-13 00:38] thejchap commented on #251
+1

[2014-06-13 04:44] DavidBennettPIO commented on #251
+1

[2014-06-14 07:41] Martin91 opened #314 "Build new object through an association doesn't trigger the state_machine's initial lambda"
Hey guys, I am using the latest version of `state_machine`. Today I found a problem that my state_machine doesn't trigger the state_machine's `:initial` lambda codes if I build objects through an association, but does if I use `Order.new`.

There are two models, `Creator` and `Order`, in my application, and there is a **has_many** association from a creator to many orders. The below shows the defi

[2014-06-16 19:57] jeppeliisberg commented on #251
+1

[2014-06-16 20:10] marcusg commented on #251
+1

[2014-06-17 13:19] mattherick commented on #251
+1

[2014-06-18 14:20] mhefferan commented on #251
+1

[2014-06-20 16:04] annapetry commented on #251
I was getting the "NoMethodError....blah blah blah...protected method :around_validation..."

The error was happening in this file:
/Users/[USERNAME]/.rvm/gems/ruby-2.1.1@global/gems/activerecord-4.1.0/lib/active_record/callbacks.rb

So I just went in there and made the following method public:

  def create_or_update #:nodoc:
      run_callbacks(:save) { super }
    end

Not sure that this is a g

[2014-06-21 00:01] kovpack commented on #295
I've got the same problem. Now I think of removing it from my gem list, however, gem is cool. That is sad :(

[2014-06-23 18:13] malditojavi commented on #251
I'm testing the fix suggested by @annapetry, but I have no idea where to include my edit and what to include. My issue is not in the active record, but in the active support folder, I have uploaded the file in this gist if anyone can help - https://gist.github.com/malditojavi/dca63c7308808cf77f91

The issue is returning in the log is:

NoMethodError - protected method `around_validation' called fo

[2014-06-23 18:17] seuros commented on #251
@malditojavi
Use my fork, if there is a problem there, i will fix it for you.

[2014-06-23 18:43] malditojavi commented on #251
@seuros Worked great along the fix from @the-teacher, thanks both

[2014-06-23 18:46] seuros commented on #251
I don't think you need the patch.

[2014-06-23 18:49] malditojavi commented on #251
True, @seuros I didn't tested it without it, but it works

[2014-06-25 12:21] melekes commented on #251
+1

[2014-06-25 14:58] mikepollitt commented on #39
I get the same issue. Here is the workaround I used:

https://gist.github.com/rwz/738734

[2014-06-25 15:05] kule commented on #39
Hey @mikepollitt

If you are having issues with DelayedJob - all you need to do remove handle_asynchronously and enqueue a worker instead e.g. using above example:

[code]

Then add a worker:

[code]

[2014-06-27 22:36] zdavis commented on #251
+1

[2014-06-29 12:52] harakhovich commented on #251
@seuros a huge thanks to you, hope author will fix it

[2014-06-29 13:23] bitboxer opened #316 "Plugin status?"
Hei @obrie , just want to know if this plugin is no longer maintained?

[2014-07-01 02:08] radar commented on #316
@bitboxer I have emailed @obrie several times about this and have received no replies. There's also a lot of issues that haven't been replied to, which leads me to thinking that this repo is no longer maintained. :cry:

[2014-07-01 20:43] bitboxer commented on #316
@radar I am now starting a fork here : https://github.com/automat-gem/automat  and will try to rename the gem and go through the pull requests here to cleanup the gem. Any help is welcome!

Let's restart this like the cancancan gem did for cancan :+1: !

[2014-07-01 21:03] seuros commented on #316
@bitboxer are you interested in joining this [project](https://github.com/state-machines/state_machines) instead ?

[2014-07-01 21:06] bitboxer commented on #316
Sorry @seuros , but I am not interested in a rewrite. There are tons of different state machine gems out there. That particular one only had one week of activity and than stopped. I am interested in maintaining the state_machine gem because I have a few bigger projects that rely on the unique feature set of it.

[2014-07-01 21:09] seuros commented on #316
@bitboxer it not a rewrite, it same with all the plugins extracted and with passing tests. anyway it ok!

[2014-07-01 21:11] bitboxer commented on #316
Than you should say so in the readme. It's not very polite to just grab the code and reuse it without acknowledgement in there. And it would also help people to understand what that gem is :wink: .

[2014-07-01 21:14] seuros commented on #316
It is in the code, the README was just a generic one as you can see. It still a WIP !

[2014-07-05 21:22] mooreniemi commented on #251
+1

[2014-07-06 18:39] thb commented on #251
+1

[2014-07-07 01:55] jufemaiz commented on #316
@radar any thoughts on what's a good alternative to work with?

[2014-07-07 01:56] radar commented on #316
@jufemaiz I like the look of the [workflow](https://github.com/geekq/workflow) gem.

[2014-07-07 01:59] jufemaiz commented on #316
@radar thanks for the speedy reply sir! Will look into it :)

[2014-07-09 08:48] rusikf commented on #295
problem is stil exists, fork from  seuros  helped

[2014-07-09 17:39] styledev commented on #295
It would be nice if the original developer would fix this one small issue...

[2014-07-11 04:17] creasty commented on #251
+1

[2014-07-13 11:38] vickodin commented on #295
@MSch :+1:

[2014-07-15 19:11] momer commented on #316
:+1: looks like I'll be using Workflow for a new project here. Good reco @radar

[2014-07-16 19:18] awhitty opened #318 "Creating records in after_failure callbacks with SQLite"
I've read over #122 and the commit referenced in the issue. Using a separate database connection on a model to create records that are not affected by the transaction rollback is definitely a nice workaround. However, SQLite does not support concurrent connections, so the second database connection hangs while the transaction is still pending and the transaction never gets committed because it's w

[2014-07-21 20:21] naserca commented on #251
+1

[2014-07-26 15:28] phlegx commented on #295
@MSch :+1:  super man...

[2014-07-28 21:56] andrewvc commented on #310
@obrie would you mind granting someone else, say @seuros gem publishing rights? I currently use his fork, as do many others, and it's very troublesome to have to depend on a non-rubygems source.

Increasing the bus factor can only be a good thing.

[2014-07-29 00:18] derrek commented on #251
+1

[2014-07-29 06:11] mikebaldry commented on #295
really this is still not fixed? Time for a new SM gem that is maintained?

[2014-07-29 10:44] alienatix commented on #295
+1, please fix this issue.

[2014-07-31 19:06] jaredbeck commented on #295
Thanks, @MSch.  That will tide my team over until we can switch to a fork or a different library.

[2014-07-31 19:08] seuros commented on #295
@jaredbeck , you can use my fork. It has all fixes and many people are using it.

[2014-07-31 19:08] jaredbeck commented on #295
Thanks, I'll check it out!

[2014-08-04 12:05] fabioperrella commented on #295
+1

[2014-08-08 08:39] Fire-Dragon-DoL commented on #298
Faced same issue, moved all validation outside of states using `if: -> { ... }` syntax

[2014-08-08 15:10] TomCawthorn commented on #251
+1

[2014-08-08 21:25] localredhead commented on #277
+1 please

[2014-08-11 15:15] the-teacher commented on #251
Hello!

Today I  decide - my gem TheComments will provide patch for StateMachine. I hope it will be helpful

https://github.com/the-teacher/the_comments/blob/master/lib/the_comments.rb#L24

[code]

Simple patch still actual for rails 4.1.X

You can use it for any project which use StateMachine

[code]

[2014-08-11 15:17] the-teacher commented on #295
https://github.com/pluginaweek/state_machine/issues/251

[2014-08-11 15:22] the-teacher commented on #251
https://github.com/the-teacher/the_comments/issues/27

[2014-08-19 00:33] arojoal commented on #251
+1

[2014-08-22 23:54] mrthan opened #320 "Easy one: API docs link is incorrect"
API docs currently links to http://rdoc.info/github/pluginaweek/state_machine/master/frames, that's now a 404.

It should be http://rdoc.info/github/pluginaweek/state_machine

[2014-08-26 20:21] johnnaegle commented on #314
It looks to me like this is no longer working for new in Rails 4.2

Rails 4.2:

[code]

Rails 4.0

[code]

Note that I didn't have the problem with building through an association, but I'm on a fork.

[2014-09-04 07:49] helmerj commented on #277
+1

[2014-09-04 18:44] nathanl commented on #13
If anyone stumbles across this issue, you might be interested in implicit state transitions: https://github.com/pluginaweek/state_machine#explicit-vs-implicit-event-transitions

[2014-09-04 20:46] marianpolek opened #321 "custom actions"
Hello,

i have a question about custom actions.
For example i have a few states , one of the states is 'summary' step/state. And there are fields , which can produce errors on page submit.
But how can be done custom action, which will redirect to another state , only if summary will get errors?
because i want to have two identical steps redirecting between selfs for example from summary to summary

[2014-09-05 16:10] chunkerchunker commented on #316
@radar, can you tell me if there are any plans to move spree off of state_machine?  (it seems that'd be a major change, so i assume not and that none of the state_machine issues are blocking forward dev?)

thanks-

[2014-09-07 00:01] jasdeepsingh commented on #251
Issue exists for Rails 4.2.0.beta1 too.

[2014-09-08 01:25] radar commented on #316
@chunkerchunker I can't speak for the current state of Spree, because I stopped working there a month ago. When I _was_ working there though there were no plans (immediate or otherwise) to move off `state_machine`. The `state_machine` gem works in all the situations that Spree requires it to work in _and_ Spree relies on it heavily for checkout flow customization.

Therefore there is no reason for

[2014-09-08 22:58] chunkerchunker commented on #316
@radar Thanks for the insight.  I didn't know you'd left spree.  I just took a look at your blog.. LIFX sounds like it'll be a lot of fun :)

[2014-09-09 10:40] lvl0nax commented on #251
+1

[2014-09-15 14:05] maokomioko commented on #251
Maybe instead of continuously stamping +1, we can create a community fork and finally keep on with the development?

[2014-09-15 14:07] awsmsrc commented on #251
we've been asked not to by a friend of @pluginaweek, i recommend using aasm in the meantime

[2014-09-19 17:57] yordis commented on #251
+1

Rails 4.1.4
Ruby 2.1.1

[2014-09-22 16:43] arnaudbouffard commented on #251
@the-teacher's comment with state_machine_patch.rb worked for me, thanks!
rails, '4.1.5'
ruby '2.1.1'

[2014-09-29 01:25] lucascaton commented on #251
+1

[2014-09-29 01:27] lucascaton commented on #251
@pluginaweek: any news on this one? Any change to bump the version with the fix?
Thanks.

[2014-10-02 05:59] mknapik commented on #302
I used `aasm` because it works with AR enum.
However, I like `state_machine` API more so it'd be nice to have this feature.

Is this feature in the roadmap?

[2014-10-06 00:23] djedynak commented on #251
Hi, can someone please explain how to install @the-teacher's patch?

[2014-10-06 01:23] gingermusketeer commented on #251
@djedynak I added a file `config/initializers/state_machine_patch.rb` to my rails app with the contents

[code]

If you put @the-teacher's patch into that file instead it should do the trick as well

[2014-10-07 01:38] incubus commented on #314
I've the same problem with Rails 4.2. Have you found a fix or a working fork?

[2014-10-08 10:45] Andrekra commented on #251
+1

[2014-10-20 03:45] leckylao commented on #295
@MSch :+1:

[2014-10-20 16:34] mhuggins commented on #251
+1 (cause my +1 is obviously going to make this happen compared to everyone else's :smile:)

[2014-10-20 16:45] nhoffmann commented on #251
Thank you @mhuggins for making it happen :stuck_out_tongue:

[2014-10-20 21:45] rusterholz commented on #310
It may be time to simply take @seuros' fork and publish it as a new gem...

[2014-10-20 22:12] seuros commented on #310
I need to fix little bug for AR 4.2 first, i will do that next week. sorry.

[2014-10-21 08:06] phlegx commented on #191
:+1:  Same problem using sidekiq and state_machine.

[2014-10-21 17:58] andrewvc commented on #310
@seuros Thank you for doing all this work, our team is greatly appreciative! Let me know when you publish a new gem, I'll be glad to blog/tweet about it.

[2014-10-27 23:02] smudge opened #327 "Assigning 'state_event' through nested attributes fails."
It seems that this project is mostly dead/stalled at this point, but I'm filing this issue for posterity's sake.

The bug is around the ability to fire off an event by assigninment, as follows:

[code]

Here's the repro setup (using a totally new rails 3.2.19 app):

[code]

[code]

[code]

[code]

Then, from console (or in your controller) run the following commands:

[code]

That last command sho

[2014-10-29 10:11] ivoanjo opened #328 "Documentation link on rubygems.org webpage is broken"
The documentation link on https://rubygems.org/gems/state_machine is pointing at http://www.rubydoc.info/github/pluginaweek/state_machine/master/frames when it should be pointing at http://www.rubydoc.info/gems/state_machine/frames.

Thanks! :)

[2014-11-08 01:06] chriswoodrich commented on #251
+1 for @djedynak 's fix

[2014-11-10 21:41] neutralino1 opened #330 "ordered states"
Hi all,

If the states of your machine represent successive states instead of independent states (e.g. `new` -> `pending` -> `ongoing` -> `completed`), it is useful to know if a particular state has been passed. For example, if you want to know if a state has passed the pending state, you need to check if it is either `ongoing` or `completed`. This is not really maintainable if you have 10 or so s

[2014-11-12 14:32] korun commented on #295
This problem is actual for Rails `4.1.1` too!

[2014-11-21 10:52] max-konin commented on #277
+1

[2014-11-22 07:25] gemtainers opened #331 "gt-state_machine and GemMaintainers"
Becouse of CanCan, StateMachine and others I deside to create OpenSource organization to maintain gems.

People disappear, lose their passion about coding, get new interests, families, children. But if us many we can support gems much longer.

I dont pretend to be an expierenced ruby developer, but I can do administarative work: managing teams, members, approve simple pool-requests.

If you think

[2014-11-22 07:26] gemtainers commented on #316
#331

[2014-11-22 07:27] gemtainers commented on #310
Have an idea about mainaining #331

[2014-11-22 07:27] gemtainers commented on #295
Have an idea about mainaining #331

[2014-11-22 07:27] gemtainers commented on #277
Have an idea about mainaining #331

[2014-11-24 14:16] rusterholz commented on #310
@seuros Do you know if Issue #314 is fixed on your branch?

And thanks again for your work. Let us know as soon as you republish this!

[2014-11-24 14:32] seuros commented on #310
AFAIK yes. if not, i will fix it.

[2014-11-26 15:11] warpc commented on #251
+1 for @the-teacher 's fix

[2014-12-03 09:13] PhilT commented on #330
I was looking for a way to do something similar too. Storing the states as numeric values in the database could be a way to do this. This would also allow you to order queries by progressive state. I saw someone mentioned it's possible to store states as enums in PostgreSQL using the Statesman gem.

I'm about to investigate this myself. However, I'm not too keen on the Statesman gem as a whole and

[2014-12-03 09:18] PhilT commented on #330
Maybe you could implement this in your model with something like:

[code]

And put the states in an array and do `states.index(self.state) > states.index(state)`

[2014-12-08 16:09] waldofe commented on #301
Looks like state machine does not support mongoid. As the warning says, Mongoid::Validatable also injects #validated? method on model scope.

[2014-12-14 00:39] carols10cents commented on #331
There's actually discussion among the rubygems team about a process for putting gems "up for adoption" that you might be interested in: http://www.benjaminfleischer.com/2014/08/17/rubygems-adoption-center/

[2014-12-14 01:06] huoxito commented on #331
hey I've started doing some work to support activerecord 4.2 because spree depends a lot on it. The code lives here for now https://github.com/huoxito/state_machine/tree/spree-rails4.2-upgrade and my current intention is drop everything non activerecord related and move it to spree-contrib organization with a new name. Will inform here once thats done in case anyone else wants to help.

[2014-12-22 09:07] jesperronn commented on #310
@seuros I tried your master branch, and https://github.com/pluginaweek/state_machine/issues/314 still exist.

I still get uninitialized `state` on the model.new

[2014-12-22 13:28] kalashnikovisme opened #334 "Initial state doesn't work in Rails 4.2"
Hi, I have problem with initial state in new Rails 4.2

[code]

[code]

Any ideas?

[2014-12-22 13:42] kalashnikovisme commented on #334
I've solved problem by adding default value for `state` column, but it's not good.

[code]

[code]

[2014-12-25 09:50] SaKKo commented on #334
I got the same problem too, i'm using this (for now)
(in your model where :draft is initial)

[code]

[2014-12-27 04:13] aripollak commented on #334
This monkey patch seems to work as an initializer, based on #335. But given that this gem seems unmaintained, I'm going to be looking for another alternative.

[code]

[2014-12-28 13:53] SaimonL commented on #334
State machine works fine in Rails 4.1.8. When I run my seed file "rake db:drop:all db:create db:migrate db:seed --trace" in rails 4.2 is get this error:

<pre>
ActiveRecord::RecordInvalid: Validation failed: State is invalid
/home/saimon/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/activerecord-4.2.0/lib/active_record/validations.rb:79:in `raise_record_invalid'
/home/saimon/.rbenv/versions/2.1.5

[2014-12-31 10:13] nfedyashev commented on #334
@SaKKo @kalashnikovisme thanks for posting workarounds!

[2015-01-03 02:53] anark commented on #191
+1

[2015-01-03 14:50] JohnSmall commented on #295
Mm, I've been using the forked version (seuros above) for sometime in 4.1.x and it's working fine. In 4.2 it fails utterly. I'm trying to look into now as I have a project to finish soon. But I think my work around will be to maintain state myself until I get a chance to dive into it.

[2015-01-06 15:38] Soleone commented on #314
running into this as well, hopefully this can be fixed and the gem maintained again at some point

[2015-01-09 07:28] xinuc commented on #334
confirmed this issue.

[2015-01-09 09:06] d0minicw0ng commented on #334
+1

[2015-01-10 17:48] Mehonoshin commented on #334
If the gem is not maintained anymore, maybe someone wants to maintain its fork?

[2015-01-11 13:14] nfedyashev commented on #334
@Mehonoshin https://github.com/pluginaweek/state_machine/issues/310

[2015-01-13 01:00] kernelzin commented on #295
Guys take a look
https://github.com/gocardless/statesman

[2015-01-15 20:31] JDutil commented on #310
The Spree project relies heavily on state_machine, and we are going to release our own fork for now:
https://github.com/spree-contrib/state_machine

We don't really have time to manage a canonical fork of this project, but if no one else is going to we're going to maintain a much smaller version for Rails 4.2+.  We also only currently require ActiveModel/ActiveRecord support so we may drop the oth

[2015-01-15 20:34] JDutil commented on #310
@seuros if you haven't already are you planning to do a stable gem release?

[2015-01-15 20:37] alouanemed commented on #310
Did you see this work : https://github.com/state-machines/ ? I'm using the activemodel integration in a personal project without any issue ! :)

[2015-01-15 20:40] JDutil commented on #310
Oh nice no I hadn't @alouanemed will have to try that out.

[2015-01-15 20:46] jeremywadsack commented on #310
We had switched to https://github.com/aasm/aasm, but that looks a little more compatible.

[2015-01-15 20:50] alouanemed commented on #310
:+1:

[2015-01-15 20:53] JDutil commented on #310
No stable gem release to depend on...  Looks like it would work if I didn't have to point to the git repo.

[2015-01-15 21:00] seuros commented on #310
@JDutil , i can release an alpha, there are still few bugs with AR42 integration and internalization.

[2015-01-15 21:58] JDutil commented on #310
@seuros that would be good after incorporating some of the fixes we needed:
https://github.com/pluginaweek/state_machine/pull/333

[2015-01-15 22:44] seuros commented on #310
@JDutil , #333 break most of the test suite and remove features.

[2015-01-15 23:13] JDutil commented on #310
Hmm might have been other commits not in there:
https://github.com/spree-contrib/state_machine/commit/d7b298e155e6e6023096105694a57891ae0cdd3c
https://github.com/spree-contrib/state_machine/commit/8a08e9e75162d13218be382bbae36019e3d7cd50
https://github.com/spree-contrib/state_machine/commit/1c31e969e740dab53f3d6b8a91ebf4c8fb8472fb

We did start removing features we don't need for Spree, but would

[2015-01-17 00:17] davidcpell commented on #295
getting this problem on Rails 4.2, looks like @seuros' fork now works for that! thanks @seuros! any plans to take over maintenance of the gem?

[2015-01-17 07:43] seuros commented on #295
@davidcpell : https://github.com/state-machines/state_machines-activerecord, there is just 1 small bug in 4.2. (initial state is not persisted, but can be worked around by either setting the default in the column or having a before_create callback)

[2015-01-21 20:40] seuros commented on #295
@JohnSmall unless you are using Mongoid or another integrations, can you check if SM-AR works for you ?

[2015-01-29 14:03] jacek213 commented on #251
+1

[2015-01-30 18:29] kakoni commented on #310
So theres state-machines/state_machines-activerecord and spree-contrib/state_machine now.
Where to go to?

[2015-01-30 18:56] JDutil commented on #310
spree-contrib/state_machine is going away we will be using state-machines/state_machines-activerecord

[2015-02-04 18:50] #295 closed, assigned to nobody

[2015-02-07 14:04] pragmaticivan opened #337 "Who is maintaining this gem?"
Hey, Who is maintaining this gem? Seems it's abandoned by the owner? Is that secure to use? Someone is interested on take care about the gem? review the current PRs, etc... ?

[2015-02-11 07:30] advantgroup commented on #334
@SaimonL +1
Exactly the same problem. Find a fix?

[2015-02-13 13:37] espen commented on #337
See https://github.com/pluginaweek/state_machine/issues/310

[2015-02-17 04:25] lucascaton commented on #334
@pluginaweek any news on this? Thanks.

[2015-02-17 17:29] rusterholz commented on #337
If you need a fork that is tested against Rails 4.2, use the one maintained by @seuros.

[2015-02-17 17:30] rusterholz commented on #334
Guys, @seuros maintains a fork of this which does not exhibit this issue when used with Rails 4.2. See discussion here: https://github.com/pluginaweek/state_machine/issues/310

[2015-02-17 19:15] pragmaticivan commented on #337
Little weird... Why not those awesome developers create a organization and use the same repository? I think they have a lot of forks... lol..

[2015-02-17 20:53] davidcpell commented on #337
I've been using @seuros' fork for a while now

[2015-02-17 21:03] davidcpell opened #338 "State doesn't persist on duplicated object after reloading"
I'm finding that duplicated ActiveRecord objects are ending up with a `state` of `nil` after being saved and reloaded.

[code]

<pre><code>
# job_duplicator.rb
class JobDuplicator
  def self.duplicate(job)
    new_job = job.dup
    new_job.assign_attributes(
        state: "posted",
        discount_code_id: nil,
        credit_applied: 0
        )
    new_job
  end
end
</code></pre>

[code]

The

[2015-02-17 21:35] ghost commented on #337
@davidcpell, @pragmaticivan
It better to use the `state-machines` gems family : https://github.com/state-machines

[2015-02-17 22:16] pragmaticivan commented on #337
@aferiat :+1: thanks, I'm gonna take a look, looks like more "organized"

[2015-02-18 04:12] pragmaticivan commented on #337
Question: @aferiat is that based on the current code of state_machine? Do you know? I have interest to learn more and contribute to the code.

[2015-02-18 08:17] seuros commented on #337
@pragmaticivan: yes, same api. The changes are listed in the changelog.

[2015-02-18 21:16] seuros commented on #338
@davidcpell could you try with `state-machines-activerecord` ? we fixed some bugs there.

[2015-02-19 14:47] davidcpell commented on #338
@seuros sure!

[2015-02-19 16:25] davidcpell commented on #338
thanks @seuros, `state-machines-activerecord` is not exhibiting the problem!

[2015-02-19 16:25] #338 closed, assigned to nobody

[2015-02-19 16:26] neumachen opened #339 "state_machine_rspec"
So I want to contribute to that gem by adding a trigger_event function and was wondering if there's a built in way for gem for this?

Because right now, I can validate it to have events and what transitions it does but I want to make a test when triggering an even is allowed or not.

I know it sounds redundant when I have the have_events function already but requirement needs me to test for trigge

[2015-02-19 16:32] seuros commented on #339
`#fire_event`

[2015-02-23 01:36] neumachen commented on #339
Thanks.

[2015-02-23 01:36] #339 closed, assigned to nobody

[2015-02-23 01:38] neumachen commented on #310
@seuros I can help maintain this if you want. I want to build on top of the rspec for this. Let me know if there's anything I can do for you.

[2015-02-26 20:01] SaimonL commented on #334
The solution is you have to set default state in the database level.
so the migration file will look like this:

[code]

Having the state nil will cause error. Don't know about the updated versions.

[2015-03-17 06:17] akashsethiya commented on #337
@aferiat - which gem are you talking about in the state-machine family

[2015-03-17 14:21] davidcpell commented on #337
@akashsethiya it depends on your app. Get state_machines-activemodel if you have a standard Rails app or state_machines-mongoid if you use MongoDB

[2015-03-17 17:49] seuros commented on #337
state_machines-activerecord will be better choice for a Rails app. You can also use both.

[2015-03-20 07:33] bublik opened #340 "StandardError: GraphViz not installed or dot not in PATH. Install GraphViz or use the 'path' option"
rails 4.2

Gemfile
gem 'state_machine'
gem 'ruby-graphviz', '1.2.1', :require => 'graphviz'

bundle exec rake state_machine:draw FILE=house_contact.rb CLASS=UserHouse PATH=./doc/
bundle exec rake state_machine:draw FILE=house_contact.rb CLASS=UserHouse

and result
Files are automatically loaded in Rails; ignoring FILE option
/Users/ruslanvoloshin/.rvm/gems/ruby-2.2.0/bin/rake: No such file or dire

[2015-03-20 15:09] seuros commented on #340
The error is clear : GraphViz not installed.  Install GraphViz.

[2015-03-21 18:59] jakehockey10 commented on #334
This worked for me in development, but not in production on Heroku.

[2015-03-21 19:02] seuros commented on #334
Guys, just use state_machines-activerecord.

[2015-03-23 00:44] kalashnikovisme commented on #334
I use https://github.com/seuros/state_machine with Rails 4.2

everything work now

[2015-03-23 07:34] seuros commented on #334
@kalashnikovisme https://github.com/state-machines/state_machines-activerecord

[2015-04-03 09:37] bobzhen commented on #114
great thank you!!!

[2015-04-07 07:11] #297 closed, assigned to nobody

[2015-04-10 14:24] rackson opened #341 "protected method `around_validation' called"
protected method `around_validation' called for #StateMachine::Machine:0x007fef9c9e3f20 errors
when the instance @topic.adopt

[2015-04-10 14:28] seuros commented on #341
Please use https://github.com/state-machines

[2015-04-12 16:57] keiththecomputerguy commented on #251
Thank you @the-teacher for the fix

[2015-04-12 17:15] nhoffmann commented on #251
If it has not come to your attention yet, there is a maintained fork of this project by @seuros,
which is probably a better solution than to monkeypatch this abandoned project.

https://github.com/state-machines/state_machines

[2015-04-13 19:56] keiththecomputerguy commented on #251
Thank You!

[2015-04-17 13:13] thatandyrose commented on #251
thank you @seuros and @nhoffmann, just saved my bacon! :-)

[2015-04-20 19:12] sdbondi commented on #307
This has got me wondering if some _weird_ problems I'm having is with the lack of thread safety in state machine. Currently I'm running it in production with Rails 4 (i.e thread_safe!). :fearful:

[2015-04-20 19:24] jemc commented on #307
@sdbondi - yeah, this gem is most certainly _not_ thread safe :wink:.  I ended up using other gems, though, so I don't care much about this issue ticket anymore.

[2015-04-20 19:25] #307 closed, assigned to nobody

[2015-04-21 07:33] sdbondi commented on #307
@jemc Are you using your hegemon gem?

[2015-04-21 21:14] jemc commented on #307
Actually, in the end I ended up using [micromachine](https://rubygems.org/gems/micromachine) and a `Mutex`. :wink:

[2015-04-22 07:24] sdbondi commented on #307
@jemc Thanks :+1: The state changes currently occur in my multi threaded workers so I've put a class level Mutex around the operations and added some more processes - which should at least get me though the transition to another solution.

[2015-04-22 10:33] shlima commented on #334
+1

[2015-04-27 09:53] khaleksa commented on #334
+1

[2015-05-04 14:29] mkonikowski commented on #334
+1

[2015-05-06 07:23] styx commented on #334
@mkonikowski @shlima @khaleksa
This repo is not supported. Development moved to:
https://github.com/state-machines/state_machines-activerecord

[2015-05-06 07:27] styx opened #343 "!!! THIS GEM IS NOT SUPPORTED CURRENTLY (see details inside) !!!"
Currently, this repo is abandoned. There is a fork located at https://github.com/state-machines/state_machines which is supported. Also take a look at https://github.com/state-machines/ to see the list of available alternative statemachine realizations. Please don't file bugs here. File them at https://github.com/state-machines/state_machines/issues

[2015-05-07 08:17] mkonikowski commented on #334
@styx I've discovered it already, but forgot to comment here... Maybe in the Readme you could add info that this repo is not maintained anymore and put a link to `state_machines-activerecord` as the most recent one?

[2015-05-07 09:10] seuros commented on #334
@mkonikowski  Nobody has access to this repo anymore. That why we have the other one :)

[2015-05-09 04:09] andrii commented on #251
+1

[2015-05-12 11:38] WillTaylor22 commented on #251
+1

[2015-05-13 16:07] scrooloose commented on #334
@seuros - thanks, I am now using state_machines-activerecord

[2015-05-25 13:00] mgrachev commented on #191
:+1:

[2015-06-19 07:29] jerome2 commented on #251
@keithgordon :
that i would like to do, but the fact is that i not see how to install and use this state_machines instead of the state_machine from rails-4.2.
The documentation is really big and full of data (to much maybe in one time ?) and then it's confused for me (i'm not an expert of rails too...).
Could you please be more explicit about "how to not use monkypatch (but really helpfull and sim

[2015-06-19 07:39] ghost commented on #251
@the-teacher :
thanks for your patch. It was really simple to apply and offer a real solution in case of use your (really good) gems files.

[2015-06-19 18:33] rosskevin commented on #343
@styx Please edit your link to https://github.com/state-machines/state_machines

Thank you for the notice, but we are getting traffic and questions in the sub-project for activerecord :)

[2015-06-20 07:05] styx commented on #343
@rosskevin thnx, done.

[2015-06-30 17:46] kelso commented on #343
Thanks for info and link! I found one failing test while upgrading Rails 4.0 to 4.1. Oh, tests are so important. Quick tip for others: Just change `gem 'state_machine'` to `gem 'state_machines'`. Nice :sunglasses:

[2015-10-07 09:10] mvleo-github commented on #277
+1

[2015-10-07 09:25] aganov commented on #277
This repository isn't supported anymore... Consider using https://github.com/state-machines/state_machines-mongoid instead

[2015-10-07 09:28] mensfeld commented on #277
@aganov then maybe you should mark it in readme as open for adoption

[2015-10-07 10:07] nofxx commented on #277
Thanks @aganov. Also, another option is 'AASM'.

[2015-10-07 10:07] #277 closed, assigned to nobody

[2015-10-07 10:57] aganov commented on #277
@mensfeld I'm not the author of this gem, latest commit is from May 7, 2013
@nofxx yes AASM is good too, but `state-machines/state_machines-mongoid` is a drop in replacement...

[2015-10-07 11:00] mensfeld commented on #277
@aganov  true - sorry
@obrie  - my question is for you then I assume

[2015-10-14 20:33] detournemint commented on #258
Seems like this could be closed.

[2015-10-23 15:15] catmando commented on #251
word to the wise, while its great that somebody is supporting state_machine, it is not 100% the same behavior as the old state_machine gem... I suspect there were bugs in the old version that have been fixed.  At any rate, you might find during the upgrade the quickest fix is the monkey patch.

[2015-10-27 22:05] klebervirgilio commented on #334
+1

[2015-11-04 14:59] akonan commented on #251
+1

[2015-11-08 22:25] dosire commented on #334
MR with fix https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/1764

[2016-01-29 11:14] ankurpohekar opened #347 "Argument error for state machine"
I am having this error for state_machine, version 1.2.0

ArgumentError - wrong number of arguments (4 for 0..2): () home/doboz/.rvm/gems/ruby-2.2.3/bundler/gems/state_machine-181f758a5069/lib/state_machine/integrations/active_record.rb:478:in `initialize'  activerecord (4.2.5.1) lib/active_record/inheritance.rb:61:in`new'

[2016-02-16 12:38] diaclavijo commented on #343
Maybe someone could write a more clearer message in the Readme that the project has been abandoned?

[2016-02-17 12:36] styx commented on #347
@ankurpohekar seriously? Take a look at #343

[2016-02-17 12:38] styx commented on #343
@diaclavijo good idea, but if that was possible it would be done already.

[2016-02-18 09:52] sachin commented on #191
Thanks it works perfectly

[2016-02-29 01:56] kaiomagalhaes opened #348 "protected method `around_validation' ERROR"
While using the gem with rails 4.2 I have faced the following issue:

[code]

To fix this I have to add a monkey patch.
I added the following code inside config/initializers/state_machine_patch.rb

[code]

There is any best way to fix it?

[2016-02-29 02:11] twalpole commented on #348
This gem isn't supported anymore - check out the fork at https://github.com/state-machines/state_machines to see if it'll work for you

[2016-02-29 02:14] kaiomagalhaes commented on #348
@twalpole Thanks for the information. The bad thing is that with this fork it shows up another error

[code]

[2016-04-07 19:33] cawel commented on #305
@seuros Stating that the "docs are not important for now" is a rather bold statement, considering the fact that this project has been starred more than 3000 times (i.e. lots of people are using this gem) and that the readme (wrongly) states that this gem supports the latest version of rails. Indeed, quoting the readme:

I'm currently on a project using this `state_machine` gem and I am having issu

[2016-04-27 18:26] sennor commented on #251
+1

[2016-06-04 13:02] rvsingh commented on #251
+1

[2016-09-13 12:09] gauravk13 commented on #109
thanks @obrie
helps a lot

[2016-09-29 22:15] chrisdtaylor opened #351 "Machine class yardoc page gives error: Invalid namespace object: StateMachine::Machine#owner_class"
http://www.rubydoc.info/github/pluginaweek/state_machine/StateMachine/Machine

Load that page and you get:

Invalid namespace object: StateMachine::Machine#owner_class
/home/app/rubydoc.info/vendor/bundle/ruby/2.3.0/bundler/gems/yard-08c3a8309296/lib/yard/code_objects/proxy.rb:58:in `initialize'
/home/app/rubydoc.info/vendor/bundle/ruby/2.3.0/bundler/gems/yard-08c3a8309296/lib/yard/registry_resolv

[2017-03-13 17:49] davidpatters0n opened #352 "Abort transition using around_transition"
Is it possible to abort/halt a transition whilst inside a `around_transition`. The example I have here is:

[code]

Is returning `false` sufficient. According to the readme and the rubydoc there is no mention of this:

http://www.rubydoc.info/github/pluginaweek/state_machine/StateMachine%2FMachine%3Aaround_transition

[2017-03-27 04:05] anklos commented on #348
thanks for the patch. just met the same issue.

this is a very useful gem, would be sad to see it left unmaintained.

[2017-05-03 14:13] droupou commented on #251
Thanks @the-teacher, and @gingermusketeer!

[2017-05-12 21:57] lane-flexe opened #353 "after_transition's and before_transition's `do` only executes a single method or first array entry"
If you want to call multiple methods before or after a transaction and specify an array as a key for the `do:` entry, for example...
[code]
...`foo` will be executed, but `bar` will not. This does not seem to be th case with an array passed to  the `on:` entry, for example...
[code]
...foo will be called in both cases.

[2017-05-12 21:59] lane-flexe commented on #353
Wrong repo, sorry!

[2017-05-12 21:59] #353 closed, assigned to nobody

[2017-06-06 07:59] Aryk opened #354 "Latest Sequel version triggers deprecation warnings in state_machine"
[code]

Will you guys accept a PR to fix this issue?

[2017-06-08 09:36] sriedel commented on #310
So a few years down the line... @seuros: I see your fork seems to be the most current of all the forks. Can you consider releasing a stable gem version of your own and integrating the pull requests that are around here, or is everyones consensus that state-machines/state_machines-activerecord is the way to go?

I've inherited an ancient code base that uses state_machine a lot, and currently points

[2017-06-08 09:47] seuros commented on #310
@sriedel Unless you are monkeypatching the old gem. Switching to the new one should be just a Gemfile modification.
Remember that the new gem don't include the integrations by default.

[2017-06-08 10:03] espen commented on #310
@sriedel I'm suspecting you are looking at the forked and outdated https://github.com/seuros/state_machine? If so then have a look at https://github.com/state-machines/state_machines which is recent, stable and released as a gem thanks to @seuros. While it has been split up to several gems it's pretty much just needs a Gemfile change IIRC.

[2017-09-21 11:01] tonyvince opened #356 "How to specify conditional state changes using dynamic state definitions"
I had a previous state machine like the following

[code]
as you can see 2 of the state changes are dependent on `line_item_details_complete?` and `attachment?`

Now I am trying to implement the same state machine using dynamic state definitions

[code]

Now how do I use the same conditional state changes based on `line_item_details_complete?` and `attachment?` in the second approach? Thank you

[2018-01-22 05:33] KelseyDH commented on #343
Would be really nice for the maintainer of this repo to redirect people over to the new gem.  Ruby toolbox still points here.

[2018-04-20 02:29] kevinnio opened #357 "Is it possible to add a callback to an event after the fact?"
Let's say we have a properly defined state machine that operates on the attribute `state` of a Rails model. Is there a way to add a new callback like `after_transition to: :some_state, do: :my_callback` but from outside the class and without modifying the original state machine definition?

[2018-04-24 01:32] AndrewRayCode commented on #351
ping @obrie

[2018-07-31 13:17] MichaelA59 opened #358 "Error: Different defined default values"
I get the following error in my console.

[code]

It's showing up all the time and I don't know why. As you can see below, the default value for this attribute is identical to where the state machine begins, so I don't understand the meaning of this error. I would like to find a way to get rid of it, or if something is truly incorrect here, fix it.

From the Schema for `coaches` table
[code]
From

[2018-08-08 21:31] AndrewRayCode opened #359 "https://www.rubydoc.info/github/pluginaweek/state_machine/master/StateMachine/Machine#on-instance_method"
https://www.rubydoc.info/github/pluginaweek/state_machine/master/StateMachine/Machine#on-instance_method

[2018-08-10 15:43] #258 closed, assigned to nobody

[2018-10-17 19:57] bidva opened #360 "State already defined"
I have a model which contains 3 different state columns (state, background_check_status,permit_status)
background_check_status,permit_status has defined the same states (Submitted, Rejected, Accepted, Pending) now on running my tests I get this warning
[code]
how can I turn this off?

[2018-10-17 19:59] bidva commented on #358
I had the same issue as you and I made the column to be nullable and that fixed the issue

[2018-10-29 16:51] bidva commented on #360
Sorry to bug @obrie, Do you have any Idea about this warning message?

[2018-11-01 15:00] rocket-turtle commented on #360
Have you defined a `namespace` on your `permit_status` state_machine?

[2018-11-02 20:50] bidva commented on #360
@rocket-turtle no, I didn't. Basically, in my model, I have a couple of fields have stated and all are in the same class model.

[2018-11-30 01:19] gamesover opened #362 "How to get list of event eligible events?"
[code]
I want to get the list of eligible states, such as
`MyClass.state_machine.events[:stop][:from]`, get result of `[0]`

[2018-12-04 08:19] rocket-turtle commented on #362
I don't know if that is possible.

`MyClass.state_machine.events[:stop].branches.flat_map(&:state_requirements).flat_map { |sr| sr[:from].description }.uniq`
Something like this could help but there is a Problem mit `StateMachines::BlacklistMatcher`s

[2019-05-13 11:22] #356 closed, assigned to nobody

[2019-06-28 23:13] agbodike commented on #362
FYI: This gem is abandoned, it has been forked at: https://github.com/state-machines/state_machines

[2019-10-10 16:19] #357 closed, assigned to nobody

[2020-09-12 09:01] bsa7 commented on #67
When i add observer for models:
[code]
then
[code]
and `after_transition` callback for `User::Regular` was called twice.
When i remove the `User` from observable models - callback become to once calling per event.

[2021-02-09 00:50] yovasx2 commented on #340
You need to install graphviz in your OS, for debian:
[code]

[2021-08-09 20:44] joshuapinter commented on #168
It is indeed already supported. For the sake of others landing here, here's what a simple example looks like:

[code]

And then you would call it like this:

[code]

Not super elegant or explicit but very flexible and powerful. Righteous.

[2021-09-20 12:13] kreintjes opened #363 "FrozenError when calling `.new` on STI model with state_machine in Rails 6.1"
Calling `.new` on an ActiveRecord Single Table Inheritance model with a state_machine defined results in a "FrozenError: can't modify frozen Hash" since Rails 6.1.

Example, suppose we have the following model:

[code]

which has a state and type column (the latter enabling STI) and some subclasses extending from Car. We would expect `Car.new` to return a new Car instance, but instead it crashes w

[2022-04-01 14:01] slgriffiths commented on #363
I'm also hitting the "can't modify Frozen Hash" on Rails `6.1.4.4`.

My `annotate` gem actually triggered the error and adding some tracing to the call links it back to state_machine. We also did not have this issue until we updated rails.

[2022-05-11 10:58] t56k commented on #363
Same here from Rails `6.0.5` to `6.1.6`. Any advice here?

[2022-08-24 18:07] joshuapinter commented on #363
Seeing the same thing here. We make use of `column_defaults` and you can see that as of Rails 6.1, it was changed to freeze the returned Hash:

https://github.com/rails/rails/commit/c9c293e19464c9ce37316f2d917ac123d7b654e6

A number of Hashes were frozen in this commit. Still not sure of a workaround yet but at least we know where it came from and maybe even why.

[2022-08-24 21:03] joshuapinter commented on #363
FYI, since this gem hasn't been updated in 10 years, we updated to the [`state_machines`](https://github.com/state-machines/state_machines) gem (notice the plural "s" there). Specifically, we used the ActiveRecord integration gem called [`state_machines-activerecord`](https://github.com/state-machines/state_machines-activerecord).

What's super nice is that it's a drop-in replacement.

We're still